Repository rero/rero-ils, pull requests merged in 2019-10, with the labels that each got.

#565 documentation: fill in changes and release files
  CHANGES.rst
  RELEASE-NOTES.rst
Labels: documentation

#585 ui: adapt frontpage for mobile devices
  rero_ils/static/scss/rero_ils/frontpage.scss
  rero_ils/templates/rero_ils/frontpage.html
Labels: UI

#586 fixtures: update third organisation circulation policy
  data/circulation_policies.json
Labels: data
