Repository rero/rero-ils, pull requests merged in 2020-12, with the labels that each got.

#1527 package: update lxml to version 4.6.2
  poetry.lock
  pyproject.toml
Labels: dependencies

#1512 users: allow to edit keep_history setting
  pyproject.toml
  rero_ils/modules/loans/api.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
  rero_ils/modules/patrons/templates/rero_ils/_patron_profile_personal.html
  rero_ils/modules/patrons/templates/rero_ils/patron_profile.html
  tests/data/data.json
  tests/ui/loans/test_loans_api.py
Labels: circulation, public ui, user management

#1441 circulation: update ILL request JSON schema
  data/ill_requests.json
  rero_ils/config.py
  rero_ils/modules/ill_requests/api.py
  rero_ils/modules/ill_requests/cli.py
  rero_ils/modules/ill_requests/forms.py
  rero_ils/modules/ill_requests/jsonschemas/ill_requests/ill_request-v0.0.1.json
  rero_ils/modules/ill_requests/listener.py
  rero_ils/modules/ill_requests/mappings/v7/ill_requests/ill_request-v0.0.1.json
  rero_ils/modules/ill_requests/models.py
  rero_ils/modules/ill_requests/permissions.py
  rero_ils/modules/ill_requests/serializers.py
  rero_ils/modules/ill_requests/templates/rero_ils/_macro_form.html
  rero_ils/modules/ill_requests/templates/rero_ils/ill_request_form.html
  rero_ils/modules/patrons/templates/rero_ils/_patron_profile_ill_requests.html
  rero_ils/modules/serializers.py
  tests/api/ill_requests/test_ill_requests_permissions.py
  tests/api/ill_requests/test_ill_requests_rest.py
  tests/api/test_serializers.py
  tests/ui/ill_requests/test_ill_requests_api.py
  tests/unit/test_ill_requests_jsonschema.py
Labels: circulation, data

#1536 vendors: do not translate currency codes
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
Labels: data, translations

#1546 serials: fix claim task
  rero_ils/modules/items/api/issue.py
Labels: professional ui, serials

#1496 users: allow librarian with multiple libraries
  data/users.json
  rero_ils/modules/acq_accounts/api.py
  rero_ils/modules/acq_accounts/permissions.py
  rero_ils/modules/circ_policies/permissions.py
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/holdings/permissions.py
  rero_ils/modules/items/permissions.py
  rero_ils/modules/items/serializers/response.py
  rero_ils/modules/libraries/api.py
  rero_ils/modules/libraries/permissions.py
  rero_ils/modules/loans/cli.py
  rero_ils/modules/locations/permissions.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
  rero_ils/modules/patrons/mappings/v7/patrons/patron-v0.0.1.json
  rero_ils/modules/patrons/permissions.py
  rero_ils/modules/patrons/views.py
  rero_ils/permissions.py
  rero_ils/query.py
  tests/api/acq_accounts/test_acq_accounts_permissions.py
  tests/api/acq_invoices/test_acq_invoices_permissions.py
  tests/api/acq_order_lines/test_acq_order_lines_permissions.py
  tests/api/acq_orders/test_acq_orders_permissions.py
  tests/api/items/test_items_rest.py
  tests/api/items/test_items_rest_views.py
  tests/api/patrons/test_patrons_views.py
  tests/api/test_permissions_librarian.py
  tests/api/test_permissions_sys_librarian.py
  tests/data/acquisition.json
  tests/data/data.json
  tests/ui/patrons/test_patrons_api.py
  tests/ui/patrons/test_patrons_ui.py
Labels: professional ui, user management

#1548 patrons: fix document title in the fees tab
  rero_ils/modules/patrons/templates/rero_ils/_macro_profile.html
Labels: circulation, public ui, user management

#1523 data: fix field partOf multiple generation
  rero_ils/modules/documents/dojson/contrib/marc21tojson/model.py
  tests/unit/test_documents_dojson.py
Labels: data

#1477 circulation: allow 'less than one day' checkout
  .gitignore
  rero_ils/modules/api.py
  rero_ils/modules/circ_policies/jsonschemas/circ_policies/circ_policy-v0.0.1.json
  scripts/russian_dolls
  tests/data/data.json
  tests/fixtures/organisations.py
  tests/ui/circulation/test_inhouse_cipo.py
Labels: circulation, data

#1545 document: identify deleted contribution records
  .github/workflows/continuous-integration-test.yml
  data/pid_dependencies.json
  rero_ils/config.py
  rero_ils/dojson/utils.py
  rero_ils/modules/acq_accounts/mappings/v7/acq_accounts/acq_account-v0.0.1.json
  rero_ils/modules/acq_invoices/mappings/v7/acq_invoices/acq_invoice-v0.0.1.json
  rero_ils/modules/acq_order_lines/mappings/v7/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/acq_orders/mappings/v7/acq_orders/acq_order-v0.0.1.json
  rero_ils/modules/budgets/mappings/v7/budgets/budget-v0.0.1.json
  rero_ils/modules/circ_policies/mappings/v7/circ_policies/circ_policy-v0.0.1.json
  rero_ils/modules/cli.py
  rero_ils/modules/collections/mappings/v7/collections/collection-v0.0.1.json
  rero_ils/modules/contributions/jsonschemas/contributions/contribution-v0.0.1.json
  rero_ils/modules/contributions/mappings/v7/contributions/contribution-v0.0.1.json
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/holdings/api.py
  rero_ils/modules/holdings/mappings/v7/holdings/holding-v0.0.1.json
  rero_ils/modules/ill_requests/mappings/v7/ill_requests/ill_request-v0.0.1.json
  rero_ils/modules/item_types/mappings/v7/item_types/item_type-v0.0.1.json
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  rero_ils/modules/libraries/mappings/v7/libraries/library-v0.0.1.json
  rero_ils/modules/loans/mappings/v7/loans/loan-ils-v0.0.1.json
  rero_ils/modules/local_fields/mappings/v7/local_fields/local_field-v0.0.1.json
  rero_ils/modules/locations/mappings/v7/locations/location-v0.0.1.json
  rero_ils/modules/notifications/mappings/v7/notifications/notification-v0.0.1.json
  rero_ils/modules/organisations/mappings/v7/organisations/organisation-v0.0.1.json
  rero_ils/modules/patron_transaction_events/mappings/v7/patron_transaction_events/patron_transaction_event-v0.0.1.json
  rero_ils/modules/patron_transactions/mappings/v7/patron_transactions/patron_transaction-v0.0.1.json
  rero_ils/modules/patron_types/mappings/v7/patron_types/patron_type-v0.0.1.json
  rero_ils/modules/patrons/cli.py
  rero_ils/modules/patrons/mappings/v7/patrons/patron-v0.0.1.json
  rero_ils/modules/providers.py
  rero_ils/modules/templates/mappings/v7/templates/template-v0.0.1.json
  rero_ils/modules/vendors/mappings/v7/vendors/vendor-v0.0.1.json
  scripts/setup
  tests/api/test_external_services.py
  tests/ui/holdings/test_holdings_item.py
Labels: data, dependencies, needs info, search

#1551 invenio-circulation: upgrade to version v1.0.0a29
  poetry.lock
  pyproject.toml
Labels: circulation, dependencies

#1561 users: allows the 2nd email to be the only one
  data/users.json
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
  tests/api/patrons/test_patrons_rest.py
  tests/fixtures/circulation.py
  tests/ui/patrons/test_patrons_api.py
Labels: editor, user management

#1559 tests: update cypress
  scripts/bootstrap
  scripts/cypress
  tests/e2e/cypress/cypress/integration/circulation/scenario-b.spec.js
  tests/e2e/cypress/cypress/integration/editor/ci-po/create-ci-po.spec.js
  tests/e2e/cypress/cypress/integration/editor/document/create-simple-document.spec.js
  tests/e2e/cypress/cypress/integration/examples/example-test-request.spec.js
  tests/e2e/cypress/cypress/integration/templates/templates-test.spec.js
  tests/e2e/cypress/cypress/support/navigation.js
  tests/e2e/cypress/package-lock.json
  tests/e2e/cypress/package.json
Labels: dependencies, tests
