Repository rero/rero-ils, pull requests merged in 2020-04, with the labels that each got.

#909 translation: fix key source issues
  rero_ils/manual_translations.txt
  rero_ils/modules/acq_accounts/jsonschemas/acq_accounts/acq_account-v0.0.1.json
  rero_ils/modules/acq_invoices/api.py
  rero_ils/modules/acq_invoices/jsonschemas/acq_invoices/acq_invoice-v0.0.1.json
  rero_ils/modules/acq_invoices/mappings/v6/acq_invoices/acq_invoice-v0.0.1.json
  rero_ils/modules/acq_order_lines/jsonschemas/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/acq_order_lines/mappings/v6/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/acq_orders/jsonschemas/acq_orders/acq_order-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document-minimal-v0.0.1_src.json
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1_src.json
  rero_ils/modules/locations/jsonschemas/locations/location-v0.0.1.json
  rero_ils/modules/patron_transaction_events/jsonschemas/patron_transaction_events/patron_transaction_event-v0.0.1.json
  rero_ils/modules/patron_transactions/jsonschemas/patron_transactions/patron_transaction-v0.0.1.json
  rero_ils/modules/patrons/templates/rero_ils/patron_profile.html
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
  rero_ils/views.py
  tests/data/acquisition.json
Labels: translations

#920 documentation: update release notes and changelog
  CHANGES.rst
  RELEASE-NOTES.rst
Labels: release

#852 document: adapt serializer to filter by org in admin view
  rero_ils/config.py
  rero_ils/modules/documents/listener.py
  rero_ils/modules/documents/mappings/v6/documents/document-v0.0.1.json
  rero_ils/modules/documents/serializers.py
  rero_ils/modules/organisations/api.py
  rero_ils/query.py
Labels: deployed on dev, release

#955 circulation: adapt reroils
  Pipfile
  Pipfile.lock
  rero_ils/config.py
  rero_ils/modules/documents/views.py
  rero_ils/modules/items/api.py
  rero_ils/modules/items/api_views.py
  rero_ils/modules/items/utils.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/cli.py
  rero_ils/modules/loans/listener.py
  rero_ils/modules/loans/transitions.py
  rero_ils/modules/loans/utils.py
  rero_ils/modules/locations/api.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/views.py
  tests/api/test_items_rest.py
  tests/api/test_loans_rest.py
  tests/ui/items/test_items_api.py
  tests/ui/loans/test_loans_api.py
  tests/utils.py
Labels: circulation

#845 persons: display idref persons
  .gitignore
  data/documents_big.json
  data/documents_small.json
  data/persons_big.json
  data/persons_small.json
  rero_ils/config.py
  rero_ils/manual_translations.txt
  rero_ils/modules/persons/api.py
  rero_ils/modules/persons/jsonschemas/persons/person-v0.0.1.json
  rero_ils/modules/persons/mappings/v6/persons/person-v0.0.1.json
  rero_ils/modules/persons/templates/rero_ils/_person_by_source.html
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
  scripts/setup
  tests/ui/persons/test_persons_api.py
Labels: mef, release

#935 loan: update request pickup location
  rero_ils/modules/items/api_views.py
  tests/api/test_items_rest_views.py
Labels: deployed on dev, release

#963 documentation: add dependencies in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation
