Repository rero/rero-ils, pull requests merged in 2020-07, with the labels that each got.

#1072 translations: fetch new translations
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
Labels: translations

#1079 circulation: ensure request validation from ui
  doc/circulation/actions.md
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/items/api_views.py
  rero_ils/modules/loans/api.py
  tests/api/circulation/test_actions_views_validate_request.py
  tests/api/test_availability.py
  tests/api/test_loans_rest.py
Labels: circulation

#1080 circulation: ensure pickup location update from ui
  doc/circulation/actions.md
  rero_ils/modules/errors.py
  rero_ils/modules/items/api/api.py
  rero_ils/modules/items/api_views.py
  rero_ils/modules/loans/api.py
  tests/api/circulation/test_actions_views_add_request.py
  tests/api/circulation/test_actions_views_cancel_request.py
  tests/api/circulation/test_actions_views_change_pickup.py
  tests/api/circulation/test_actions_views_checkin.py
  tests/api/circulation/test_actions_views_validate_request.py
  tests/api/circulation/test_pickup_locations.py
Labels: circulation

#1089 circulation: remove unused methods
  rero_ils/modules/items/api/api.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/api_views.py
  rero_ils/modules/loans/api.py
  tests/api/test_availability.py
  tests/api/test_item_rest.py
  tests/api/test_loans_rest.py
  tests/ui/items/test_items_api.py
Labels: circulation

#1092 translations: prepare project for weblate
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
  run-tests.sh
Labels: translations

#1051 permissions: refactoring organisation permissions
  rero_ils/config.py
  rero_ils/modules/imports/api.py
  rero_ils/modules/imports/serializers.py
  rero_ils/modules/items/api/api.py
  rero_ils/modules/organisations/api.py
  rero_ils/modules/organisations/permissions.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/permissions.py
  rero_ils/modules/utils.py
  rero_ils/permissions.py
  tests/api/organisations/test_organisations_permissions.py
  tests/api/organisations/test_organisations_rest_api.py
  tests/api/test_record_permissions.py
  tests/ui/organisations/test_organisations_api.py
Labels: permissions

#1106 documentation: add a weblate badge to the README
  .github/PULL_REQUEST_TEMPLATE.md
  README.rst
Labels: documentation, translations

#1109 documentation: fix README weblate badge
  README.rst
Labels: documentation

#1103 permission: refactoring document permission factory
  rero_ils/config.py
  rero_ils/modules/documents/permissions.py
  rero_ils/permissions.py
  tests/api/documents/test_documents_permissions.py
  tests/api/documents/test_documents_rest.py
  tests/api/test_record_permissions.py
  tests/ui/test_permissions.py
Labels: permissions

#1115 server: enable options to server script
  scripts/server
Labels: enhancement
