Repository rero/rero-ils, pull requests merged in 2020-02, with the labels that each got.

#738 ES: fix listeners
  rero_ils/modules/fees/listener.py
  rero_ils/modules/patrons/listener.py
  rero_ils/modules/persons/listener.py
Labels: release

#720 patrons: display checkout history for patron
  rero_ils/modules/loans/api.py
  rero_ils/modules/patrons/templates/rero_ils/patron_profile.html
  rero_ils/modules/patrons/views.py
  rero_ils/translations/messages.pot
  tests/ui/patrons/test_patrons_ui.py
Labels: release

#744 homepage: add homepage informations for pilot instance
  check_license_config.yml
  rero_ils/modules/cli.py
  rero_ils/templates/rero_ils/_info_help.html
  rero_ils/templates/rero_ils/_info_pilot.html
  rero_ils/templates/rero_ils/_info_test.html
  rero_ils/templates/rero_ils/frontpage.html
Labels: release

#749 circulation: correct pickup location for actions
  rero_ils/modules/items/api.py
  rero_ils/modules/items/api_views.py
  tests/api/test_items_rest.py
Labels: release

#754 documents: update schemas about abstract field
  rero_ils/modules/documents/jsonschemas/documents/document-minimal-v0.0.1_src.json
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1_src.json
Labels: release

#752 ui: move to rero-ils-ui@0.0.10
  rero_ils/bundles.py
Labels: release

#760 permissions: update and delete permissions api for records
  rero_ils/config.py
  rero_ils/modules/permissions.py
  rero_ils/modules/serializers.py
  rero_ils/modules/utils.py
  rero_ils/modules/views.py
  rero_ils/query.py
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  setup.py
  tests/api/test_record_permissions.py
Labels: release

#766 config: allow loading inline image in the security configuration
  rero_ils/config.py
Labels: release

#768 ebooks: fix ebook import indexing
  rero_ils/modules/ebooks/tasks.py
Labels: release

#767 config: allow loading external script
  rero_ils/config.py
Labels: release

#773 security: authorize unsafe-eval param on script-src
  rero_ils/config.py
Labels: release

#774 items: fix automatic checkin return informations
  rero_ils/modules/items/api.py
Labels: release

#779 documents: Add pickup location names for the item request button
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  tests/api/test_items_rest_views.py
Labels: release

#781 data: correction on users data
  data/users.json
Labels: minor

#782 circulation: fix item status after a check-in
  rero_ils/config.py
  rero_ils/modules/loans/transitions.py
  tests/api/test_circ_bug.py
Labels: release

#795 circulation: fix loan after a checkin of a validated request
  rero_ils/modules/items/api.py
Labels: release

#806 circulation: fix some loan scenarios
  rero_ils/modules/items/api.py
  tests/api/test_items_in_transit.py
  tests/api/test_items_rest_views.py
Labels: release

#764 release: v0.6.0
  rero_ils/version.py
Labels: deployed on dev
