Repository rero/rero-ils, pull requests merged in 2020-05, with the labels that each got.

#967 translation: update translations, improve schema
  rero_ils/manual_translations.txt
  rero_ils/modules/documents/jsonschemas/documents/document-minimal-v0.0.1_src.json
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1_src.json
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
Labels: translations

#966 release: v0.8.0
  CHANGES.rst
  RELEASE-NOTES.rst
  rero_ils/bundles.py
  rero_ils/version.py
Labels: release

#997 translations: add translations API
  rero_ils/modules/documents/views.py
  rero_ils/modules/items/views.py
  rero_ils/modules/views.py
  setup.py
  tests/api/test_availability.py
  tests/api/test_documents_rest.py
  tests/api/test_items_rest_views.py
  tests/api/test_translations.py
  tests/ui/documents/test_documents_filter.py
Labels: translations

#995 documentation: add an actual README to the project
  README.rst
Labels: documentation

#998 v0.9.0 translations
  babel.ini
  rero_ils/manual_translations.txt
  rero_ils/modules/documents/jsonschemas/documents/document-minimal-v0.0.1_src.json
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1_src.json
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
Labels: translations
