Repository rero/rero-ils, pull requests merged in 2020-06, with the labels that each got.

#1009 release: v0.9.0
  CHANGES.rst
  RELEASE-NOTES.rst
  poetry.lock
  pyproject.toml
  rero_ils/bundles.py
  rero_ils/version.py
Labels: release

#1037 cli: correct wrong process bulk queue
  rero_ils/modules/acq_accounts/api.py
  rero_ils/modules/acq_invoices/api.py
  rero_ils/modules/acq_order_lines/api.py
  rero_ils/modules/acq_orders/api.py
  rero_ils/modules/api.py
  rero_ils/modules/budgets/api.py
  rero_ils/modules/circ_policies/api.py
  rero_ils/modules/cli.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/item_types/api.py
  rero_ils/modules/items/api/api.py
  rero_ils/modules/libraries/api.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/locations/api.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/organisations/api.py
  rero_ils/modules/patron_transaction_events/api.py
  rero_ils/modules/patron_transactions/api.py
  rero_ils/modules/patron_types/api.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/persons/api.py
  rero_ils/modules/tasks.py
  rero_ils/modules/vendors/api.py
Labels: bug

#1044 circulation: implement the checkin action
  doc/circulation/actions.md
  poetry.lock
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/errors.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/loans/utils.py
  rero_ils/modules/patrons/api.py
  tests/api/test_circ_bug.py
  tests/api/test_items_rest.py
  tests/api/test_items_rest_views.py
  tests/api/test_loans_rest.py
  tests/api/test_tasks.py
  tests/data/data.json
  tests/fixtures/circulation.py
  tests/fixtures/organisations.py
  tests/ui/circulation/test_actions_checkin.py
Labels: circulation

#1050 documentation: configure github issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/correction.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: documentation

#1064 documentation: add an issue template for dev
  .github/ISSUE_TEMPLATE/developers.md
Labels: documentation

#1059 document: adapt the importation REST API to the UI
  rero_ils/modules/cli.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/ext.py
  rero_ils/modules/imports/api.py
  rero_ils/modules/imports/serializers.py
  rero_ils/modules/imports/views.py
  tests/api/test_external_services.py
Labels: data
