Repository rero/rero-ils, pull requests merged in 2020-08, with the labels that each got.

#1117 permission: refactoring structure resources permission factory
  rero_ils/config.py
  rero_ils/modules/libraries/permissions.py
  rero_ils/modules/locations/permissions.py
  rero_ils/permissions.py
  tests/api/libraries/test_libraries_permissions.py
  tests/api/libraries/test_libraries_rest.py
  tests/api/locations/test_locations_permissions.py
  tests/api/locations/test_locations_rest.py
  tests/api/test_permissions_librarian.py
Labels: permissions

#1125 tests: enhance Cypress with fixtures
  tests/e2e/cypress/cypress/fixtures/common.json
  tests/e2e/cypress/cypress/fixtures/example.json
  tests/e2e/cypress/cypress/fixtures/users.json
  tests/e2e/cypress/cypress/integration/circulation/checkout-checkin.spec.js
Labels: enhancement

#1142 scripts: install ng-core and ui in main project
  pyproject.toml
  scripts/russian_dolls
Labels: enhancement

#1169 circulation: allow requests on ITEM_IN_TRANSIT_TO_HOUSE loans.
  rero_ils/modules/items/api/circulation.py
  tests/api/items/test_items_rest.py
  tests/api/test_item_rest.py
  tests/api/test_loans_rest.py
Labels: circulation

#1129 data model: implement contribution
  data/documents_big.json
  data/documents_small.json
  rero_ils/config.py
  rero_ils/dojson/utils.py
  rero_ils/jsonschemas/common/languages-v0.0.1.json
  rero_ils/manual_translations.txt
  rero_ils/modules/cli.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/model.py
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_authors-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_identifiedby-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_organisation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_person-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_person_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_role-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_series-v0.0.1.json
  rero_ils/modules/documents/listener.py
  rero_ils/modules/documents/mappings/v6/documents/document-v0.0.1.json
  rero_ils/modules/documents/serializers.py
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/modules/documents/utils.py
  rero_ils/modules/documents/views.py
  rero_ils/modules/ebooks/dojson/contrib/marc21/model.py
  rero_ils/modules/imports/api.py
  rero_ils/modules/patrons/templates/rero_ils/_patron_profile_history.html
  rero_ils/modules/patrons/templates/rero_ils/_patron_profile_loans.html
  rero_ils/modules/patrons/templates/rero_ils/_patron_profile_requests.html
  rero_ils/modules/persons/api.py
  rero_ils/modules/persons/views.py
  rero_ils/utils.py
  scripts/setup
  tests/api/conftest.py
  tests/api/documents/test_documents_rest.py
  tests/api/test_external_services.py
  tests/data/data.json
  tests/data/documents.json
  tests/data/holdings.json
  tests/fixtures/metadata.py
  tests/ui/documents/test_documents_api.py
  tests/ui/documents/test_documents_filter.py
  tests/ui/documents/test_documents_ui.py
  tests/ui/persons/test_persons_api.py
  tests/unit/test_documents_dojson.py
  tests/unit/test_documents_dojson_ebooks.py
  tests/unit/test_documents_dojson_unimarc.py
  tests/unit/test_documents_jsonschema.py
Labels: data

#1176 test: fix autoflake errors
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/model.py
  rero_ils/modules/items/api/circulation.py
  tests/api/circulation/scenarios/test_scenario_a.py
  tests/api/circulation/scenarios/test_scenario_b.py
  tests/api/circulation/scenarios/test_scenario_c.py
  tests/api/circulation/scenarios/test_scenario_d.py
  tests/api/circulation/test_actions_views_add_request.py
  tests/api/circulation/test_actions_views_cancel_request.py
  tests/api/circulation/test_actions_views_change_pickup.py
  tests/api/circulation/test_actions_views_checkin.py
  tests/api/circulation/test_actions_views_validate_request.py
  tests/api/items/test_items_rest.py
  tests/api/test_item_rest.py
  tests/api/test_loans_rest.py
  tests/ui/circ_policies/test_circ_policies_api.py
  tests/ui/circ_policies/test_circ_policies_utils.py
  tests/ui/circulation/test_actions_cancel_request.py
  tests/ui/circulation/test_actions_extend.py
  tests/ui/circulation/test_actions_validate_request.py
  tests/ui/circulation/test_loan_utils.py
  tests/ui/item_types/test_item_types_api.py
Labels: bug

#1170 permission: refactoring the loan permission factory
  rero_ils/config.py
  rero_ils/modules/loans/permissions.py
  rero_ils/modules/utils.py
  rero_ils/permissions.py
  rero_ils/query.py
  tests/api/items/test_item_rest.py
  tests/api/loans/test_loans_permissions.py
  tests/api/loans/test_loans_rest.py
  tests/api/organisations/test_organisations_rest_api.py
  tests/api/test_permissions_patron.py
Labels: circulation, permissions

#1130 item: update item/doc for new acquisition
  data/holdings_big.json
  data/holdings_small.json
  data/items_big.json
  data/items_small.json
  rero_ils/config.py
  rero_ils/modules/documents/listener.py
  rero_ils/modules/documents/mappings/v6/documents/document-v0.0.1.json
  rero_ils/modules/documents/utils.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/items/api/api.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/cli.py
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/items/mappings/v6/items/item-v0.0.1.json
  rero_ils/query.py
  tests/api/documents/test_documents_rest.py
  tests/api/items/test_items_rest_views.py
  tests/ui/items/test_items_api.py
  tests/unit/test_items_jsonschema.py
Labels: acquisition, search

#1177 circulation: fix validate request return type
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/items/api_views.py
Labels: circulation
