Repository rero/rero-ils, pull requests merged in 2020-11, with the labels that each got.

#1338 editor: restore default value for hidden field
  poetry.lock
  pyproject.toml
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_person-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_role-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_electronic_locator-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_identified_by-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_issuance-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_language-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_note-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_provision_activity-v0.0.1.json
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/templates/jsonschemas/templates/template-v0.0.1.json
Labels: editor

#1346 circulation: fix bug on checkout with request
  rero_ils/modules/items/api_views.py
Labels: bug, circulation

#1260 cypress: create test for collections
  tests/e2e/cypress/cypress/fixtures/collections.json
  tests/e2e/cypress/cypress/integration/application/test-login-logout.spec.js
  tests/e2e/cypress/cypress/integration/circulation/scenario-a.spec.js
  tests/e2e/cypress/cypress/integration/circulation/scenario-b.spec.js
  tests/e2e/cypress/cypress/integration/collections/test-collections.spec.js
  tests/e2e/cypress/cypress/integration/editor/document/create-simple-document.spec.js
  tests/e2e/cypress/cypress/integration/examples/empty-template.spec.js.disabled
  tests/e2e/cypress/cypress/integration/examples/example-test-request.spec.js
  tests/e2e/cypress/cypress/integration/templates/templates-test.spec.js
  tests/e2e/cypress/cypress/support/collection.js
  tests/e2e/cypress/cypress/support/index.js
  tests/e2e/cypress/cypress/support/navigation.js
  tests/e2e/cypress/cypress/support/record.js
  tests/e2e/cypress/cypress/support/user.js
Labels: cypress

#1368 patrons: fix patron editor
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
Labels: editor, user management

#1408 circulation: check in an item with no loans
  rero_ils/modules/items/api/circulation.py
  tests/ui/circulation/test_actions_checkin.py
Labels: bug, circulation

#1414 document: fix due date in detailed view
  rero_ils/modules/items/api/circulation.py
Labels: circulation

#1404 transactions: fix paid fees still opened
  rero_ils/modules/patron_transaction_events/api.py
  tests/api/test_patron_payments_rest.py
Labels: bug, circulation

#1430 deployment: fix poetry version to < 1.1.0
  Dockerfile.base
Labels: dependencies

#1336 templates: create new holdings templates
  data/templates.json
  rero_ils/modules/holdings/api.py
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  tests/ui/holdings/test_holdings_patterns.py
Labels: acquisition, data, serials

#1413 frontpage: fix patron profile link translation
  rero_ils/modules/patrons/views.py
Labels: translations

#1429 ui: fix translation issues
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/locations/api.py
Labels: translations

#1446 CI: fix github actions
  .github/workflows/continuous-integration-test.yml
Labels: developers, tests

#1464 tests: fix sort title error
  tests/api/documents/test_documents_rest.py
Labels: tests

#1457 holdings: remove extra titles for some fields in editor
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
Labels: editor, serials

#1476 notes: allow notes of short size
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
Labels: data

#1479 data: set several minLength to 1
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
Labels: data, pilot libraries

#1480 dojson: update convertion for IdRef links
  .github/workflows/continuous-integration-test.yml
  data/contributions_big.json
  data/contributions_small.json
  data/documents_big.json
  data/documents_small.json
  data/holdings_big.json
  data/holdings_small.json
  data/items_big.json
  data/items_small.json
  rero_ils/modules/documents/dojson/contrib/marc21tojson/model.py
  tests/unit/test_documents_dojson.py
  tests/utils.py
Labels: data

#1465 UI: improve account menu entry visibility
  rero_ils/templates/rero_ils/header.html
  rero_ils/views.py
Labels: public ui, user management

#1497 documentation: improve issues templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/correction.md
  .github/ISSUE_TEMPLATE/developers.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: documentation

#1433 git: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#1504 menu: update the language menu entry
  rero_ils/views.py
Labels: public ui

#1494 circulation: allow overriding exception
  rero_ils/modules/documents/jsonschemas/documents/document_color_content-v0.0.1.json
  rero_ils/modules/items/api_views.py
  rero_ils/modules/items/decorators.py
  tests/api/circulation/test_borrow_limits.py
Labels: circulation

#1511 Translations update from Weblate
  rero_ils/translations/es/LC_MESSAGES/messages.po
Labels: translations

#1448 tests: fix Cypress tests after v0.14.0
  tests/e2e/cypress/cypress/integration/application/test-login-logout.spec.js
  tests/e2e/cypress/cypress/integration/circulation/scenario-a.spec.js
  tests/e2e/cypress/cypress/integration/circulation/scenario-b.spec.js
  tests/e2e/cypress/cypress/integration/editor/document/create-simple-document.spec.js
  tests/e2e/cypress/cypress/integration/templates/templates-test.spec.js
Labels: tests

#1432 document: improve provision activity date fields
  rero_ils/modules/documents/jsonschemas/documents/document_provision_activity-v0.0.1.json
Labels: data, wording

#1500 dependencies: update after v0.14.1
  poetry.lock
Labels: dependencies

#1502 circulation: add control on circulation operation
  rero_ils/config.py
  rero_ils/modules/circ_policies/api.py
  rero_ils/modules/patron_types/api.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
  rero_ils/modules/patrons/utils.py
  rero_ils/modules/utils.py
  tests/api/circulation/test_actions_views_extend_loan_request.py
Labels: bug, circulation
