Repository rero/rero-ils, pull requests merged in 2020-09, with the labels that each got.

#1194 document: replace role label content with values
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_role-v0.0.1.json
Labels: data

#1134 marc21tojson: fix transformation errors
  data/documents_big.json
  data/documents_small.json
  docker/nginx/nginx.conf
  docker/uwsgi/uwsgi_rest.ini
  docker/uwsgi/uwsgi_ui.ini
  rero_ils/dojson/utils.py
  rero_ils/manual_translations.txt
  rero_ils/modules/api.py
  rero_ils/modules/cli.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/model.py
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_organisation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_role-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_dimensions-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_extent-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_note-v0.0.1.json
  rero_ils/modules/ebooks/dojson/contrib/marc21/model.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/items/api/api.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/patrons/cli.py
  rero_ils/modules/utils.py
  scripts/bootstrap
  scripts/setup
  tests/unit/test_documents_dojson.py
Labels: data

#1197 holdings: allow creating std holdings on journal
  rero_ils/modules/holdings/api.py
  tests/api/holdings/test_patterns.py
  tests/ui/holdings/test_holdings_patterns.py
Labels: pilot libraries

#1205 persons: fix public search count
  rero_ils/modules/persons/api.py
  scripts/setup
Labels: correction, search

#1204 fixtures: add an organisation for cypress
  data/circulation_policies.json
  data/item_types.json
  data/libraries.json
  data/locations.json
  data/organisations.json
  data/patron_types.json
  data/users.json
  rero_ils/modules/organisations/api.py
  rero_ils/templates/rero_ils/frontpage.html
  tests/ui/test_views.py
Labels: circulation, data

#1195 search: remove useless translated facets
  rero_ils/config.py
  rero_ils/facets.py
  rero_ils/query.py
  tests/api/documents/test_documents_rest.py
  tests/api/items/test_item_rest.py
Labels: performance, search

#1180 cypress: create model test
  .gitignore
  rero_ils/modules/documents/templates/rero_ils/_documents_get.html
  tests/e2e/cypress/cypress.json
  tests/e2e/cypress/cypress/fixtures/documents.json
  tests/e2e/cypress/cypress/fixtures/items.json
  tests/e2e/cypress/cypress/fixtures/users.json
  tests/e2e/cypress/cypress/integration/circulation/checkout-checkin.spec.js
  tests/e2e/cypress/cypress/integration/editor/document/create-simple-document.spec.js
  tests/e2e/cypress/cypress/integration/templates/template-test-request.spec.js
  tests/e2e/cypress/cypress/support/circulation.js
  tests/e2e/cypress/cypress/support/commands.js
  tests/e2e/cypress/cypress/support/navigation.js
  tests/e2e/cypress/cypress/support/record.js
  tests/e2e/cypress/cypress/support/user.js
  tests/e2e/cypress/package-lock.json
  tests/e2e/cypress/package.json
Labels: circulation

#1203 cypress: create scenario A test
  rero_ils/modules/loans/api.py
  rero_ils/modules/patrons/templates/rero_ils/_patron_profile_requests.html
  tests/e2e/cypress/cypress/fixtures/items.json
  tests/e2e/cypress/cypress/fixtures/users.json
  tests/e2e/cypress/cypress/integration/circulation/scenario-a.spec.js
  tests/e2e/cypress/cypress/integration/templates/template-test-request.spec.js
  tests/e2e/cypress/cypress/support/circulation.js
  tests/e2e/cypress/cypress/support/commands.js
  tests/e2e/cypress/cypress/support/navigation.js
  tests/e2e/cypress/cypress/support/record.js
  tests/e2e/cypress/cypress/support/user.js
Labels: circulation

#1210 release: v0.12.0rc
  CHANGES.rst
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/bundles.py
  rero_ils/version.py
Labels: documentation

#1224 dojson: fix unimarc publishers provision activity
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  tests/unit/test_documents_dojson_unimarc.py
Labels: correction, data

#1232 loan: fix patron name
  rero_ils/modules/loans/api.py
Labels: circulation

#1206 monitoring: fix es duplicate monitoring
  rero_ils/modules/cli.py
  rero_ils/modules/monitoring.py
  tests/api/test_monitoring_rest.py
  tests/ui/test_monitoring.py
Labels: enhancement

#1202 indexer: fix bulk indexing
  rero_ils/modules/cli.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/persons/api.py
  rero_ils/modules/persons/tasks.py
  scripts/setup
  tests/ui/persons/test_persons_api.py
Labels: correction, search
