Repository rero/rero-ils, pull requests merged in 2021-09, with the labels that each got.

#2346 notifications: support pickup location deletion
  rero_ils/modules/notifications/api.py
  rero_ils/modules/notifications/dispatcher.py
  tests/api/notifications/test_notifications_rest.py
  tests/fixtures/circulation.py
Labels: notifications

#2345 notifications: add cancel notification
  rero_ils/modules/cli.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/listener.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/jsonschemas/notifications/notification-v0.0.1.json
  rero_ils/modules/notifications/mappings/v7/notifications/notification-v0.0.1.json
  rero_ils/modules/notifications/models.py
  rero_ils/modules/notifications/tasks.py
  rero_ils/modules/notifications/utils.py
  tests/api/circulation/test_borrow_limits.py
  tests/api/loans/test_loans_rest.py
  tests/api/notifications/test_notifications_rest.py
  tests/api/selfcheck/test_selfcheck.py
  tests/data/data.json
  tests/fixtures/circulation.py
Labels: circulation, notifications, search

#2350 patrons: ignore created loans at patrons deletion
  rero_ils/modules/patrons/api.py
Labels: user management

#2351 selfcheck: fix attibute error
  rero_ils/modules/selfcheck/api.py
Labels: circulation

#2349 notifications: fix overdue without library open days
  rero_ils/modules/circ_policies/api.py
  tests/api/test_tasks.py
Labels: circulation

#2347 loans: handle loans without patrons
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/logs/api.py
  rero_ils/modules/loans/tasks.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/listener.py
  tests/ui/loans/test_loans_api.py
Labels: circulation, user management, activity-logs

#2357 notifications: add due soon date
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/extensions.py
  rero_ils/modules/loans/jsonschemas/loans/loan-ils-v0.0.1.json
  rero_ils/modules/loans/mappings/v7/loans/loan-ils-v0.0.1.json
  tests/api/loans/test_loans_rest.py
  tests/api/test_tasks.py
Labels: circulation, search

#2359 selfcheck: fix checkout on item with pick-up status
  rero_ils/modules/selfcheck/api.py
Labels: circulation

#2360 notifications: process due soon, overdue almost without delay
  rero_ils/config.py
  rero_ils/modules/cli.py
  rero_ils/modules/notifications/tasks.py
  scripts/setup
  tests/data/data.json
  tests/unit/test_circ_policies_jsonschema.py
Labels: developers, notifications

#2365 release: v1.4.9
  CHANGES.md
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/version.py
Labels: documentation

#2374 translations: translate v1.5.0
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
Labels: translations

#2307 items: fix requested loans by library list
  rero_ils/modules/items/views/api_views.py
  rero_ils/modules/loans/api.py
Labels: circulation

#2376 documents: do not translate URL in detailed view
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/modules/documents/views.py
  rero_ils/theme/templates/rero_ils/page.html
  tests/unit/test_documents_dojson.py
Labels: public ui

#2378 release: v1.4.10
  CHANGES.md
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers, documentation

#2380 theme: change the link for ILL prices
  rero_ils/theme/templates/rero_ils/_frontpage_block_vs.html
Labels: public ui

#2379 professional: fix angular assets
  rero_ils/theme/templates/rero_ils/professional.html
Labels: public ui

#2381 release: v1.4.11
  CHANGES.md
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/version.py
Labels: documentation

#2382 loans: fix requested items dump
  rero_ils/modules/loans/api.py
Labels: circulation

#2241 documents: display all fields on the detail view
  rero_ils/filter.py
  rero_ils/modules/documents/templates/rero_ils/_documents_description.html
  rero_ils/modules/documents/templates/rero_ils/_other_edition.html
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/modules/documents/views.py
  rero_ils/modules/ext.py
  rero_ils/modules/utils.py
  rero_ils/theme/assets/scss/rero_ils/documents/detailed.scss
  tests/ui/documents/test_documents_filter.py
  tests/ui/test_filters.py
  tests/unit/test_utils.py
Labels: public ui

#2316 editor: remove default values on optional fields
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_content_media_carrier-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_organisation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_electronic_locator-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_scale_cartographic-v0.0.1.json
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  tests/unit/test_documents_jsonschema.py
Labels: data

#2271 items: disable the delete action if there is a fee
  rero_ils/modules/items/api/api.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/patron_transactions/listener.py
  rero_ils/modules/patron_transactions/mappings/v7/patron_transactions/patron_transaction-v0.0.1.json
  tests/api/loans/test_loans_delete_item_rest.py
  tests/api/loans/test_loans_rest.py
  tests/api/patron_transactions/test_patron_transactions_rest.py
  tests/ui/items/test_items_api.py
Labels: circulation, search, bug

#2392 footer: fix missing version
  rero_ils/modules/ext.py
  rero_ils/theme/templates/rero_ils/footer.html
  rero_ils/theme/views.py
Labels: public ui

#2309 documents: optimize serialization
  rero_ils/modules/api.py
  rero_ils/modules/documents/serializers.py
  rero_ils/modules/libraries/api.py
  rero_ils/modules/organisations/api.py
Labels: enhancement

#2384 patrons: improve patron dumping
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/extensions.py
  tests/ui/patrons/test_patrons_api.py
Labels: user management

#2389 documents: prevent referenced document deletion
  rero_ils/modules/acq_accounts/api.py
  rero_ils/modules/acq_order_lines/api.py
  rero_ils/modules/acq_orders/api.py
  rero_ils/modules/api.py
  rero_ils/modules/budgets/api.py
  rero_ils/modules/circ_policies/api.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/serializers.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/item_types/api.py
  rero_ils/modules/items/api/api.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/libraries/api.py
  rero_ils/modules/locations/api.py
  rero_ils/modules/organisations/api.py
  rero_ils/modules/patron_transactions/api.py
  rero_ils/modules/patron_types/api.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/utils.py
  rero_ils/modules/vendors/api.py
  tests/api/patron_transactions/test_patron_transactions_rest.py
  tests/ui/circ_policies/test_circ_policies_api.py
  tests/ui/holdings/test_holdings_item.py
  tests/ui/items/test_items_api.py
Labels: circulation, user management, acquisitions

#2404 translations: translate v1.5.0
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
Labels: translations

#2403 acquisition: delete order and its order lines
  rero_ils/modules/acq_orders/api.py
  rero_ils/modules/acq_orders/extensions.py
  tests/api/acq_orders/test_acq_orders_rest.py
  tests/api/acquisition/test_acquisition_scenarios.py
Labels: acquisitions

#2409 documentation: extend labeler rules
  .github/labeler.yml
Labels: documentation

#2395 operation logs: untrack some changes.
  poetry.lock
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/ext.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/ill_requests/api.py
  rero_ils/modules/ill_requests/extensions.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/operation_logs/api.py
  rero_ils/modules/operation_logs/extensions.py
  rero_ils/modules/operation_logs/listener.py
  rero_ils/modules/operation_logs/models.py
  tests/api/operation_logs/test_operation_logs_rest.py
Labels: circulation, data-migration, activity-logs, DB

#2386 templates: prevent resolving $ref from data field
  rero_ils/modules/templates/api.py
  tests/ui/templates/test_templates_api.py
Labels: data

#2415 documentation: add a minimal security policy
  CONTRIBUTING.rst
  README.rst
  SECURITY.rst
Labels: documentation

#2417 notification: fix loan notification candidates
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/loans/api.py
Labels: circulation

#2424 translations: complete v1.5.0 translations
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
Labels: translations

#2425 release: v1.5.0
  CHANGES.md
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers, documentation
