Repository rero/rero-ils, pull requests merged in 2021-01, with the labels that each got.

#1556 documents: increase login button visibility
  rero_ils/modules/documents/templates/rero_ils/_documents_get.html
Labels: public ui

#1538 items: inherit holdings first call_number
  rero_ils/modules/collections/api.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/serializers/csv.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/notifications/utils.py
  tests/ui/holdings/test_holdings_api.py
  tests/ui/holdings/test_holdings_patterns.py
Labels: data, serials

#1582 search: improve ES template for configuration
  rero_ils/es_templates/v7/record.json
  rero_ils/modules/acq_accounts/mappings/v7/acq_accounts/acq_account-v0.0.1.json
  rero_ils/modules/acq_invoices/mappings/v7/acq_invoices/acq_invoice-v0.0.1.json
  rero_ils/modules/acq_order_lines/mappings/v7/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/acq_orders/mappings/v7/acq_orders/acq_order-v0.0.1.json
  rero_ils/modules/budgets/mappings/v7/budgets/budget-v0.0.1.json
  rero_ils/modules/circ_policies/mappings/v7/circ_policies/circ_policy-v0.0.1.json
  rero_ils/modules/collections/mappings/v7/collections/collection-v0.0.1.json
  rero_ils/modules/contributions/mappings/v7/contributions/contribution-v0.0.1.json
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/holdings/mappings/v7/holdings/holding-v0.0.1.json
  rero_ils/modules/ill_requests/mappings/v7/ill_requests/ill_request-v0.0.1.json
  rero_ils/modules/item_types/mappings/v7/item_types/item_type-v0.0.1.json
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  rero_ils/modules/libraries/mappings/v7/libraries/library-v0.0.1.json
  rero_ils/modules/loans/mappings/v7/loans/loan-ils-v0.0.1.json
  rero_ils/modules/local_fields/mappings/v7/local_fields/local_field-v0.0.1.json
  rero_ils/modules/locations/mappings/v7/locations/location-v0.0.1.json
  rero_ils/modules/notifications/mappings/v7/notifications/notification-v0.0.1.json
  rero_ils/modules/organisations/mappings/v7/organisations/organisation-v0.0.1.json
  rero_ils/modules/patron_transaction_events/mappings/v7/patron_transaction_events/patron_transaction_event-v0.0.1.json
  rero_ils/modules/patron_transactions/mappings/v7/patron_transactions/patron_transaction-v0.0.1.json
  rero_ils/modules/patron_types/mappings/v7/patron_types/patron_type-v0.0.1.json
  rero_ils/modules/patrons/mappings/v7/patrons/patron-v0.0.1.json
  rero_ils/modules/templates/mappings/v7/templates/template-v0.0.1.json
  rero_ils/modules/vendors/mappings/v7/vendors/vendor-v0.0.1.json
  tests/ui/circulation/test_inhouse_cipo.py
Labels: search

#1605 gh actions: set the stale workflow
  .github/workflows/stale.yml
Labels: documentation

#1590 items: improve automatic barcode generation
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/loans/jsonschemas/loans/loan-ils-v0.0.1.json
Labels: data

#1607 gh actions: fix wrong yaml format in stale worflow
  .github/workflows/stale.yml
Labels: documentation

#1572 search: fix author facet of BnF import search view
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  rero_ils/modules/imports/api.py
  rero_ils/modules/imports/views.py
  scripts/setup
Labels: bug, import records, search

#1613 gh-actions: fix wrong label in stale workflow file
  .github/workflows/stale.yml
Labels: documentation

#1608 holdings: add new fields to serial type holdings
  data/patterns.json
  rero_ils/modules/documents/views.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/holdings/cli.py
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/holdings/mappings/v7/holdings/holding-v0.0.1.json
  tests/api/holdings/test_patterns.py
  tests/data/holdings.json
  tests/unit/test_holdings_jsonschema.py
Labels: serials

#1624 operation_logs: capture operation after record creation
  rero_ils/config.py
  rero_ils/modules/ext.py
  rero_ils/modules/operation_logs/jsonresolver.py
  rero_ils/modules/operation_logs/jsonschemas/operation_logs/operation_log-v0.0.1.json
  rero_ils/modules/operation_logs/listener.py
  rero_ils/modules/operation_logs/mappings/v7/operation_logs/operation_log-v0.0.1.json
  rero_ils/modules/operation_logs/permissions.py
  rero_ils/modules/patrons/views.py
  tests/data/data.json
  tests/fixtures/metadata.py
  tests/ui/test_monitoring.py
  tests/unit/conftest.py
  tests/unit/test_operation_logs_jsonschema.py
Labels: feature_request

#1588 search: adapt suggestions to the locale
  rero_ils/theme/templates/rero_ils/frontpage.html
  rero_ils/theme/templates/rero_ils/header.html
Labels: search

#1644 test: fix test in house
  rero_ils/modules/libraries/api.py
  rero_ils/modules/libraries/jsonschemas/libraries/library-v0.0.1.json
  tests/api/circulation/test_temporary_item_type.py
  tests/ui/circulation/test_inhouse_cipo.py
Labels: bug

#1648 holdings: fix is_serial definition
  rero_ils/modules/holdings/api.py
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  tests/api/holdings/test_patterns.py
Labels: serials

#1652 editor: display EnumerationAndChronology item field
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
Labels: editor

#1626 monitoring: monitor redis and add monitoring user
  rero_ils/config.py
  rero_ils/modules/ebooks/receivers.py
  rero_ils/modules/items/tasks.py
  rero_ils/modules/loans/tasks.py
  rero_ils/modules/monitoring.py
  rero_ils/modules/notifications/tasks.py
  rero_ils/modules/patrons/tasks.py
  rero_ils/modules/tasks.py
  rero_ils/modules/utils.py
  rero_ils/permissions.py
  scripts/setup
  tests/api/test_monitoring_rest.py
Labels: monitoring
