Repository rero/rero-ils, pull requests merged in 2021-05, with the labels that each got.

#1863 documents: improve search result boosting
  rero_ils/config.py
Labels: enhancement, search

#1861 fees: fix creation of not overdue fee
  rero_ils/modules/patron_transaction_events/api.py
  tests/api/patron_transactions/test_patron_transactions_rest.py
  tests/data/data.json
  tests/fixtures/circulation.py
Labels: bug, circulation, user management

#1856 circulation: load legacy transactions
  data/checkouts.json
  data/fines.json
  data/requests.json
  rero_ils/modules/cli.py
  rero_ils/modules/loans/cli.py
  scripts/setup
Labels: data-migration

#1862 documents: fix json schema for identifier
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_organisation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_person-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_identifier-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_subjects-v0.0.1.json
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
Labels: bug, data, editor

#1860 documents: update subject display
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/jsonschemas/documents/document_subjects-v0.0.1.json
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/modules/documents/views.py
Labels: data, professional ui, public ui

#1838 notifications: fix reminder notification problems.
  rero_ils/config.py
  rero_ils/modules/items/api/issue.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/utils.py
  tests/api/loans/test_loans_rest.py
  tests/api/test_tasks.py
  tests/ui/loans/test_loans_api.py
Labels: bug, notifications

#1854 vendors: restrict deletion
  rero_ils/modules/vendors/api.py
  tests/api/vendors/test_vendors.py
Labels: acquisition, bug

#1866 patrons: allow multiple local codes
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
  rero_ils/modules/patrons/mappings/v7/patrons/patron-v0.0.1.json
  tests/unit/test_patrons_jsonschema.py
Labels: data, user management

#1865 issue: fix creation of late issue
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/items/api/issue.py
  tests/data/holdings.json
  tests/ui/holdings/test_serial_claims.py
Labels: serials

#1874 contributions: restore missing Jinja templates
  rero_ils/modules/contributions/templates/rero_ils/_contribution_by_source.html
  rero_ils/modules/contributions/templates/rero_ils/_contribution_by_source_data.html
  rero_ils/modules/contributions/templates/rero_ils/_contribution_unified.html
  rero_ils/modules/contributions/templates/rero_ils/detailed_view_contribution.html
  rero_ils/modules/contributions/templates/rero_ils/macros/contribution.html
  tests/fixtures/metadata.py
  tests/ui/contributions/test_contributions_ui.py
Labels: bug, public ui

#1880 users: set local_code field minLength to 1
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
Labels: data-migration, user management

#1878 users: validate records through a CLI
  poetry.lock
  pyproject.toml
  rero_ils/modules/cli.py
  rero_ils/modules/patrons/cli.py
  scripts/setup
Labels: data-migration, enhancement, user management

#1889 selfcheck: fix checkin/checkout action
  rero_ils/modules/selfcheck/api.py
  tests/api/selfcheck/test_selfcheck.py
Labels: circulation

#1890 translations: translate further v1.2.0
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
Labels: translations

#1892 release: v1.2.0
  CHANGES.md
  RELEASE-NOTES.rst
  poetry.lock
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: documentation

#1845 notifications: group notifications for each patron
  poetry.lock
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/libraries/api.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/cli.py
  rero_ils/modules/loans/listener.py
  rero_ils/modules/monitoring.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/notifications/cli.py
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/jsonschemas/notifications/notification-v0.0.1.json
  rero_ils/modules/notifications/mappings/v7/notifications/notification-v0.0.1.json
  rero_ils/modules/notifications/tasks.py
  rero_ils/modules/notifications/templates/email/_patron_address.txt
  rero_ils/modules/notifications/templates/email/availability/eng.txt
  rero_ils/modules/notifications/templates/email/availability/fre.txt
  rero_ils/modules/notifications/templates/email/availability/ger.txt
  rero_ils/modules/notifications/templates/email/availability/ita.txt
  rero_ils/modules/notifications/templates/email/due_soon/eng.txt
  rero_ils/modules/notifications/templates/email/due_soon/fre.txt
  rero_ils/modules/notifications/templates/email/due_soon/ger.txt
  rero_ils/modules/notifications/templates/email/due_soon/ita.txt
  rero_ils/modules/notifications/templates/email/others/location_notification.txt
  rero_ils/modules/notifications/templates/email/overdue/eng.txt
  rero_ils/modules/notifications/templates/email/overdue/fre.txt
  rero_ils/modules/notifications/templates/email/overdue/ger.txt
  rero_ils/modules/notifications/templates/email/overdue/ita.txt
  rero_ils/modules/notifications/templates/email/recall/eng.txt
  rero_ils/modules/notifications/templates/email/recall/fre.txt
  rero_ils/modules/notifications/templates/email/recall/ger.txt
  rero_ils/modules/notifications/templates/email/recall/ita.txt
  scripts/setup
  tests/api/circulation/test_borrow_limits.py
  tests/api/loans/test_loans_rest.py
  tests/api/notifications/test_notifications_rest.py
  tests/api/selfcheck/test_selfcheck.py
  tests/api/test_tasks.py
  tests/data/data.json
  tests/fixtures/circulation.py
  tests/ui/notifications/test_notifications_api.py
Labels: circulation, enhancement, notifications

#1923 tests: constrain the Flask version to fix tests
  poetry.lock
  pyproject.toml
Labels: tests

#1913 template: allow to user `type` field into templates
  data/templates.json
  rero_ils/modules/templates/mappings/v7/templates/template-v0.0.1.json
  tests/data/data.json
  tests/ui/templates/test_templates_api.py
Labels: bug

#1927 tests: copy manifest.json to fix tests
  scripts/bootstrap
Labels: tests

#1843 search: improve control of the simple parameter
  rero_ils/query.py
Labels: search

#1904 gh actions: add the labeler workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: documentation

#1930 tests: remove manifest fix
  poetry.lock
  scripts/bootstrap
Labels: tests

#1925 search: add missing mappings
  data/ill_requests.json
  rero_ils/modules/acq_accounts/mappings/v7/acq_accounts/acq_account-v0.0.1.json
  rero_ils/modules/budgets/mappings/v7/budgets/budget-v0.0.1.json
  rero_ils/modules/collections/mappings/v7/collections/collection-v0.0.1.json
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/holdings/mappings/v7/holdings/holding-v0.0.1.json
  rero_ils/modules/ill_requests/mappings/v7/ill_requests/ill_request-v0.0.1.json
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  rero_ils/modules/loans/mappings/v7/loans/loan-ils-v0.0.1.json
  rero_ils/modules/notifications/mappings/v7/notifications/notification-v0.0.1.json
  rero_ils/modules/patron_types/mappings/v7/patron_types/patron_type-v0.0.1.json
  rero_ils/modules/patrons/mappings/v7/patrons/patron-v0.0.1.json
  rero_ils/modules/vendors/mappings/v7/vendors/vendor-v0.0.1.json
Labels: acquisition, circulation, correction, search, user management

#1881 cli: fix several things
  data/pid_dependencies_big.json
  data/pid_dependencies_small.json
  rero_ils/dojson/utils.py
  rero_ils/modules/cli.py
  rero_ils/modules/patrons/cli.py
  tests/unit/test_csv.py
Labels: developers, user management

#1933 documents: fix elasticsearch mapping
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
Labels: search

#1934 update gh labeler
  .github/labeler.yml
Labels: documentation

#1891 readme: add translation info and update copyright
  README.rst
Labels: documentation

#1940 api: fix delete in api and dojson issuance
  rero_ils/modules/api.py
  rero_ils/modules/ebooks/dojson/contrib/marc21/model.py
Labels: data, record-importation

#1910 circulation: restrict ILL request form to patron
  rero_ils/modules/ill_requests/views.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/utils.py
  rero_ils/theme/views.py
Labels: bug, circulation, permissions, public ui, user management

#1956 permissions: improve generation records permissions
  rero_ils/modules/api.py
  rero_ils/modules/permissions.py
  rero_ils/permissions.py
  tests/api/acq_accounts/test_acq_accounts_rest.py
  tests/api/acq_invoices/test_acq_invoices_rest.py
  tests/api/acq_order_lines/test_acq_order_lines_rest.py
  tests/api/acq_orders/test_acq_orders_rest.py
  tests/api/budgets/test_budgets_rest.py
  tests/api/holdings/test_holdings_rest.py
  tests/api/ill_requests/test_ill_requests_rest.py
  tests/api/item_types/test_item_types_rest.py
  tests/api/libraries/test_libraries_rest.py
  tests/api/loans/test_loans_rest.py
  tests/api/locations/test_locations_rest.py
  tests/api/notifications/test_notifications_rest.py
  tests/api/organisations/test_organisations_rest_api.py
  tests/api/patron_transaction_events/test_patron_transaction_events_rest.py
  tests/api/patron_transactions/test_patron_transactions_rest.py
  tests/api/patron_types/test_patron_types_rest.py
  tests/api/patrons/test_patrons_views.py
  tests/api/vendors/test_vendors.py
  tests/ui/circ_policies/test_circ_policies_api.py
  tests/ui/documents/test_documents_api.py
  tests/ui/holdings/test_holdings_item.py
  tests/ui/item_types/test_item_types_api.py
  tests/ui/items/test_items_api.py
  tests/ui/libraries/test_libraries_api.py
  tests/ui/locations/test_locations_api.py
  tests/ui/notifications/test_notifications_api.py
  tests/ui/organisations/test_organisations_api.py
  tests/ui/patron_transaction_events/test_patron_transaction_events_api.py
  tests/ui/patron_transactions/test_patron_transactions_api.py
  tests/ui/patron_types/test_patron_types_api.py
  tests/ui/patrons/test_patrons_api.py
  tests/ui/templates/test_templates_api.py
Labels: performance, permissions
