Repository rero/rero-ils, pull requests merged in 2021-11, with the labels that each got.

#2475 security: update dependencies
  poetry.lock
  run-tests.sh
Labels: dependencies

#2500 acquisition: calculate account expenditure
  rero_ils/modules/acq_accounts/api.py
  rero_ils/modules/acq_receipt_lines/api.py
  rero_ils/modules/acq_receipt_lines/listener.py
  rero_ils/modules/acq_receipt_lines/mappings/v7/acq_receipt_lines/acq_receipt_line-v0.0.1.json
  rero_ils/modules/acq_receipts/mappings/v7/acq_receipts/acq_receipt-v0.0.1.json
  rero_ils/modules/ext.py
  tests/ui/acq_receipt_lines/test_acq_receipt_lines_api.py
Labels: acquisitions

#2501 acquisition: create an entrypoint to create lines
  rero_ils/config.py
  rero_ils/modules/acq_receipts/api.py
  rero_ils/modules/acq_receipts/models.py
  rero_ils/modules/acq_receipts/views.py
  setup.py
  tests/api/acq_receipts/test_acq_receipts_views.py
Labels: acquisitions

#2503 acquisition: add field total_amount in ES
  rero_ils/modules/acq_receipt_lines/api.py
  rero_ils/modules/acq_receipt_lines/listener.py
  rero_ils/modules/acq_receipt_lines/mappings/v7/acq_receipt_lines/acq_receipt_line-v0.0.1.json
  rero_ils/modules/acq_receipts/api.py
  tests/api/acq_receipt_lines/test_acq_receipt_lines_rest.py
  tests/ui/acq_receipts/test_acq_receipts_api.py
Labels: search, data-migration

#2509 setup: fix setup script
  rero_ils/modules/cli/index.py
  scripts/setup
  scripts/setup_csv
  scripts/update
Labels: developers

#2510 setup: fix setup script
  poetry.lock
  pyproject.toml
  scripts/setup
  scripts/setup_csv
Labels: developers

#2512 acquisition: calculate indexed fields
  rero_ils/modules/acq_accounts/api.py
  rero_ils/modules/acq_order_lines/api.py
  rero_ils/modules/acq_orders/api.py
  tests/api/acquisition/test_acquisition_workflow.py
Labels: acquisitions

#2513 acquisition: fix setup script after bad rebase
  scripts/setup
Labels: developers

#2516 release: v1.6.1
  CHANGES.md
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/version.py
Labels: documentation

#2431 circulation: support non-circulating libraries
  poetry.lock
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/utils.py
  rero_ils/modules/libraries/api.py
  rero_ils/modules/loans/api.py
  tests/api/circulation/test_library_with_no_circulation.py
  tests/api/items/test_items_rest.py
  tests/api/libraries/test_libraries_rest.py
  tests/data/data.json
  tests/fixtures/circulation.py
  tests/fixtures/metadata.py
  tests/fixtures/organisations.py
Labels: circulation

#2520 documents: fix core level
  rero_ils/modules/documents/jsonschemas/documents/document_admin_metadata-v0.0.1.json
Labels: data, data-migration

#2515 acquisition: add data into receipt ElasticSearch index
  rero_ils/config.py
  rero_ils/modules/acq_order_lines/models.py
  rero_ils/modules/acq_orders/api.py
  rero_ils/modules/acq_receipt_lines/api.py
  rero_ils/modules/acq_receipt_lines/dumpers.py
  rero_ils/modules/acq_receipts/api.py
  rero_ils/modules/acq_receipts/listener.py
  rero_ils/modules/acq_receipts/mappings/v7/acq_receipts/acq_receipt-v0.0.1.json
  rero_ils/modules/acq_receipts/serializers.py
  rero_ils/modules/ext.py
  tests/api/acq_receipts/test_acq_receipts_rest.py
  tests/api/test_serializers.py
  tests/ui/acq_receipts/test_acq_receipts_api.py
Labels: search, acquisitions, data-migration, DB

#2485 circulation: add automatic request expiration
  data/circulation_policies.json
  rero_ils/alembic/2b0af71048a7_add_request_expiration_date.py
  rero_ils/alembic/cc7ffbe1e078_cipo_request_duration_field_creation.py
  rero_ils/config.py
  rero_ils/modules/circ_policies/api.py
  rero_ils/modules/circ_policies/extensions.py
  rero_ils/modules/circ_policies/jsonschemas/circ_policies/circ_policy-v0.0.1.json
  rero_ils/modules/circ_policies/mappings/v7/circ_policies/circ_policy-v0.0.1.json
  rero_ils/modules/documents/api.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/extensions.py
  rero_ils/modules/loans/models.py
  rero_ils/modules/loans/serializers.py
  rero_ils/modules/loans/tasks.py
  rero_ils/modules/locations/api.py
  rero_ils/modules/notifications/subclasses/availability.py
  rero_ils/modules/notifications/templates/email/availability/eng.txt
  rero_ils/modules/notifications/templates/email/availability/fre.txt
  rero_ils/modules/notifications/templates/email/availability/ger.txt
  rero_ils/modules/notifications/templates/email/availability/ita.txt
  rero_ils/modules/patron_types/api.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/selfcheck/api.py
  scripts/setup
  tests/api/circulation/test_borrow_limits.py
  tests/api/circulation/test_inhouse_cipo.py
  tests/api/items/test_items_in_transit.py
  tests/api/items/test_items_rest.py
  tests/api/loans/test_loans_rest.py
  tests/api/loans/test_loans_rest_views.py
  tests/api/notifications/test_notifications_rest.py
  tests/api/patrons/test_patrons_views.py
  tests/api/selfcheck/test_selfcheck.py
  tests/api/test_availability.py
  tests/api/test_circ_bug.py
  tests/api/test_serializers.py
  tests/api/test_tasks.py
  tests/data/data.json
  tests/fixtures/circulation.py
  tests/ui/circ_policies/test_circ_policies_api.py
  tests/ui/circulation/test_actions_add_request.py
  tests/ui/circulation/test_actions_cancel_request.py
  tests/ui/circulation/test_actions_checkin.py
  tests/ui/circulation/test_actions_checkout.py
  tests/ui/circulation/test_actions_extend.py
  tests/ui/circulation/test_actions_validate_request.py
  tests/ui/circulation/test_loan_utils.py
  tests/ui/loans/test_loans_api.py
  tests/utils.py
Labels: circulation, developers, notifications, search, user management, data-migration, fixtures, DB

#2525 notifications: fix request notification without recipient
  rero_ils/modules/documents/views.py
  rero_ils/modules/notifications/subclasses/booking.py
  rero_ils/modules/notifications/subclasses/internal.py
  rero_ils/modules/notifications/subclasses/transit.py
  tests/api/notifications/test_notifications_rest.py
  tests/ui/notifications/test_notifications_api.py
Labels: notifications

#2522 acquisition: can delete acquisition receipt
  rero_ils/modules/acq_accounts/api.py
  rero_ils/modules/acq_orders/api.py
  rero_ils/modules/acq_receipts/api.py
  rero_ils/modules/api.py
  rero_ils/modules/libraries/api.py
  rero_ils/modules/organisations/api.py
  tests/api/acq_accounts/test_acq_accounts_rest.py
  tests/api/acq_orders/test_acq_orders_rest.py
  tests/api/acq_receipts/test_acq_receipts_rest.py
  tests/api/libraries/test_libraries_rest.py
  tests/api/organisations/test_organisations_rest_api.py
Labels: acquisitions

#2508 notifications: fix reminders notification template
  rero_ils/modules/notifications/subclasses/reminder.py
Labels: notifications

#2535 documents: delete default value on identifiedby field
  rero_ils/modules/documents/jsonschemas/documents/document_identified_by-v0.0.1.json
Labels: data, data-migration

#2546 acquisition: sort receipts by receipt_date
  rero_ils/config.py
  rero_ils/modules/acq_order_lines/dumpers.py
  rero_ils/modules/acq_order_lines/jsonschemas/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/acq_order_lines/mappings/v7/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/acq_orders/mappings/v7/acq_orders/acq_order-v0.0.1.json
  rero_ils/modules/acq_receipt_lines/jsonschemas/acq_receipt_lines/acq_receipt_line-v0.0.1.json
Labels: search, acquisitions, data-migration

#2539 acquisition: delete receipt and its lines
  rero_ils/modules/acq_accounts/api.py
  rero_ils/modules/acq_order_lines/api.py
  rero_ils/modules/acq_receipt_lines/api.py
  rero_ils/modules/acq_receipts/api.py
  rero_ils/modules/acq_receipts/extensions.py
  rero_ils/modules/acq_receipts/jsonschemas/acq_receipts/acq_receipt-v0.0.1.json
  tests/api/acq_receipts/test_acq_receipts_rest.py
  tests/api/acquisition/test_acquisition_reception_workflow.py
Labels: acquisitions, data-migration

#2540 items: find item creation problem
  rero_ils/modules/items/api/issue.py
Labels: serials

#2490 monitoring: improve diff from ES to DB calculation
  rero_ils/modules/cli/index.py
  rero_ils/modules/cli/reroils.py
  rero_ils/modules/monitoring.py
  rero_ils/modules/monitoring/__init__.py
  rero_ils/modules/monitoring/api.py
  rero_ils/modules/monitoring/cli.py
  rero_ils/modules/monitoring/view.py
  setup.py
  tests/api/test_monitoring_rest.py
  tests/ui/test_monitoring.py
Labels: monitoring

#2518 documents: find and replace identifiedBy
  rero_ils/config.py
  rero_ils/modules/cli/utils.py
  rero_ils/modules/contributions/api.py
  rero_ils/modules/contributions/views.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/documents/tasks.py
  rero_ils/modules/documents/utils.py
  rero_ils/modules/holdings/api.py
  scripts/setup
  tests/api/documents/test_documents_rest.py
  tests/api/documents/test_documents_tasks.py
  tests/data/data.json
  tests/ui/documents/test_documents_filter.py
  tests/ui/test_api.py
Labels: data, developers, search, data-migration

#2534 documents: fixes too many results
  rero_ils/modules/cli/index.py
  rero_ils/modules/contributions/mappings/v7/contributions/contribution-v0.0.1.json
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  tests/api/conftest.py
  tests/api/test_search.py
Labels: search, data-migration

#2552 notifications: fix overdue notification creation
  rero_ils/modules/loans/api.py
  rero_ils/modules/notifications/utils.py
  tests/api/circulation/test_borrow_limits.py
  tests/api/loans/test_loans_rest.py
  tests/api/notifications/test_notifications_rest.py
  tests/api/selfcheck/test_selfcheck.py
  tests/api/test_tasks.py
Labels: circulation, notifications

#2553 holdings: place a circulation request
  rero_ils/modules/holdings/api_views.py
  rero_ils/modules/items/views/api_views.py
  rero_ils/modules/patrons/api.py
  tests/api/holdings/test_provisional_items.py
Labels: user management

#2564 import: fix links for contributors with DNB identifiers
  rero_ils/dojson/utils.py
Labels: data
