Repository rero/rero-ils, pull requests merged in 2021-12, with the labels that each got.

#2572 items: delete checked-in provisional items
  rero_ils/config.py
  rero_ils/modules/items/tasks.py
  rero_ils/modules/items/utils.py
  scripts/setup
  tests/api/holdings/test_provisional_items.py
Labels: circulation, developers

#2583 notifications: fix multiple notification creation
  rero_ils/modules/loans/api.py
  rero_ils/modules/notifications/utils.py
  tests/api/notifications/test_notifications_rest.py
Labels: f: circulation, f: notifications

#2567 release: v1.7.0
  CHANGES.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers, dev: documentation, documentation

#2594 acquisition: fix unique fields detection
  data/acq_accounts.json
  rero_ils/config.py
  rero_ils/modules/acq_accounts/api.py
  rero_ils/modules/acq_accounts/jsonschemas/acq_accounts/acq_account-v0.0.1.json
  rero_ils/modules/acq_accounts/mappings/v7/acq_accounts/acq_account-v0.0.1.json
  rero_ils/modules/acq_orders/jsonschemas/acq_orders/acq_order-v0.0.1.json
  rero_ils/modules/acq_orders/mappings/v7/acq_orders/acq_order-v0.0.1.json
Labels: data-migration, fixtures, search, acquisitions

#2599 notifications: improve acquisition notification template
  rero_ils/modules/acq_accounts/dumpers.py
  rero_ils/modules/acq_order_lines/dumpers.py
  rero_ils/modules/acq_orders/templates/rero_ils/vendor_order_mail/eng.tpl.txt
  rero_ils/modules/acq_orders/templates/rero_ils/vendor_order_mail/fre.tpl.txt
  rero_ils/modules/acq_orders/templates/rero_ils/vendor_order_mail/ger.tpl.txt
  rero_ils/modules/acq_orders/templates/rero_ils/vendor_order_mail/ita.tpl.txt
  rero_ils/modules/acq_orders/views.py
  rero_ils/modules/documents/dumpers.py
  rero_ils/modules/documents/utils.py
  rero_ils/modules/documents/views.py
Labels: data, acquisitions

#2598 acquisition: add VAT rate field for receipt line
  rero_ils/modules/acq_receipt_lines/api.py
  rero_ils/modules/acq_receipt_lines/jsonschemas/acq_receipt_lines/acq_receipt_line-v0.0.1.json
  rero_ils/modules/acq_receipt_lines/mappings/v7/acq_receipt_lines/acq_receipt_line-v0.0.1.json
  tests/api/acquisition/test_acquisition_reception_workflow.py
  tests/ui/acq_receipt_lines/test_acq_receipt_lines_api.py
  tests/unit/conftest.py
  tests/unit/test_acq_receipt_lines_jsonschema.py
Labels: data-migration, search

#2595 library: add `extra` field for acquisition setting
  rero_ils/modules/libraries/jsonschemas/libraries/library-v0.0.1.json
  rero_ils/modules/libraries/mappings/v7/libraries/library-v0.0.1.json
  rero_ils/theme/templates/rero_ils/address_block/eng.tpl.txt
  rero_ils/theme/templates/rero_ils/address_block/fre.tpl.txt
  rero_ils/theme/templates/rero_ils/address_block/ger.tpl.txt
  rero_ils/theme/templates/rero_ils/address_block/ita.tpl.txt
  tests/api/acq_orders/test_acq_orders_views.py
  tests/data/data.json
Labels: data-migration, search

#2589 loans: dumping related circulation policy
  rero_ils/modules/loans/api_views.py
  tests/api/loans/test_loans_rest_views.py
Labels: circulation

#2593 circulation: fix overdue fees timestamp calculation
  rero_ils/modules/loans/api.py
  rero_ils/modules/patron_transactions/api.py
Labels: circulation

#2600 notification: fix notification fee amount calculation
  rero_ils/modules/circ_policies/api.py
  rero_ils/modules/loans/utils.py
  rero_ils/modules/notifications/tasks.py
  rero_ils/modules/notifications/utils.py
  rero_ils/modules/patron_transactions/api.py
  tests/api/loans/test_loans_rest.py
  tests/fixtures/circulation.py
  tests/ui/notifications/test_notifications_utils.py
Labels: circulation, notifications

#2588 documents: fix translation on original language field
  rero_ils/modules/documents/jsonschemas/documents/document_original_language-v0.0.1.json
Labels: data-migration, data

#2566 professional: fix patron type creation
  rero_ils/modules/patron_types/jsonschemas/patron_types/patron_type-v0.0.1.json
Labels: f: circulation, f: user management, data-migration

#2580 jsonschema: introduce exclusiveMinimum for fields
  rero_ils/modules/circ_policies/jsonschemas/circ_policies/circ_policy-v0.0.1.json
  rero_ils/modules/patron_transaction_events/jsonschemas/patron_transaction_events/patron_transaction_event-v0.0.1.json
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
  rero_ils/modules/users/jsonschemas/users/user-v0.0.1.json
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
Labels: f: circulation
