Repository rero/rero-ils, pull requests merged in 2021-06, with the labels that each got.

#1960 fixtures: adapt templates to the complete document schema
  data/templates.json
Labels: fixtures

#1955 circulation: fix fees calculation
  rero_ils/modules/libraries/api.py
Labels: bug

#1978 collections: fix item brief view.
  rero_ils/modules/items/api/api.py
Labels: bug

#1911 serials: fix issue.status_date field update
  rero_ils/modules/items/api/issue.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/models.py
Labels: bug, serials

#1990 patrons: correct city facet mapping
  rero_ils/modules/patrons/mappings/v7/patrons/patron-v0.0.1.json
Labels: bug, search, user management

#2005 docker: change value for restart parameter
  docker-compose.full.yml
  docker-services.yml
Labels: developers

#1914 notifications: adds library notifications
  data/libraries.json
  poetry.lock
  pyproject.toml
  rero_ils/modules/cli.py
  rero_ils/modules/libraries/jsonschemas/libraries/library-v0.0.1.json
  rero_ils/modules/libraries/mappings/v7/libraries/library-v0.0.1.json
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/cli.py
  rero_ils/modules/loans/listener.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/jsonschemas/notifications/notification-v0.0.1.json
  rero_ils/modules/notifications/tasks.py
  rero_ils/modules/notifications/templates/email/booking/eng.txt
  rero_ils/modules/notifications/templates/email/booking/fre.txt
  rero_ils/modules/notifications/templates/email/booking/ger.txt
  rero_ils/modules/notifications/templates/email/booking/ita.txt
  rero_ils/modules/notifications/templates/email/others/location_notification.txt
  rero_ils/modules/notifications/templates/email/request/eng.txt
  rero_ils/modules/notifications/templates/email/request/fre.txt
  rero_ils/modules/notifications/templates/email/request/ger.txt
  rero_ils/modules/notifications/templates/email/request/ita.txt
  rero_ils/modules/notifications/templates/email/transit_notice/eng.txt
  rero_ils/modules/notifications/templates/email/transit_notice/fre.txt
  rero_ils/modules/notifications/templates/email/transit_notice/ger.txt
  rero_ils/modules/notifications/templates/email/transit_notice/ita.txt
  rero_ils/modules/notifications/utils.py
  rero_ils/utils.py
  tests/api/notifications/test_notifications_rest.py
  tests/api/operation_logs/test_operation_logs_rest.py
  tests/conftest.py
  tests/data/data.json
  tests/ui/circ_policies/test_circ_policies_utils.py
  tests/ui/notifications/test_notifications_api.py
  tests/unit/test_cli.py
  tests/unit/test_utils.py
Labels: circulation, notifications, search

#1844 documents: improve online access information
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/modules/documents/views.py
  rero_ils/theme/assets/scss/rero_ils/styles.scss
  tests/unit/test_documents_dojson.py
Labels: public ui

#2010 search: increase API limit
  rero_ils/config.py
  rero_ils/es_templates/v7/record.json
  rero_ils/modules/operation_logs/mappings/v7/operation_logs/operation_log-v0.0.1.json
Labels: search

#2009 users: release constraint on the first & last name
  rero_ils/modules/users/jsonschemas/users/user-v0.0.1.json
Labels: user management

#1969 documentation: extend the gh-actions labeler rules
  .github/labeler.yml
Labels: documentation

#1973 resources: improve organisation ref link validation
  rero_ils/modules/acq_accounts/jsonschemas/acq_accounts/acq_account-v0.0.1.json
  rero_ils/modules/acq_invoices/jsonschemas/acq_invoices/acq_invoice-v0.0.1.json
  rero_ils/modules/acq_order_lines/jsonschemas/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/acq_orders/jsonschemas/acq_orders/acq_order-v0.0.1.json
  rero_ils/modules/budgets/jsonschemas/budgets/budget-v0.0.1.json
  rero_ils/modules/circ_policies/jsonschemas/circ_policies/circ_policy-v0.0.1.json
  rero_ils/modules/collections/jsonschemas/collections/collection-v0.0.1.json
  rero_ils/modules/item_types/jsonschemas/item_types/item_type-v0.0.1.json
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/libraries/jsonschemas/libraries/library-v0.0.1.json
  rero_ils/modules/loans/jsonschemas/loans/loan-ils-v0.0.1.json
  rero_ils/modules/local_fields/jsonschemas/local_fields/local_field-v0.0.1.json
  rero_ils/modules/operation_logs/jsonschemas/operation_logs/operation_log-v0.0.1.json
  rero_ils/modules/patron_transactions/jsonschemas/patron_transactions/patron_transaction-v0.0.1.json
  rero_ils/modules/patron_types/jsonschemas/patron_types/patron_type-v0.0.1.json
  rero_ils/modules/templates/jsonschemas/templates/template-v0.0.1.json
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
Labels: acquisition, bug, circulation, data, data-migration

#1999 resources: speed up the indexing
  rero_ils/modules/api.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/items/api/api.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/items/api/record.py
  tests/ui/holdings/test_holdings_item.py
Labels: circulation

#2001 user profiles: translate username description
  rero_ils/manual_translations.txt
Labels: translations

#2016 items: fix status according to migrated loans
  rero_ils/modules/loans/cli.py
Labels: circulation, data-migration

#2015 circulation: masked item are not available
  rero_ils/modules/items/api/circulation.py
  tests/api/test_availability.py
Labels: circulation

#2003 tests: script to test a lot of update
  scripts/load_testing.py
Labels: developers, tests

#2012 holdings: add item counts
  rero_ils/modules/holdings/api.py
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/holdings/listener.py
  rero_ils/modules/holdings/mappings/v7/holdings/holding-v0.0.1.json
  rero_ils/modules/items/api/api.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/items/listener.py
  rero_ils/modules/record_extensions.py
  scripts/setup
  tests/api/conftest.py
  tests/api/documents/test_documents_rest.py
  tests/api/holdings/test_holdings_rest.py
  tests/data/data.json
  tests/data/holdings.json
  tests/fixtures/metadata.py
  tests/ui/holdings/test_holdings_api.py
  tests/unit/test_holdings_jsonschema.py
  tests/unit/test_items_jsonschema.py
Labels: data, search

#2006 patrons: allow external service to authenticate users
  rero_ils/modules/patron_types/jsonschemas/patron_types/patron_type-v0.0.1.json
  rero_ils/modules/patrons/views.py
  scripts/setup
  tests/api/patrons/test_patrons_views.py
Labels: circulation, user management

#2032 orders: remove the total amount from the DB
  rero_ils/modules/acq_order_lines/api.py
  rero_ils/modules/acq_orders/api.py
  rero_ils/modules/acq_orders/extensions.py
  rero_ils/modules/acq_orders/jsonschemas/acq_orders/acq_order-v0.0.1.json
  tests/api/acq_orders/test_acq_orders_rest.py
  tests/data/acquisition.json
Labels: acquisition

#2031 documents: complete the data conversion
  data/pid_dependencies_big.json
  data/pid_dependencies_small.json
  rero_ils/dojson/utils.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/model.py
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_document_relation-v0.0.1.json
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  tests/unit/test_documents_dojson.py
Labels: data, search

#2024 document: make document `mainTitle` unique
  rero_ils/modules/documents/jsonschemas/documents/document_title-v0.0.1.json
Labels: data

#2023 translations: translate v1.3.0
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
  tests/api/test_user_authentication.py
Labels: translations

#1948 acquisitions: create new extension
  poetry.lock
  pyproject.toml
  rero_ils/acquisition/__init__.py
  rero_ils/acquisition/config.py
  rero_ils/acquisition/ext.py
  rero_ils/acquisition/proxies.py
  setup.py
Labels: acquisition

#2030 patrons: tests multiple librarian roles
  rero_ils/modules/patrons/cli.py
Labels: user management

#2022 authentication: implement OAuth server
  rero_ils/config.py
  rero_ils/modules/patrons/views.py
  rero_ils/oauth/scopes.py
  rero_ils/theme/templates/rero_ils/oauth/base.html
  setup.py
  tests/api/patrons/test_patrons_rest.py
  tests/data/data.json
Labels: user management

#2041 release: v1.3.0
  CHANGES.md
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: documentation

#2043 search: restore ES settings in the template
  rero_ils/es_templates/v7/record.json
Labels: search

#2045 release v1.3.1
  CHANGES.md
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/version.py
Labels: documentation

#2066 public search: fix loading assets
  rero_ils/theme/templates/rero_ils/search.html
Labels: bug, public ui

#2064 documentation: extend the gh-action labeler rules
  .github/labeler.yml
Labels: documentation

#2047 global: use JsonWriter
  rero_ils/modules/cli.py
  rero_ils/modules/loans/cli.py
  rero_ils/modules/operation_logs/cli.py
  rero_ils/modules/patrons/cli.py
  tests/unit/test_cli.py
Labels: activity-logs, circulation, user management

#2074 tests: fix library `is_open` unit test
  tests/ui/libraries/test_libraries_api.py
Labels: tests

#2057 search: add isbn text search
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
Labels: search

#2071 documents: improve display of uniform resource locator
  rero_ils/modules/documents/templates/rero_ils/_documents_description.html
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
Labels: enhancement, public ui

#2075 instance: install procps to monitor processes
  Dockerfile.base
Labels: deployment, minor

#2073 circulation: add rank position information
  rero_ils/modules/loans/api.py
Labels: circulation

#2040 circulation: fix `can_extend` check method
  rero_ils/modules/loans/api.py
  tests/api/circulation/scenarios/test_scenario_c.py
  tests/api/circulation/test_actions_views_extend_loan_request.py
  tests/api/items/test_items_rest.py
  tests/api/selfcheck/test_selfcheck.py
  tests/ui/circulation/test_actions_extend.py
Labels: bug, circulation

#2054 sru: fix xml format and type
  rero_ils/modules/documents/dojson/contrib/jsontomarc21/model.py
  rero_ils/modules/documents/serializers.py
  tests/unit/test_documents_dojson_marc21.py
Labels: data, data-export

#2081 monitoring: fix ES duplicate display
  rero_ils/modules/monitoring.py
Labels: bug, monitoring

#2046 core: fix the wrong way to update a record
  rero_ils/modules/acq_invoices/api.py
  rero_ils/modules/acq_order_lines/api.py
  rero_ils/modules/acq_orders/api.py
  rero_ils/modules/api.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/patron_transaction_events/api.py
  rero_ils/modules/patron_transactions/api.py
  rero_ils/modules/patrons/api.py
  tests/ui/patrons/test_patrons_api.py
  tests/ui/test_monitoring.py
  tests/unit/test_documents_dojson.py
Labels: acquisitions, circulation, user management

#2077 patrons: add email field on authenticate service
  rero_ils/modules/patrons/views.py
Labels: user management

#2082 circulation: allow only one default policy
  rero_ils/modules/circ_policies/api.py
  tests/api/circ_policies/test_circ_policies_rest.py
  tests/ui/circ_policies/test_circ_policies_api.py
Labels: circulation

#2084 documents: reinforce availability robustness
  rero_ils/modules/documents/api.py
  rero_ils/modules/holdings/api.py
Labels: circulation, professional ui, public ui

#2083 notifications: fix German availability template
  rero_ils/modules/notifications/templates/email/availability/ger.txt
  rero_ils/modules/notifications/utils.py
Labels: notifications

#2085 document: fix multiple relatedTo
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1.json
Labels: data

#2060 documents: fix assigning agency title, description
  rero_ils/modules/documents/jsonschemas/documents/document_classification-v0.0.1.json
Labels: data

#2093 documents: remove a trailing dot in a title key
  rero_ils/modules/documents/jsonschemas/documents/document_classification-v0.0.1.json
Labels: data

#2091 security: update dependencies
  poetry.lock
Labels: dependencies

#2090 dojson: correct bookFormat transformation
  rero_ils/dojson/utils.py
Labels: data

#2094 patrons: fix problem with importing users
  rero_ils/modules/patrons/cli.py
Labels: user management
