Repository rero/rero-ils, pull requests merged in 2021-02, with the labels that each got.

#1618 public ui: merge profile menu entries
  rero_ils/modules/patrons/templates/rero_ils/patron_profile.html
  rero_ils/modules/patrons/views.py
  rero_ils/theme/assets/scss/rero_ils/styles.scss
  rero_ils/theme/templates/rero_ils/header.html
  rero_ils/theme/views.py
Labels: public ui, user management

#1643 tests: fix cypress tests
  tests/e2e/cypress/cypress/fixtures/documents.json
  tests/e2e/cypress/cypress/fixtures/templates.json
  tests/e2e/cypress/cypress/integration/templates/templates-test.spec.js
  tests/e2e/cypress/cypress/support/api.js
  tests/e2e/cypress/cypress/support/record.js
Labels: tests

#1665 holdings: remove extra enum from the completeness field
  data/patterns.json
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/holdings/mappings/v7/holdings/holding-v0.0.1.json
  tests/data/holdings.json
  tests/unit/test_holdings_jsonschema.py
Labels: serials

#1656 users: add user info API
  rero_ils/accounts_views.py
  rero_ils/modules/views.py
  tests/api/conftest.py
  tests/api/test_users.py
Labels: user management

#1657 documents: fix form options label/value
  rero_ils/manual_translations.txt
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_identifiedby-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_electronic_locator-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_issuance-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_language-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_note-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_production_method-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_provision_activity-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_title-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_types-v0.0.1.json
Labels: data

#1663 public ui: fix login button on holdings section
  rero_ils/modules/documents/templates/rero_ils/_anonymous_button.html
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
Labels: bug, public ui

#1658 search: index ISBN 10 and 13 format
  rero_ils/modules/documents/listener.py
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  tests/api/test_external_services.py
  tests/ui/documents/test_documents_mapping.py
Labels: search

#1653 patron transactions: allow to link to a loan
  rero_ils/modules/patron_transaction_events/mappings/v7/patron_transaction_events/patron_transaction_event-v0.0.1.json
  rero_ils/modules/patron_transactions/api.py
  rero_ils/modules/patron_transactions/jsonschemas/patron_transactions/patron_transaction-v0.0.1.json
  rero_ils/modules/patron_transactions/listener.py
  tests/api/patron_transactions/test_patron_transactions_rest.py
Labels: circulation, notifications, user management

#1678 public ui: fix standard coverart in detailed view
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/modules/holdings/templates/rero_ils/detailed_view_holdings.html
Labels: bug, public ui

#1681 holdings: fix several bugs related to version 1.0.0
  rero_ils/modules/documents/views.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/holdings/api_views.py
  rero_ils/query.py
  tests/api/holdings/test_holdings_rest_api.py
  tests/data/data.json
  tests/data/holdings.json
Labels: bug, data, public ui, search

#1685 tests: fix cypress tests
  tests/e2e/cypress/cypress/fixtures/common.json
  tests/e2e/cypress/cypress/integration/circulation/scenario-a.spec.js
  tests/e2e/cypress/cypress/integration/circulation/scenario-b.spec.js
  tests/e2e/cypress/cypress/integration/circulation/test-on-site-cipo.spec.js
Labels: tests

#1647 editor: adapt JSON schema form options
  rero_ils/jsonschemas/common/cantons-v0.0.1.json
  rero_ils/jsonschemas/common/countries-v0.0.1.json
  rero_ils/jsonschemas/common/languages-v0.0.1.json
  rero_ils/modules/acq_invoices/jsonschemas/acq_invoices/acq_invoice-v0.0.1.json
  rero_ils/modules/collections/jsonschemas/collections/collection-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_abstract-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_book_format-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_color_content-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_identifiedby-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_organisation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_organisation_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_person-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_person_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_role-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_copyright_date-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_dimensions-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_duration-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_edition_statement-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_electronic_locator-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_extent-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_identified_by-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_illustrative_content-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_issuance-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_language-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_note-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_part_of-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_production_method-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_provision_activity-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_responsibility_statement-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_series-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_subjects-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_title-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_titles_proper-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_translated_from-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_types-v0.0.1.json
  rero_ils/modules/ebooks/dojson/contrib/marc21/model.py
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/ill_requests/jsonschemas/ill_requests/ill_request-v0.0.1.json
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/libraries/jsonschemas/libraries/library-v0.0.1.json
  rero_ils/modules/locations/jsonschemas/locations/location-v0.0.1.json
  rero_ils/modules/patron_types/jsonschemas/patron_types/patron_type-v0.0.1.json
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
  rero_ils/modules/templates/jsonschemas/templates/template-v0.0.1.json
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
  rero_ils/theme/views.py
  scripts/bootstrap
  tests/e2e/cypress/cypress/integration/editor/document/create-simple-document.spec.js
  tests/e2e/cypress/cypress/integration/templates/templates-test.spec.js
Labels: data, editor

#1677 operation logs: migrate legacy operation logs
  data/operation_logs.json
  rero_ils/modules/cli.py
  rero_ils/modules/operation_logs/api.py
  rero_ils/modules/operation_logs/cli.py
  scripts/setup
Labels: data

#1595 test: add cypress tests for document creation
  tests/e2e/cypress/cypress/fixtures/documents.json
  tests/e2e/cypress/cypress/integration/circulation/scenario-a.spec.js
  tests/e2e/cypress/cypress/integration/circulation/scenario-b.spec.js
  tests/e2e/cypress/cypress/integration/editor/document/create-document-prov-activity.spec.js
  tests/e2e/cypress/cypress/integration/editor/document/create-document-resp-statement.spec.js
  tests/e2e/cypress/cypress/integration/editor/document/create-document-simple-fields.spec.js
  tests/e2e/cypress/cypress/integration/editor/document/create-simple-document.spec.js
  tests/e2e/cypress/cypress/support/api.js
  tests/e2e/cypress/cypress/support/document.js
  tests/e2e/cypress/cypress/support/index.js
  tests/e2e/cypress/cypress/support/record.js
Labels: editor, professional ui, tests

#1694 monitoring: configure ElasticSearch monitoring
  rero_ils/modules/monitoring.py
Labels: search

#1713 items: fix holding update when receiving an issue
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/tasks.py
Labels: circulation

#1727 documents: fix bug when generating the big and small items
  rero_ils/modules/items/cli.py
Labels: data
