Repository rero/rero-ils, pull requests merged in 2021-08, with the labels that each got.

#2268 local fields: improve validation
  rero_ils/modules/local_fields/api.py
  tests/api/local_fields/test_local_fields_rest.py
Labels: enhancement

#2260 circulation: fix request with different locations
  rero_ils/modules/holdings/api_views.py
  rero_ils/modules/loans/utils.py
  tests/api/items/test_items_rest.py
  tests/ui/loans/test_loans_api.py
Labels: circulation

#2270 template: remove pid from template record
  rero_ils/modules/templates/api.py
  rero_ils/modules/templates/extensions.py
  tests/api/templates/test_templates_rest.py
Labels: editor, public ui

#2132 design: improve responsive interface
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/theme/assets/scss/rero_ils/header.scss
  rero_ils/theme/templates/rero_ils/footer.html
  rero_ils/theme/templates/rero_ils/header.html
  rero_ils/theme/templates/rero_ils/page.html
  rero_ils/theme/templates/rero_ils/search.html
Labels: public ui

#2169 editor: remove imported fields on quick list
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1.json
Labels: data

#2210 items: fix loans circulation dump
  rero_ils/modules/loans/api.py
Labels: circulation

#2230 document: remove pattern on `copyrightDate` field
  rero_ils/modules/documents/jsonschemas/documents/document_copyright_date-v0.0.1.json
Labels: data

#2231 document: fix corporate bodies subdivision serialization
  rero_ils/modules/documents/utils.py
Labels: data

#2233 document: no default value for `subject.source`
  rero_ils/modules/documents/jsonschemas/documents/document_subjects-v0.0.1.json
Labels: data

#2238 issues: fix late issue generation.
  rero_ils/modules/items/api/issue.py
Labels: serials

#2290 notifications: fix pickup name for booking
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/templates/email/booking/eng.txt
  rero_ils/modules/notifications/templates/email/booking/fre.txt
  rero_ils/modules/notifications/templates/email/booking/ger.txt
  rero_ils/modules/notifications/templates/email/booking/ita.txt
  tests/api/notifications/test_notifications_rest.py
Labels: notifications, public ui

#2274 sip2: improve selfcheck checkout
  poetry.lock
  pyproject.toml
  rero_ils/modules/selfcheck/api.py
Labels: circulation

#2293 translations: translate v1.4.7
  rero_ils/manual_translations.txt
  rero_ils/modules/holdings/api.py
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
Labels: translations

#2298 documents: Fix subdivisions separator
  rero_ils/modules/documents/utils.py
Labels: data

#2297 notifications: Fix wrong pick-up location name
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/templates/email/availability/eng.txt
  rero_ils/modules/notifications/templates/email/availability/fre.txt
  rero_ils/modules/notifications/templates/email/availability/ger.txt
  rero_ils/modules/notifications/templates/email/availability/ita.txt
Labels: notifications, public ui

#2320 theme: fix typos on the VS frontpage (de)
  rero_ils/theme/templates/rero_ils/_frontpage_block_vs.html
Labels: public ui

#2342 notifications: do not send email in case of error
  rero_ils/modules/monitoring.py
  rero_ils/modules/notifications/dispatcher.py
  tests/api/notifications/test_notifications_rest.py
Labels: notifications, monitoring
