Repository rero/rero-ils, pull requests merged in 2021-07, with the labels that each got.

#2069 sip2: improve command line utilities
  poetry.lock
  rero_ils/modules/cli.py
  rero_ils/modules/selfcheck/api.py
  rero_ils/modules/selfcheck/cli.py
  tests/api/selfcheck/test_selfcheck.py
Labels: circulation

#2052 stats: compute stats for pricing
  rero_ils/config.py
  rero_ils/modules/acq_order_lines/api.py
  rero_ils/modules/acq_order_lines/jsonschemas/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/acq_order_lines/mappings/v7/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/cli.py
  rero_ils/modules/ext.py
  rero_ils/modules/loans/logs/api.py
  rero_ils/modules/notifications/cli.py
  rero_ils/modules/operation_logs/api.py
  rero_ils/modules/operation_logs/cli.py
  rero_ils/modules/operation_logs/es_templates/v7/operation_logs.json
  rero_ils/modules/operation_logs/extensions.py
  rero_ils/modules/operation_logs/jsonschemas/operation_logs/operation_log-v0.0.1.json
  rero_ils/modules/operation_logs/listener.py
  rero_ils/modules/patrons/listener.py
  rero_ils/modules/stats/__init__.py
  rero_ils/modules/stats/api.py
  rero_ils/modules/stats/cli.py
  scripts/setup
  setup.py
  tests/api/operation_logs/test_operation_logs_rest.py
  tests/conftest.py
  tests/data/data.json
  tests/ui/loans/test_loans_operation_logs.py
  tests/ui/operation_logs/test_operation_logs_api.py
Labels: acquisitions, activity-logs, circulation, developers, search, user management

#2099 dependencies: fix celery version to = 5.0.5
  poetry.lock
  pyproject.toml
Labels: dependencies

#2097 documentation: fix gh-actions labeler
  .github/labeler.yml
Labels: documentation

#2100 templates: remove `data` field from ES mapping
  rero_ils/modules/ext.py
  rero_ils/modules/templates/listener.py
  rero_ils/modules/templates/mappings/v7/templates/template-v0.0.1.json
  tests/api/templates/test_templates_rest.py
Labels: public ui, search

#2111 tests: fix unit test about loan overdue
  rero_ils/modules/loans/api.py
  tests/ui/loans/test_loans_api.py
Labels: circulation

#2115 documents: fix document 128
  rero_ils/modules/documents/jsonschemas/documents/document_book_format-v0.0.1.json
Labels: data

#2117 documents: improve BNF import
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  rero_ils/modules/imports/api.py
Labels: data

#2110 documents: adapt the field list in quick access
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_admin_metadata-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_content_media_carrier-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_dimensions-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_illustrative_content-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_original_language-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_responsibility_statement-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_summary-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_table_of_contents-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_titles_original-v0.0.1.json
Labels: data

#2070 homepage: implement organisation view
  rero_ils/config.py
  rero_ils/theme/templates/rero_ils/_frontpage_block_bulle.html
  rero_ils/theme/templates/rero_ils/_frontpage_block_global.html
  rero_ils/theme/templates/rero_ils/_frontpage_block_rbnj.html
  rero_ils/theme/templates/rero_ils/_frontpage_block_test.html
  rero_ils/theme/templates/rero_ils/_frontpage_block_vs.html
  rero_ils/theme/templates/rero_ils/_frontpage_organisation_link.html
  rero_ils/theme/templates/rero_ils/_frontpage_slogan_bulle.html
  rero_ils/theme/templates/rero_ils/_frontpage_slogan_global.html
  rero_ils/theme/templates/rero_ils/_frontpage_slogan_rbnj.html
  rero_ils/theme/templates/rero_ils/_frontpage_slogan_test.html
  rero_ils/theme/templates/rero_ils/_frontpage_slogan_vs.html
  rero_ils/theme/templates/rero_ils/_info_pilot.html
  rero_ils/theme/templates/rero_ils/frontpage.html
  rero_ils/theme/templates/rero_ils/page.html
  rero_ils/theme/views.py
  tests/ui/test_views.py
Labels: public ui

#2119 theme: fix missing ILL request menu
  rero_ils/theme/views.py
Labels: public ui

#2125 operation logs: translate trigger actions
  rero_ils/manual_translations.txt
Labels: translations

#2124 users: allow to save an user without email
  rero_ils/modules/users/api.py
Labels: user management

#2114 circulation: fix method for "is loan overdue" check
  rero_ils/modules/loans/api.py
  tests/api/circulation/test_borrow_limits.py
Labels: circulation

#2120 documents: set `adminMetadata` as required field.
  rero_ils/dojson/utils.py
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  rero_ils/modules/documents/jsonschemas/documents/document-v0.0.1.json
  rero_ils/modules/ebooks/dojson/contrib/marc21/model.py
  tests/api/conftest.py
  tests/data/data.json
  tests/data/documents.json
  tests/data/holdings.json
Labels: data

#2127 translations: complete the v1.4.0 translations
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
Labels: translations

#2128 release: v1.4.0
  CHANGES.md
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers, documentation

#2129 users: fix CLI for user creation
  data/users.json
  rero_ils/modules/patrons/cli.py
  rero_ils/utils.py
Labels: fixtures, user management

#2131 homepage: adaptation of the wallis homepage
  rero_ils/theme/templates/rero_ils/_frontpage_block_vs.html
Labels: public ui

#2137 release: v1.4.1
  CHANGES.md
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers, documentation

#2155 translation: fix "Your Libray"
  rero_ils/theme/templates/security/email/reset_instructions.html
  rero_ils/theme/templates/security/email/reset_instructions.txt
  rero_ils/theme/templates/security/email/reset_notice.html
  rero_ils/theme/templates/security/email/reset_notice.txt
Labels: public ui

#2156 notifications: fix email subject
  rero_ils/modules/notifications/templates/email/due_soon/fre.txt
  rero_ils/modules/notifications/templates/email/recall/fre.txt
Labels: notifications, public ui

#2158 notification: fix availability date
  rero_ils/modules/notifications/dispatcher.py
  tests/ui/notifications/test_notifications_api.py
Labels: notifications

#2157 circulation: improve request to validate list
  rero_ils/modules/items/views/api_views.py
  rero_ils/modules/loans/api.py
  tests/api/items/test_items_rest.py
  tests/api/items/test_items_rest_views.py
Labels: circulation, performance, professional ui

#2161 item types: deny deletion with temporary item type
  rero_ils/modules/item_types/api.py
Labels: circulation

#2163 cli: fix create_or_update when pid is reserved
  rero_ils/modules/cli.py
Labels: data-migration

#2153 patrons: display user PID in error message
  rero_ils/modules/patrons/api.py
Labels: user management

#2171 release: v1.4.2
  CHANGES.md
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers, documentation

#2148 dependencies: update invenio-sip2
  poetry.lock
  rero_ils/modules/selfcheck/api.py
Labels: circulation, dependencies

#2164 notifications: fix request and recall
  rero_ils/config.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/listener.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/templates/email/availability/eng.txt
  rero_ils/modules/notifications/templates/email/availability/fre.txt
  rero_ils/modules/notifications/templates/email/availability/ger.txt
  rero_ils/modules/notifications/templates/email/availability/ita.txt
  rero_ils/modules/notifications/templates/email/transit_notice/eng.txt
  rero_ils/modules/notifications/templates/email/transit_notice/fre.txt
  rero_ils/modules/notifications/templates/email/transit_notice/ger.txt
  rero_ils/modules/notifications/templates/email/transit_notice/ita.txt
  tests/api/loans/test_loans_rest.py
  tests/api/notifications/test_notifications_rest.py
  tests/data/data.json
Labels: circulation, notifications, public ui

#2146 document: fix `classification_musicale_instruments`
  rero_ils/modules/documents/jsonschemas/documents/document_classification-v0.0.1.json
Labels: data

#2178 import: fix `subject_imported` field
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  tests/unit/test_documents_dojson_unimarc.py
Labels: data, record-importation

#2186 search: add an option to limit the `i18n_aggs`
  rero_ils/facets.py
  rero_ils/theme/templates/rero_ils/search.html
Labels: public ui

#2181 document: display `adminMetadata` by default
  rero_ils/modules/documents/jsonschemas/documents/document_admin_metadata-v0.0.1.json
Labels: data

#2183 ill requests: fix edit permission.
  rero_ils/modules/ill_requests/permissions.py
Labels: circulation, permissions

#2182 item: fix issue availability
  rero_ils/modules/items/api/circulation.py
  tests/ui/items/test_items_api.py
  tests/ui/notifications/test_notifications_api.py
Labels: circulation

#2116 ILL requests: allow free text into year field
  rero_ils/modules/ill_requests/forms.py
  rero_ils/modules/ill_requests/jsonschemas/ill_requests/ill_request-v0.0.1.json
  tests/unit/test_ill_requests_jsonschema.py
Labels: circulation

#2190 circulation: fix item serial checkout
  rero_ils/modules/loans/logs/api.py
  rero_ils/theme/templates/rero_ils/footer.html
Labels: activity-logs, circulation, public ui

#2154 operation logs: improve `dump_operation_logs` CLI
  rero_ils/modules/operation_logs/cli.py
Labels: activity-logs

#2192 sip2: fix date format
  poetry.lock
  rero_ils/modules/loans/api.py
  rero_ils/modules/selfcheck/api.py
Labels: circulation

#2184 monitoring: improve operation logs monitoring
  rero_ils/modules/cli.py
  rero_ils/modules/monitoring.py
  rero_ils/modules/operation_logs/api.py
  tests/ui/test_monitoring.py
Labels: activity-logs, monitoring

#2196 theme: fix links on the frontpages
  rero_ils/theme/templates/rero_ils/_frontpage_block_global.html
  rero_ils/theme/templates/rero_ils/_frontpage_block_rbnj.html
  rero_ils/theme/templates/rero_ils/_frontpage_block_vs.html
Labels: public ui

#2194 documents: add autocomplete for document link
  rero_ils/modules/documents/jsonschemas/documents/document_document_relation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_part_of-v0.0.1.json
Labels: data

#2206 documents: add default value on hidden type field
  rero_ils/modules/documents/jsonschemas/documents/document_usage_and_access_policy-v0.0.1.json
Labels: data

#2220 notifications: fix patron with additional email
  data/users.json
  rero_ils/modules/notifications/dispatcher.py
  tests/api/notifications/test_notifications_rest.py
  tests/fixtures/circulation.py
Labels: fixtures, notifications

#2221 notifications: fix patron address block missing
  rero_ils/modules/notifications/templates/email/_patron_address.txt
  tests/api/notifications/test_notifications_rest.py
Labels: notifications, public ui

#2222 notifications: add request patron information
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/templates/email/booking/eng.txt
  rero_ils/modules/notifications/templates/email/booking/fre.txt
  rero_ils/modules/notifications/templates/email/booking/ger.txt
  rero_ils/modules/notifications/templates/email/booking/ita.txt
  tests/api/notifications/test_notifications_rest.py
Labels: circulation, notifications, public ui

#2223 notifications: fix request with temporary item type
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/loans/listener.py
  rero_ils/modules/stats/mappings/__init__.py
  rero_ils/modules/stats/mappings/v7/__init__.py
  tests/api/notifications/test_notifications_rest.py
Labels: circulation, statistics

#2228 translations: translate v1.5.0
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
Labels: translations

#2138 operation_log: replace pid by value for operation_log indexing
  rero_ils/modules/operation_logs/api.py
Labels: activity-logs

#2226 requests: hide non available items from the list
  rero_ils/modules/loans/api.py
Labels: circulation

#2229 homepage: add warning about request on bulle page
  rero_ils/theme/templates/rero_ils/_frontpage_block_bulle.html
  rero_ils/theme/templates/rero_ils/_frontpage_block_global.html
  rero_ils/theme/templates/rero_ils/_frontpage_block_vs.html
Labels: public ui

#2232 release: v1.4.6
  CHANGES.md
  RELEASE-NOTES.rst
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers, documentation

#2248 selfcheck: fix patron informations
  rero_ils/modules/selfcheck/api.py
  rero_ils/modules/selfcheck/utils.py
Labels: bug, circulation

#2245 theme: update the demo website frontpage
  rero_ils/theme/templates/rero_ils/_frontpage_block_test.html
Labels: public ui

#2246 contributions: improve display on detailed view
  rero_ils/modules/contributions/templates/rero_ils/_contribution_by_source.html
  rero_ils/modules/contributions/templates/rero_ils/_contribution_by_source_data.html
  rero_ils/modules/contributions/templates/rero_ils/detailed_view_contribution.html
  rero_ils/modules/contributions/templates/rero_ils/macros/contribution.html
Labels: public ui
