Repository rero/rero-ils, pull requests merged in 2021-04, with the labels that each got.

#1826 fix Exception
  rero_ils/modules/items/api/issue.py
Labels: bug

#1831 add icon_docmaintype_children.svg
  rero_ils/modules/documents/static/images/icon_docmaintype_children.svg
Labels: bug

#1785 records: fix bug when reading the input file of pids
  rero_ils/modules/cli.py
Labels: data

#1836 translations: fix the extraction process
  rero_ils/modules/contributions/views.py
Labels: translations

#1841 data: allow to update existing records
  rero_ils/modules/cli.py
Labels: data, import records

#1840 search: fix circulation search factory
  rero_ils/query.py
Labels: bug, circulation
