Repository rero/rero-ils, pull requests merged in 2021-03, with the labels that each got.

#1732 dependencies: fix security issues
  poetry.lock
  pyproject.toml
Labels: security

#1714 ILL request: fix permissions
  rero_ils/modules/ill_requests/permissions.py
Labels: permissions

#1733 circulation: update invenio-circulation to v1.0.0a30
  poetry.lock
  pyproject.toml
  rero_ils/modules/libraries/api.py
  rero_ils/modules/loans/api.py
Labels: circulation

#1723 holdings: allow optional fields for electronic holdings
  rero_ils/modules/documents/templates/rero_ils/_document_online.html
  rero_ils/modules/documents/views.py
  rero_ils/modules/holdings/api.py
  rero_ils/theme/assets/scss/rero_ils/thumbnail.scss
  tests/data/data.json
  tests/data/holdings.json
  tests/fixtures/metadata.py
  tests/ui/holdings/test_holdings_api.py
Labels: data, professional ui, public ui

#1711 transactions: optimise incremental creation
  babel.ini
  data/circulation_policies.json
  package-lock.json
  rero_ils/modules/circ_policies/api.py
  rero_ils/modules/circ_policies/jsonschemas/circ_policies/circ_policy-v0.0.1.json
  rero_ils/modules/items/tasks.py
  rero_ils/modules/loans/listener.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/patron_transaction_events/api.py
  rero_ils/modules/patron_transaction_events/jsonschemas/patron_transaction_events/patron_transaction_event-v0.0.1.json
  rero_ils/modules/patron_transaction_events/mappings/v7/patron_transaction_events/patron_transaction_event-v0.0.1.json
  rero_ils/modules/patron_transactions/api.py
  rero_ils/modules/patrons/views.py
  tests/api/circulation/test_actions_views_checkin.py
  tests/api/notifications/test_notifications_rest.py
  tests/data/data.json
  tests/e2e/cypress/cypress/integration/editor/ci-po/create-ci-po.spec.js
  tests/e2e/cypress/cypress/support/cipo.js
  tests/ui/notifications/test_notifications_api.py
  tests/unit/test_circ_policies_jsonschema.py
  tests/unit/test_patron_transaction_events_jsonschema.py
Labels: circulation, performance

#1680 public ui: better document type facet
  rero_ils/modules/documents/serializers.py
  rero_ils/modules/documents/utils.py
  rero_ils/modules/documents/views.py
  rero_ils/modules/ext.py
  rero_ils/modules/imports/serializers.py
  rero_ils/modules/items/serializers/json.py
  rero_ils/modules/utils.py
Labels: search

#1736 circulation: Fix in-house checkout
  rero_ils/config.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/loans/utils.py
  tests/api/circulation/test_inhouse_cipo.py
  tests/ui/loans/test_loans_api.py
Labels: circulation

#1730 libraries: closed date API
  rero_ils/modules/libraries/api_views.py
  rero_ils/modules/libraries/views.py
  setup.py
  tests/api/libraries/test_libraries_rest_views.py
Labels: enhancement

#1765 permissions: correct caching problems
  rero_ils/modules/views.py
Labels: critical bug, permissions

#1767 document: add 'bf:Lccn' as identifier type
  rero_ils/modules/documents/jsonschemas/documents/document_identified_by-v0.0.1.json
Labels: data

#1691 libraries: add notification settings in library definition
  data/libraries.json
  rero_ils/modules/libraries/api.py
  rero_ils/modules/libraries/jsonschemas/libraries/library-v0.0.1.json
  rero_ils/modules/libraries/mappings/v7/libraries/library-v0.0.1.json
  rero_ils/modules/loans/api.py
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/templates/email/_patron_address.txt
  rero_ils/modules/notifications/templates/email/availability/eng.txt
  rero_ils/modules/notifications/templates/email/availability/fre.txt
  rero_ils/modules/notifications/templates/email/availability/ger.txt
  rero_ils/modules/notifications/templates/email/availability/ita.txt
  rero_ils/modules/notifications/templates/email/due_soon/eng.txt
  rero_ils/modules/notifications/templates/email/due_soon/fre.txt
  rero_ils/modules/notifications/templates/email/due_soon/ger.txt
  rero_ils/modules/notifications/templates/email/due_soon/ita.txt
  rero_ils/modules/notifications/templates/email/others/location_notification.txt
  rero_ils/modules/notifications/templates/email/overdue/eng.txt
  rero_ils/modules/notifications/templates/email/overdue/fre.txt
  rero_ils/modules/notifications/templates/email/overdue/ger.txt
  rero_ils/modules/notifications/templates/email/overdue/ita.txt
  rero_ils/modules/notifications/templates/email/recall/eng.txt
  rero_ils/modules/notifications/templates/email/recall/fre.txt
  rero_ils/modules/notifications/templates/email/recall/ger.txt
  rero_ils/modules/notifications/templates/email/recall/ita.txt
  tests/api/notifications/test_notifications_rest.py
  tests/data/data.json
  tests/fixtures/circulation.py
  tests/ui/notifications/test_notifications_api.py
Labels: notifications

#1784 tests: pycodestyle
  docs/conf.py
  pytest.ini
  rero_ils/dojson/utils.py
  rero_ils/modules/circ_policies/api.py
  rero_ils/modules/cli.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/listener.py
  rero_ils/modules/documents/serializers.py
  rero_ils/modules/documents/utils.py
  rero_ils/modules/ext.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/imports/api.py
  rero_ils/modules/imports/views.py
  rero_ils/modules/items/cli.py
  rero_ils/modules/libraries/api.py
  rero_ils/modules/loans/cli.py
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/tasks.py
  rero_ils/modules/operation_logs/api.py
  rero_ils/modules/operation_logs/cli.py
  rero_ils/modules/operation_logs/listener.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/listener.py
  rero_ils/modules/patrons/tasks.py
  rero_ils/modules/tasks.py
  rero_ils/modules/users/api.py
  rero_ils/modules/users/views.py
  rero_ils/query.py
  rero_ils/utils.py
  tests/api/conftest.py
  tests/api/item_types/test_item_types_rest.py
  tests/api/libraries/test_libraries_rest_views.py
  tests/api/operation_logs/test_operation_logs_permissions.py
  tests/api/operation_logs/test_operation_logs_rest.py
  tests/api/patron_types/test_patron_types_rest.py
  tests/api/patrons/test_patrons_rest.py
  tests/api/users/test_users_rest.py
  tests/fixtures/circulation.py
  tests/fixtures/metadata.py
  tests/fixtures/sip2.py
  tests/ui/circ_policies/test_circ_policies_api.py
  tests/ui/libraries/test_libraries_api.py
  tests/ui/operation_logs/test_operation_logs_api.py
  tests/ui/operation_logs/test_operation_logs_jsonresolver.py
  tests/ui/patrons/test_patrons_api.py
  tests/unit/conftest.py
  tests/unit/test_circ_policies_jsonschema.py
  tests/unit/test_documents_dojson.py
Labels: tests

#1700 tests: mocked BNF tests
  .coveragerc
  .github/workflows/continuous-integration-test.yml
  poetry.lock
  pyproject.toml
  rero_ils/modules/ext.py
  rero_ils/modules/imports/api.py
  rero_ils/modules/imports/views.py
  run-tests.sh
  scripts/__init__.py
  tests/api/documents/test_documents_rest.py
  tests/api/test_external_services.py
  tests/conftest.py
  tests/data/bnf_anywhere_all_peter.xml
  tests/data/bnf_ean_any_123.xml
  tests/data/bnf_ean_any_9782070541270.xml
  tests/data/bnf_ean_any_9782072862014.xml
  tests/data/bnf_recordid_all_FRBNF370903960000006.xml
Labels: tests

#1809 tests: fix `test_documents_import_bnf_ean` for pycodestyle
  tests/api/test_external_services.py
Labels: bug, tests
