Repository rero/rero-ils, pull requests merged in 2022-05, with the labels that each got.

#2866 schema: correct errored values of https
  rero_ils/modules/holdings/listener.py
  rero_ils/modules/patrons/listener.py
  scripts/setup
Labels: developers, f: user management, bug

#2870 ill request: improve pickup location menu
  rero_ils/modules/ill_requests/forms.py
  rero_ils/modules/ill_requests/utils.py
  rero_ils/modules/ill_requests/views.py
Labels: f: circulation

#2871 acquisition account: remove validation on fields
  rero_ils/modules/acq_accounts/api.py
  rero_ils/modules/acq_accounts/jsonschemas/acq_accounts/acq_account-v0.0.1.json
  tests/api/acq_accounts/test_acq_accounts_rest.py
Labels: f: acquisitions, f: data migration

#2829 extension: improve maximum decimal extension
  rero_ils/modules/acq_receipts/api.py
  rero_ils/modules/acq_receipts/jsonschemas/acq_receipts/acq_receipt-v0.0.1.json
  rero_ils/modules/extensions.py
  rero_ils/modules/patron_transaction_events/api.py
  rero_ils/modules/patron_transaction_events/extentions.py
  tests/ui/acq_receipts/test_acq_receipts_api.py
  tests/ui/patron_transaction_events/test_patron_transaction_events_api.py
  tests/unit/test_patron_transaction_events_jsonschema.py
Labels: f: data migration

#2876 document: agent identifiers
  rero_ils/modules/contributions/api.py
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/imports/serializers/serializers.py
  scripts/setup
Labels: developers, f: search, f: data migration

#2888 ebooks: fix dojson subjects
  rero_ils/modules/documents/dojson/contrib/marc21tojson/rero/model.py
  rero_ils/modules/ebooks/dojson/contrib/marc21/model.py
Labels: f: data

#2896 docs: improve issues and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/correction.md
  .github/ISSUE_TEMPLATE/developers.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dev: documentation

#2889 notifications: not sent after patron changes
  rero_ils/alembic/74ab9da9f078_update_patron_communication_channels.py
  rero_ils/config.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/cli.py
  rero_ils/modules/patrons/models.py
  rero_ils/modules/users/api.py
  rero_ils/modules/users/views.py
  tests/api/patrons/test_patrons_rest.py
  tests/api/test_permissions_sys_librarian.py
  tests/api/users/test_users_profile_updates.py
  tests/fixtures/circulation.py
  tests/ui/patrons/test_patrons_api.py
Labels: f: user management, f: data migration, dev: DB

#2842 Translations update from Hosted Weblate
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
Labels: translations

#2911 Translations update from Hosted Weblate
  rero_ils/translations/de/LC_MESSAGES/messages.po
Labels: translations

#2912 translations: replace 'Leser' by 'Kunde' in German
  rero_ils/modules/notifications/templates/email/at_desk/ger.txt
  rero_ils/modules/notifications/templates/email/availability/ger.txt
  rero_ils/modules/notifications/templates/email/booking/ger.txt
  rero_ils/modules/notifications/templates/email/due_soon/ger.txt
  rero_ils/modules/notifications/templates/email/overdue/ger.txt
  rero_ils/modules/notifications/templates/email/recall/ger.txt
  rero_ils/modules/notifications/templates/email/request/ger.txt
Labels: f: notifications, client request

#2913 notification: Fix AT_DESK notification
  rero_ils/modules/notifications/subclasses/at_desk.py
Labels: f: notifications

#2918 items : adds protocol rtsp for URL pattern in jsonschemas of item and document
  rero_ils/modules/documents/jsonschemas/documents/document_electronic_locator-v0.0.1.json
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
Labels: f: data, f: data migration

#2924 help: update flask-wiki
  poetry.lock
  pyproject.toml
  rero_ils/config.py
  rero_ils/theme/templates/rero_ils/page_wiki.html
Labels: dev: documentation

#2919 release: v1.11.0
  CHANGELOG.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers

#2910 documents: dojson SLSP
  rero_ils/modules/documents/dojson/contrib/marc21tojson/slsp/model.py
Labels: f: data

#2897 loans: set last_end_date of loan to end_date.
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/extensions.py
  rero_ils/modules/loans/jsonschemas/loans/loan-ils-v0.0.1.json
  rero_ils/modules/loans/mappings/v7/loans/loan-ils-v0.0.1.json
  tests/api/loans/test_loans_rest.py
Labels: f: circulation, f: search, f: data migration

#2933 help: fix easy-mde CDN
  rero_ils/theme/templates/rero_ils/page_wiki.html
Labels: dev: documentation

#2895 stats: completions and corrections
  rero_ils/alembic/21a994dc2beb_add_library_pid_to_ill_request_.py
  rero_ils/modules/ill_requests/extensions.py
  rero_ils/modules/operation_logs/jsonschemas/operation_logs/operation_log-v0.0.1.json
  rero_ils/modules/stats/api.py
  tests/api/stats/conftest.py
  tests/api/stats/test_stats_rest.py
  tests/fixtures/circulation.py
Labels: f: circulation, f: data migration, f: activity-logs, f: statistics

#2936 document: fix subject subdivisions min items
  rero_ils/modules/documents/jsonschemas/documents/document_subjects-v0.0.1.json
Labels: f: data, f: data migration
