Repository rero/rero-ils, pull requests merged in 2022-01, with the labels that each got.

#2596 dependencies: update the dependencies lock file
  .github/workflows/continuous-integration-test.yml
  Dockerfile.base
  INSTALL.rst
  docker-services.yml
  docker/elasticsearch/Dockerfile
  poetry.lock
  pyproject.toml
  run-tests.sh
  setup.py
  tests/api/test_tasks.py
  tests/data/data.json
  tests/fixtures/metadata.py
  tests/ui/loans/test_loans_api.py
  tests/ui/operation_logs/test_operation_logs_api.py
  tests/ui/operation_logs/test_operation_logs_mapping.py
Labels: deployment, documentation

#2624 notifications: fix creation
  rero_ils/modules/loans/api.py
Labels: circulation

#2645 notification: fix `reply-to` recipient
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/subclasses/circulation.py
  tests/api/notifications/test_notifications_rest.py
Labels: notifications

#2631 release: v1.8.0
  CHANGES.md
  data/acq_accounts.json
  pyproject.toml
  rero_ils/theme/templates/rero_ils/_frontpage_block_vs.html
  rero_ils/version.py
  scripts/bootstrap
Labels: developers, dev: documentation, fixtures, documentation
