Repository rero/rero-ils, pull requests merged in 2022-03, with the labels that each got.

#2725 monitoring: better time stamps
  rero_ils/modules/contributions/tasks.py
  rero_ils/modules/documents/tasks.py
  rero_ils/modules/ebooks/tasks.py
  rero_ils/modules/holdings/tasks.py
  rero_ils/modules/items/tasks.py
  rero_ils/modules/loans/tasks.py
  tests/ui/loans/test_loans_api.py
Labels: f: circulation, dev: monitoring

#2745 circulation: create patron fees on extend
  rero_ils/modules/loans/listener.py
  tests/ui/circulation/test_actions_extend.py
Labels: f: circulation

#2740 selfcheck: fix item not found.
  rero_ils/modules/errors.py
  rero_ils/modules/selfcheck/api.py
  tests/api/selfcheck/test_selfcheck.py
Labels: f: circulation, bug

#2743 alembic: fix elasticsearch timeout
  rero_ils/alembic/2b0af71048a7_add_request_expiration_date.py
  rero_ils/alembic/54134957af7d_loan_checkout_location_pid.py
  rero_ils/alembic/90d857fb5c23_unpaid_subscription_limit.py
Labels: bug

#2744 selfcheck: add column for comments
  rero_ils/alembic/b90f8b148948_add_column_to_selfcheck_terminals.py
  rero_ils/modules/selfcheck/cli.py
  rero_ils/modules/selfcheck/models.py
  tests/api/selfcheck/test_models.py
Labels: enhancement, f: circulation, f: data migration, dev: DB

#2728 contributions: better update_contributions
  rero_ils/config.py
  rero_ils/modules/contributions/api.py
  rero_ils/modules/contributions/tasks.py
Labels: performance

#2757 oauth: make some information optional
  rero_ils/modules/patrons/views.py
  tests/api/patrons/test_patrons_rest.py
Labels: f: user management, bug

#2760 circulation: fix checkout end date
  rero_ils/modules/loans/utils.py
  tests/ui/loans/test_loans_api.py
Labels: f: circulation

#2771 circulation: fix extend end date
  rero_ils/modules/loans/utils.py
  tests/ui/loans/test_loans_api.py
Labels: f: circulation

#2756 circulation: cancel intransit request with loans
  rero_ils/modules/items/api/circulation.py
  tests/ui/circulation/test_actions_cancel_request.py
  tests/ui/circulation/test_in_transit_actions.py
Labels: f: circulation, bug (critical)

#2789 item: fix item serialization
  rero_ils/modules/items/dumpers.py
  rero_ils/modules/loans/serializers.py
  tests/ui/items/test_items_dumpers.py
Labels: f: circulation

#2686 circulation: fix extension duration calculation.
  rero_ils/modules/loans/utils.py
  tests/ui/circulation/test_actions_extend.py
Labels: f: circulation

#2788 operation log: fix document title for loan
  rero_ils/modules/loans/logs/api.py
Labels: f: circulation, bug, f: activity-logs

#2790 items: delete obsolete temporary locations
  rero_ils/alembic/ce4923ba5286_delete_expired_items_temporary_locations.py
  rero_ils/config.py
  rero_ils/modules/items/api/api.py
  rero_ils/modules/items/tasks.py
  tests/api/test_tasks.py
  tests/ui/items/test_items_api.py
Labels: bug, f: data migration
