Repository rero/rero-ils, pull requests merged in 2022-07, with the labels that each got.

#2970 release: v1.12.0
  CHANGELOG.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers

#2986 acquisition: fix deletion of order lines already received
  rero_ils/modules/acq_order_lines/api.py
Labels: f: acquisitions

#3010 fix(contributions): show most used roles first
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_role-v0.0.1.json
Labels: f: data, f: data migration

#3011 fix: show most used values first in lists
  rero_ils/jsonschemas/common/countries-v0.0.1.json
  rero_ils/jsonschemas/common/languages-v0.0.1.json
Labels: f: data, f: data migration

#3019 patron transactions: fix incremental overdue fees
  rero_ils/modules/patron_transactions/utils.py
Labels: bug (critical)

#3021 notifications: fix notification at desk
  rero_ils/modules/notifications/subclasses/at_desk.py
Labels: f: notifications, bug

#3023 notifications: at desk notification gets cancelled
  rero_ils/modules/notifications/subclasses/at_desk.py
Labels: f: notifications, bug
