Repository rero/rero-ils, pull requests merged in 2022-10, with the labels that each got.

#3101 permissions: refactoring loan policies
  data/role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/loans/permissions.py
  tests/api/loans/test_loans_permissions.py
  tests/api/loans/test_loans_rest.py
  tests/data/policies/role_policies.json
Labels: f: circulation, f: permissions, dev: fixtures

#3122 permissions: refactoring notification permission policy
  data/role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/notifications/permissions.py
  rero_ils/modules/permissions.py
  tests/api/notifications/test_notifications_permissions.py
  tests/api/notifications/test_notifications_rest.py
  tests/data/policies/role_policies.json
Labels: f: notifications, f: permissions, dev: fixtures

#3117 permission: Refactoring collection/template permission policies
  data/role_policies.json
  data/system_role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/collections/permissions.py
  rero_ils/modules/templates/extensions.py
  rero_ils/modules/templates/permissions.py
  tests/api/collections/test_collections_permissions.py
  tests/api/collections/test_collections_rest.py
  tests/api/templates/test_templates_permissions.py
  tests/api/templates/test_templates_rest.py
  tests/data/data.json
  tests/data/policies/role_policies.json
  tests/data/policies/system_role_policies.json
  tests/fixtures/metadata.py
Labels: f: data, f: permissions, dev: fixtures

#3116 permissions: refactoring LocalField permission policy
  data/role_policies.json
  data/system_role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/local_fields/api.py
  rero_ils/modules/local_fields/permissions.py
  rero_ils/modules/utils.py
  tests/api/local_fields/test_local_fields_permissions.py
  tests/api/local_fields/test_local_fields_rest.py
  tests/data/policies/role_policies.json
  tests/data/policies/system_role_policies.json
  tests/fixtures/metadata.py
Labels: f: permissions, dev: fixtures

#3129 permissions: refactroring patron transaction permissions policies
  data/role_policies.json
  data/system_role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/patron_transaction_events/permissions.py
  rero_ils/modules/patron_transactions/permissions.py
  tests/api/patron_transaction_events/test_patron_transaction_events_permissions.py
  tests/api/patron_transaction_events/test_patron_transaction_events_rest.py
  tests/api/patron_transactions/test_patron_transactions_permissions.py
  tests/api/patron_transactions/test_patron_transactions_rest.py
  tests/data/policies/role_policies.json
  tests/data/policies/system_role_policies.json
Labels: f: permissions, dev: fixtures

#3090 permission: refactoring patron resource policies
  data/role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/libraries/permissions.py
  rero_ils/modules/patrons/extensions.py
  rero_ils/modules/patrons/permissions.py
  rero_ils/modules/patrons/views.py
  rero_ils/modules/permissions.py
  tests/api/patrons/test_patrons_permissions.py
  tests/api/patrons/test_patrons_rest.py
  tests/api/test_permissions_librarian.py
  tests/api/test_permissions_patron.py
  tests/api/test_permissions_sys_librarian.py
  tests/api/test_record_permissions.py
  tests/api/test_search.py
  tests/data/policies/role_policies.json
Labels: f: user management, f: permissions, dev: fixtures

#3133 item: avoid deletion when a collection use it
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/modules/items/api/circulation.py
  tests/ui/items/test_items_api.py
Labels: f: circulation

#3132 web asset: use angular 14
  rero_ils/modules/patrons/templates/rero_ils/patron_profile.html
  rero_ils/modules/users/templates/rero_ils/user_password.html
  rero_ils/modules/users/templates/rero_ils/user_profile.html
  rero_ils/theme/templates/rero_ils/javascript.html
  rero_ils/theme/templates/rero_ils/professional.html
  rero_ils/theme/templates/rero_ils/search.html
  scripts/bootstrap
Labels: developers, f: user management

#3141 ill requests: add warning to check organisation
  rero_ils/modules/ill_requests/templates/rero_ils/ill_request_form.html
Labels: f: circulation

#3139 serializers: fix error when no `bf:Publication`
  rero_ils/modules/items/serializers/collector.py
  tests/api/test_serializers.py
Labels: bug
