Repository rero/rero-ils, pull requests merged in 2022-09, with the labels that each got.

#3070 setup: limit number of ebooks in test instances
  scripts/setup
  scripts/setup_csv
Labels: developers

#3064 selfcheck: fix user authentication
  poetry.lock
  pyproject.toml
  rero_ils/modules/errors.py
  rero_ils/modules/selfcheck/api.py
  rero_ils/modules/selfcheck/utils.py
  tests/api/selfcheck/test_selfcheck.py
Labels: f: circulation

#3076 libraries: add rollover settings
  data/libraries.json
  rero_ils/modules/libraries/jsonschemas/libraries/library-v0.0.1.json
  rero_ils/modules/libraries/mappings/v7/libraries/library-v0.0.1.json
  tests/data/data.json
Labels: f: search, f: data migration, dev: fixtures

#3080 release: v1.13.0
  CHANGELOG.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers

#3067 permissions: refactoring circulation policies
  data/role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/circ_policies/permissions.py
  tests/api/circ_policies/test_circ_policies_permissions.py
  tests/api/circ_policies/test_circ_policies_rest.py
  tests/data/role_policies.json
Labels: f: circulation, f: permissions, dev: fixtures

#3088 permissions: refactoring location policy
  data/role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/locations/permissions.py
  rero_ils/modules/permissions.py
  tests/api/locations/test_locations_permissions.py
  tests/api/locations/test_locations_rest.py
  tests/data/role_policies.json
Labels: f: permissions, dev: fixtures

#3066 permissions: document/holding/item resource policies refactoring
  data/role_policies.json
  data/system_role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/cli/fixtures.py
  rero_ils/modules/documents/permissions.py
  rero_ils/modules/holdings/permissions.py
  rero_ils/modules/items/permissions.py
  scripts/setup
  tests/api/documents/test_documents_permissions.py
  tests/api/documents/test_documents_rest.py
  tests/api/documents/test_export_serializers.py
  tests/api/holdings/test_holdings_permissions.py
  tests/api/holdings/test_holdings_rest.py
  tests/api/items/test_items_permissions.py
  tests/api/items/test_items_rest_views.py
  tests/api/test_external_services.py
  tests/api/test_search.py
  tests/conftest.py
  tests/data/holdings.json
  tests/data/policies/role_policies.json
  tests/data/policies/system_role_policies.json
  tests/fixtures/circulation.py
  tests/fixtures/metadata.py
Labels: developers, f: permissions, dev: fixtures

#3098 documents: fix flask attribute error.
  rero_ils/modules/documents/api.py
  rero_ils/modules/holdings/tasks.py
  rero_ils/modules/items/api/issue.py
  rero_ils/modules/loans/api.py
Labels: f: circulation, f: serials

#3104 fix irregular holdings
  rero_ils/modules/items/api/issue.py
Labels: f: serials, v1.13.1

#3108 release: v1.13.1
  CHANGELOG.md
  pyproject.toml
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/version.py
Labels: translations

#3074 mappings: index call_numbers as text
  rero_ils/modules/holdings/mappings/v7/holdings/holding-v0.0.1.json
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
Labels: f: search, f: data migration

#3095 holdings: extend `note.content` max length
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
Labels: f: data migration

#3106 document: link on havested documents is disabled
  rero_ils/modules/documents/jsonschemas/documents/document_document_relation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_part_of-v0.0.1.json
Labels: f: data, f: data migration
