Repository rero/rero-ils, pull requests merged in 2022-12, with the labels that each got.

#3172 tests: fix tests due to too short variables
  rero_ils/modules/documents/serializers/json.py
  rero_ils/modules/stats/permissions.py
  run-tests.sh
Labels: f: permissions, f: statistics

#3146 notification: enrich availability context
  rero_ils/modules/notifications/subclasses/availability.py
  rero_ils/modules/notifications/templates/email/availability/eng.txt
  rero_ils/modules/notifications/templates/email/availability/fre.txt
  rero_ils/modules/notifications/templates/email/availability/ger.txt
  rero_ils/modules/notifications/templates/email/availability/ita.txt
  tests/ui/notifications/test_notifications_api.py
Labels: f: notifications

#3175 devel: add keep alive dev server support
  rero_ils/modules/ext.py
Labels: v1.14.0

#3160 PatronTransaction: facets & serialization
  rero_ils/config.py
  rero_ils/facets.py
  rero_ils/modules/acq_receipt_lines/mappings/v7/acq_receipt_lines/__init__.py
  rero_ils/modules/acq_receipts/mappings/v7/acq_receipts/__init__.py
  rero_ils/modules/documents/serializers/json.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/patron_transaction_events/__init__.py
  rero_ils/modules/patron_transaction_events/api.py
  rero_ils/modules/patron_transaction_events/jsonresolver.py
  rero_ils/modules/patron_transaction_events/listener.py
  rero_ils/modules/patron_transaction_events/mappings/v7/patron_transaction_events/patron_transaction_event-v0.0.1.json
  rero_ils/modules/patron_transaction_events/models.py
  rero_ils/modules/patron_transaction_events/permissions.py
  rero_ils/modules/patron_transaction_events/serializers.py
  rero_ils/modules/patron_transaction_events/serializers/__init__.py
  rero_ils/modules/patron_transaction_events/serializers/csv.py
  rero_ils/modules/patron_transaction_events/serializers/json.py
  rero_ils/modules/patron_transaction_events/utils.py
  rero_ils/modules/patron_transactions/__init__.py
  rero_ils/modules/patron_transactions/api.py
  rero_ils/modules/patron_transactions/jsonresolver.py
  rero_ils/modules/patron_transactions/listener.py
  rero_ils/modules/patron_transactions/models.py
  rero_ils/modules/patron_transactions/permissions.py
  rero_ils/modules/patron_transactions/serializers.py
  rero_ils/modules/patron_transactions/utils.py
  rero_ils/modules/serializers/mixins.py
  rero_ils/modules/utils.py
  tests/api/documents/test_documents_rest.py
  tests/api/patron_transaction_events/test_patron_payments_rest.py
  tests/api/patron_transaction_events/test_patron_transaction_events_rest.py
  tests/api/test_exports.py
  tests/api/test_monitoring_rest.py
  tests/ui/patron_transaction_events/test_patron_transaction_events_api.py
  tests/ui/patron_transactions/test_patron_transactions_api.py
  tests/ui/test_monitoring.py
Labels: f: circulation, f: search, f: permissions, f: data migration, dev: DB

#3176 acquisition: fix order notification template.
  rero_ils/modules/documents/dumpers.py
Labels: v1.14.0

#3155 document: document with item and or local field
  rero_ils/modules/cli/utils.py
Labels: v1.14.0

#3182 contribution: fixes PIDDoesNotExistError
  rero_ils/modules/contributions/views.py
Labels: v1.14.0

#3183 tests: fix notifications
  tests/api/notifications/test_notifications_rest.py
  tests/fixtures/circulation.py
Labels: v1.14.0

#3177 loans: fix terminated loan indexing
  rero_ils/modules/loans/listener.py
  tests/ui/loans/test_loans_api.py
Labels: f: circulation, v1.14.0

#3180 documents: better facets fiction
  rero_ils/config.py
Labels: v1.14.0

#3069 contribution: add mef pid in document contributions
  rero_ils/modules/contributions/api.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/extensions.py
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_organisation_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_person_link-v0.0.1.json
  rero_ils/modules/documents/listener.py
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/documents/serializers/dc.py
  rero_ils/modules/documents/serializers/json.py
  rero_ils/modules/documents/serializers/ris.py
  rero_ils/modules/documents/utils.py
  rero_ils/modules/imports/serializers/serializers.py
  tests/api/documents/test_documents_rest.py
  tests/ui/documents/test_documents_api.py
Labels: f: data, f: search, f: data migration, v1.14.0

#3178 selfcheck: fix summary fields in patron information
  poetry.lock
  rero_ils/config.py
  rero_ils/modules/selfcheck/api.py
  tests/api/selfcheck/test_selfcheck.py
Labels: f: circulation, v1.14.0
