Repository rero/rero-ils, pull requests merged in 2022-04, with the labels that each got.

#2807 tests: fix `test_fees_after_extend` uni test
  rero_ils/modules/loans/listener.py
  run-tests.sh
  tests/ui/circulation/test_actions_extend.py
Labels: f: circulation

#2806 dojson: fix contribution
  rero_ils/modules/cli/fixtures.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/dnb/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/kul/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/loc/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/slsp/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/ugent/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
  scripts/setup
  tests/unit/test_cli_fixtures.py
Labels: f: data, developers

#2802 acquisition: complete fixtures for some resources
  data/acq_accounts.json
  data/acq_invoices.json
  data/acq_order_lines.json
  data/acq_orders.json
  data/acq_receipt_lines.json
  data/acq_receipts.json
  data/budgets.json
  data/libraries.json
  rero_ils/modules/cli/fixtures.py
  scripts/setup
Labels: developers, f: acquisitions, dev: fixtures

#2824 dojson: fix work access point and title
  rero_ils/modules/documents/dojson/contrib/marc21tojson/dnb/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/kul/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/rero/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/slsp/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
  rero_ils/modules/documents/jsonschemas/documents/document_work_access_point-v0.0.1.json
  tests/unit/test_documents_dojson.py
  tests/unit/test_documents_dojson_slsp.py
Labels: f: data, f: data migration

#2828 style(holdings): change unclear labels
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
Labels: f: professional ui, f: public ui, wording, f: data migration, correction

#2832 document: fix `title_format_text` for a document
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/utils.py
  tests/api/documents/test_documents_rest.py
  tests/unit/test_documents_dojson_dc.py
  tests/unit/test_documents_utils.py
Labels: f: data

#2782 circulation: fix request not cancelled
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/extensions.py
  rero_ils/modules/loans/logs/api.py
  tests/ui/circulation/test_actions_cancel_request.py
  tests/ui/circulation/test_actions_expired_request.py
Labels: f: circulation, f: activity-logs

#2720 python: use poetry
  .coveragerc
  .github/workflows/continuous-integration-test.yml
  Dockerfile
  Dockerfile.base
  INSTALL.rst
  poetry.lock
  pyproject.toml
  pytest.ini
  rero_ils/config.py
  rero_ils/modules/acq_order_lines/api.py
  rero_ils/modules/acq_orders/api.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/ill_requests/api.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/locations/api.py
  rero_ils/modules/monitoring/views.py
  rero_ils/modules/vendors/api.py
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
  rero_ils/translations/ru/LC_MESSAGES/messages.po
  rero_ils/translations/zh_Hant/LC_MESSAGES/messages.po
  run-tests.sh
  scripts/__init__.py
  scripts/bootstrap
  setup.py
Labels: translations, f: circulation, developers, dev: documentation, f: acquisitions, dev: dependencies

#2852 fixtures: ensure better indexing of acqz data
  data/acq_accounts.json
  data/budgets.json
  data/libraries.json
  data/organisations.json
  scripts/setup
Labels: developers, f: acquisitions, dev: fixtures
