Repository rero/rero-ils, pull requests merged in 2022-06, with the labels that each got.

#2861 resource: improve data validation against JSONSchema
  rero_ils/config.py
  rero_ils/modules/api.py
  rero_ils/modules/libraries/jsonschemas/libraries/library-v0.0.1.json
  rero_ils/modules/locations/jsonschemas/locations/location-v0.0.1.json
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/extensions.py
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
  rero_ils/modules/patrons/views.py
  rero_ils/modules/users/api.py
  rero_ils/modules/users/jsonschemas/users/user-v0.0.1.json
  rero_ils/modules/utils.py
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
  tests/api/users/test_users_profile_updates.py
  tests/unit/test_locations_jsonschema.py
  tests/unit/test_patrons_jsonschema.py
Labels: f: user management, f: data migration

#2945 tests: fix test_loan_operation_log
  rero_ils/modules/loans/logs/api.py
  rero_ils/modules/patrons/api.py
  tests/ui/loans/test_loans_operation_logs.py
Labels: f: circulation, f: user management, f: activity-logs

#2942 holdings: fix items updates
  rero_ils/modules/holdings/listener.py
Labels: correction

#2941 test: fix github actions
  .github/workflows/continuous-integration-test.yml
Labels: dev: documentation

#2939 notification: fix `at_desk` notification context.
  rero_ils/modules/notifications/subclasses/at_desk.py
  rero_ils/modules/notifications/subclasses/circulation.py
Labels: f: notifications

#2909 document: nested identifiedBy
  rero_ils/config.py
  rero_ils/es_templates/v7/record.json
  rero_ils/modules/acq_order_lines/dumpers.py
  rero_ils/modules/acq_orders/mappings/v7/acq_orders/acq_order-v0.0.1.json
  rero_ils/modules/acq_receipt_lines/dumpers.py
  rero_ils/modules/acq_receipts/mappings/v7/acq_receipts/acq_receipt-v0.0.1.json
  rero_ils/modules/commons/__init__.py
  rero_ils/modules/commons/identifiers.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/dumpers.py
  rero_ils/modules/documents/listener.py
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/documents/query.py
  rero_ils/modules/ebooks/tasks.py
  rero_ils/modules/holdings/cli.py
  rero_ils/query.py
  tests/api/documents/test_documents_rest.py
  tests/api/test_external_services.py
  tests/ui/documents/test_documents_api.py
  tests/unit/documents/test_identifiers.py
Labels: f: search, f: acquisitions, f: data migration

#2928 acquisition: fix acquisition notification templates
  rero_ils/modules/acq_orders/api.py
  rero_ils/modules/acq_orders/dumpers.py
  rero_ils/modules/acq_orders/templates/rero_ils/vendor_order_mail/eng.tpl.txt
  rero_ils/modules/acq_orders/templates/rero_ils/vendor_order_mail/fre.tpl.txt
  rero_ils/modules/acq_orders/templates/rero_ils/vendor_order_mail/ger.tpl.txt
  rero_ils/modules/acq_orders/templates/rero_ils/vendor_order_mail/ita.tpl.txt
  rero_ils/modules/commons/identifiers.py
  rero_ils/modules/documents/dumpers.py
Labels: f: acquisitions

#2963 global front page: fix link to new ill request
  rero_ils/theme/templates/rero_ils/_frontpage_block_global.html
Labels: correction, client request

#2753 documents: add identifiedBy on some fields
  rero_ils/jsonschemas/common/cantons-v0.0.1.json
  rero_ils/jsonschemas/common/languages-v0.0.1.json
  rero_ils/modules/acq_order_lines/jsonschemas/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/circ_policies/jsonschemas/circ_policies/circ_policy-v0.0.1.json
  rero_ils/modules/collections/jsonschemas/collections/collection-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_content_media_carrier-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_organisation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_document_relation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_electronic_locator-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_identified_by-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_identifier-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_intended_audience-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_provision_activity-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_scale_cartographic-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_subjects-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_types-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_work_access_point-v0.0.1.json
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/ill_requests/jsonschemas/ill_requests/ill_request-v0.0.1.json
  rero_ils/modules/item_types/jsonschemas/item_types/item_type-v0.0.1.json
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/locations/jsonschemas/locations/location-v0.0.1.json
  rero_ils/modules/patron_types/jsonschemas/patron_types/patron_type-v0.0.1.json
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
Labels: f: circulation, f: data, f: search, f: user management, f: acquisitions, f: data migration

#2962 jsonschemas: extend validation limit for `provisionActivity` dates
  rero_ils/modules/documents/jsonschemas/documents/document_provision_activity-v0.0.1.json
Labels: f: data, f: data migration

#2934 e-books: holdings affiliated to libraries
  data/libraries.json
  data/organisations.json
  rero_ils/alembic/fc45b1b998b8_holdings_affiliated_to_libraries.py
  rero_ils/modules/ebooks/tasks.py
  rero_ils/modules/ebooks/utils.py
  rero_ils/modules/libraries/api.py
  rero_ils/modules/libraries/jsonschemas/libraries/library-v0.0.1.json
  rero_ils/modules/libraries/mappings/v7/libraries/library-v0.0.1.json
  rero_ils/modules/locations/api.py
  rero_ils/modules/organisations/jsonschemas/organisations/organisation-v0.0.1.json
  tests/api/organisations/test_organisations_rest_api.py
  tests/data/data.json
  tests/data/xml/ebook1.xml
  tests/ui/ebooks/test_ebooks_receivers.py
Labels: f: search, f: data migration, dev: fixtures

#2944 dojson: fix rero 260
  rero_ils/modules/documents/dojson/contrib/marc21tojson/rero/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  rero_ils/modules/ebooks/dojson/contrib/marc21/model.py
  tests/unit/documents/test_documents_dojson.py
Labels: f: data

#2940 dojson: convert 4 last fields
  rero_ils/dojson/utils.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/dnb/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/kul/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/loc/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/rero/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/slsp/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/ugent/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
  tests/unit/documents/test_documents_dojson.py
  tests/unit/documents/test_documents_dojson_slsp.py
Labels: f: data

#2969 editor: fix subject field performance
  rero_ils/modules/documents/jsonschemas/documents/document_subjects-v0.0.1.json
Labels: f: data, f: data migration

#2955 resources: refactoring serialization
  rero_ils/config.py
  rero_ils/modules/acq_accounts/serializers.py
  rero_ils/modules/acq_invoices/serializers.py
  rero_ils/modules/acq_orders/serializers.py
  rero_ils/modules/acq_receipt_lines/serializers.py
  rero_ils/modules/acq_receipts/serializers.py
  rero_ils/modules/collections/serializers.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/serializers/__init__.py
  rero_ils/modules/documents/serializers/base.py
  rero_ils/modules/documents/serializers/dc.py
  rero_ils/modules/documents/serializers/json.py
  rero_ils/modules/documents/serializers/marc.py
  rero_ils/modules/documents/utils.py
  rero_ils/modules/extensions.py
  rero_ils/modules/holdings/serializers.py
  rero_ils/modules/ill_requests/serializers.py
  rero_ils/modules/items/serializers/__init__.py
  rero_ils/modules/items/serializers/json.py
  rero_ils/modules/loans/serializers.py
  rero_ils/modules/operation_logs/serializers.py
  rero_ils/modules/patron_transaction_events/serializers.py
  rero_ils/modules/patron_transactions/serializers.py
  rero_ils/modules/patrons/serializers.py
  rero_ils/modules/serializers.py
  rero_ils/modules/serializers/__init__.py
  rero_ils/modules/serializers/base.py
  rero_ils/modules/serializers/schema.py
  tests/api/acq_accounts/test_acq_accounts_rest.py
  tests/api/acq_orders/test_acq_orders_rest.py
  tests/api/documents/test_documents_rest.py
  tests/api/holdings/test_holdings_rest.py
  tests/api/ill_requests/test_ill_requests_rest.py
  tests/api/libraries/test_libraries_rest_views.py
  tests/api/test_serializers.py
  tests/ui/documents/test_documents_api.py
  tests/ui/libraries/test_libraries_api.py
  tests/ui/test_indexer_utils.py
Labels: f: circulation, f: data, f: user management, f: acquisitions, f: activity-logs
