Repository rero/rero-ils, pull requests merged in 2022-11, with the labels that each got.

#3154 import: customize subjects mapping by instance
  rero_ils/config.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/loc/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/slsp/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/ugent/model.py
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  tests/unit/documents/test_documents_dojson_unimarc.py
Labels: f: data, bug

#3157 document: open electronicLocator in new tab
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
Labels: correction, client request

#3162 ci: use node 14
  .github/workflows/continuous-integration-test.yml
Labels: dev: documentation

#3163 dojson: use MEF latest api for contribution link
  rero_ils/dojson/utils.py
  tests/unit/documents/test_documents_dojson.py
Labels: f: data
