Repository rero/rero-ils, pull requests merged in 2022-08, with the labels that each got.

#3028 tests: fix tests for the new pydocstyle version
  rero_ils/dojson/utils.py
  rero_ils/modules/cli/utils.py
  rero_ils/modules/holdings/api_views.py
  rero_ils/modules/loans/api.py
  tests/api/holdings/test_patterns.py
  tests/api/notifications/test_notifications_rest.py
  tests/api/patron_transaction_events/test_patron_transaction_events_rest.py
  tests/api/patron_transactions/test_patron_transactions_rest.py
  tests/api/patron_types/test_patron_types_rest.py
  tests/api/patrons/test_patrons_rest.py
  tests/ui/holdings/test_holdings_api.py
Labels: f: circulation, f: data

#3035 dojson: better code
  rero_ils/dojson/utils.py
  rero_ils/modules/cli/utils.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/rero/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
  rero_ils/modules/documents/jsonschemas/documents/document_temporal_coverage-v0.0.1.json
  tests/unit/documents/test_documents_dojson.py
Labels: f: data, f: data migration

#3024 documentation: update contributing guide
  CONTRIBUTING.rst
Labels: dev: documentation

#3029 holdings: fix json schema
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
Labels: f: data migration

#3046 serialization: fix caching reset problem
  rero_ils/config.py
  rero_ils/modules/acq_accounts/serializers.py
  rero_ils/modules/acq_invoices/serializers.py
  rero_ils/modules/acq_orders/serializers.py
  rero_ils/modules/acq_receipt_lines/serializers.py
  rero_ils/modules/collections/serializers.py
  rero_ils/modules/documents/serializers/__init__.py
  rero_ils/modules/holdings/serializers.py
  rero_ils/modules/ill_requests/serializers.py
  rero_ils/modules/imports/serializers/__init__.py
  rero_ils/modules/items/serializers/__init__.py
  rero_ils/modules/items/serializers/json.py
  rero_ils/modules/loans/serializers/__init__.py
  rero_ils/modules/operation_logs/serializers.py
  rero_ils/modules/patron_transaction_events/serializers.py
  rero_ils/modules/patron_transactions/serializers.py
  rero_ils/modules/patrons/serializers.py
  rero_ils/modules/serializers/__init__.py
  rero_ils/modules/serializers/mixins.py
  rero_ils/modules/serializers/response.py
  tests/api/test_serializers.py
Labels: f: circulation, f: user management, f: acquisitions, f: activity-logs

#3058 fixtures: fix incorrect patron template
  data/templates.json
Labels: dev: fixtures

#3047 permissions: refactoring organisation policy
  data/role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/ext.py
  rero_ils/modules/organisations/permissions.py
  rero_ils/modules/patron_types/permissions.py
  rero_ils/modules/permissions.py
  tests/api/organisations/test_organisations_permissions.py
  tests/api/patron_types/test_patron_types_permissions.py
  tests/data/role_policies.json
Labels: f: circulation, f: user management, f: permissions, dev: fixtures

#3049 documents: fix partOf indexing
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/listener.py
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/documents/views.py
  tests/ui/documents/test_documents_api.py
Labels: f: search, f: data migration

#3030 search: fix document index configuration
  rero_ils/config.py
  rero_ils/es_templates/v7/record.json
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/documents/utils.py
  rero_ils/modules/sru/cql_parser.py
  tests/api/conftest.py
  tests/api/sru/test_sru_rest.py
  tests/api/test_external_services.py
  tests/api/test_search.py
  tests/ui/documents/test_documents_mapping.py
  tests/unit/documents/test_documents_dojson_dc.py
  tests/unit/documents/test_documents_utils.py
Labels: f: data, f: search, f: data migration

#3059 permissions: refactoring vendor policy
  data/role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/vendors/permissions.py
  tests/api/organisations/test_organisations_permissions.py
  tests/api/patron_types/test_patron_types_permissions.py
  tests/api/vendors/test_vendors_permissions.py
  tests/data/data.json
  tests/data/role_policies.json
  tests/utils.py
Labels: f: permissions, dev: fixtures

#3062 permissions: refactoring item type policy
  data/role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/item_types/permissions.py
  tests/api/item_types/test_item_types_permissions.py
  tests/data/role_policies.json
Labels: f: circulation, f: permissions, dev: fixtures

#3060 item editor: add acquisition_date to quick access
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
Labels: f: data, f: data migration

#3057 permissions: refactoring library policy
  data/role_policies.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/ext.py
  rero_ils/modules/libraries/api.py
  rero_ils/modules/libraries/permissions.py
  rero_ils/modules/permissions.py
  tests/api/libraries/test_libraries_permissions.py
  tests/api/libraries/test_libraries_rest.py
  tests/api/organisations/test_organisations_permissions.py
  tests/api/vendors/test_vendors_permissions.py
  tests/data/data.json
  tests/data/role_policies.json
  tests/ui/libraries/test_libraries_api.py
Labels: f: permissions, dev: fixtures
