Repository rero/rero-ils, pull requests merged in 2022-02, with the labels that each got.

#2641 document: set `responsibilities` as essential field
  rero_ils/modules/documents/jsonschemas/documents/document_responsibility_statement-v0.0.1.json
Labels: f: data, f: data migration

#2642 patrons: use ISO format for dates into API
  rero_ils/modules/patrons/views.py
Labels: f: user management

#2638 document: add Bulgarian script languages
  rero_ils/jsonschemas/common/languages-v0.0.1.json
Labels: f: data, f: data migration

#2657 notifications: refactoring email getter function
  rero_ils/modules/libraries/api.py
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/subclasses/booking.py
  rero_ils/modules/notifications/subclasses/internal.py
  rero_ils/modules/notifications/subclasses/transit.py
  tests/api/notifications/test_notifications_rest.py
  tests/data/data.json
  tests/ui/libraries/test_libraries_api.py
  tests/ui/notifications/test_notifications_api.py
Labels: notifications

#2664 document: fix `educationalSheet` translation
  rero_ils/modules/documents/jsonschemas/documents/document_electronic_locator-v0.0.1.json
Labels: data, data-migration

#2646 items: dump `request date` for any loan request
  rero_ils/modules/loans/api.py
Labels: f: circulation, circulation

#2644 patron_types: add a limit for unpaid subscription
  data/patron_types.json
  rero_ils/alembic/90d857fb5c23_unpaid_subscription_limit.py
  rero_ils/modules/items/views/api_views.py
  rero_ils/modules/patron_transaction_events/api.py
  rero_ils/modules/patron_types/api.py
  rero_ils/modules/patron_types/jsonschemas/patron_types/patron_type-v0.0.1.json
  rero_ils/modules/patron_types/mappings/v7/patron_types/patron_type-v0.0.1.json
  rero_ils/modules/patrons/api.py
  tests/api/circulation/test_borrow_limits.py
  tests/data/data.json
Labels: f: circulation, f: search, f: user management, f: data migration, fixtures, user management, data-migration, search, circulation

#2671 vendor: allow more flexibility on phone number.
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
Labels: data-migration

#2668 document: add `teaching material` document type
  rero_ils/modules/documents/jsonschemas/documents/document_types-v0.0.1.json
  rero_ils/modules/documents/static/images/icon_docmaintype_teaching_material.svg
Labels: data, data-migration

#2682 patron transaction event: fix decimal amount
  rero_ils/modules/loans/listener.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/patron_transaction_events/api.py
  rero_ils/modules/patron_transaction_events/extentions.py
  rero_ils/modules/patron_transaction_events/jsonschemas/patron_transaction_events/patron_transaction_event-v0.0.1.json
  rero_ils/modules/patron_transaction_events/models.py
  rero_ils/modules/patron_transactions/api.py
  rero_ils/modules/patron_transactions/utils.py
  rero_ils/modules/patron_types/api.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/views.py
  rero_ils/modules/selfcheck/api.py
  tests/api/circulation/test_actions_views_checkin.py
  tests/api/patron_transaction_events/test_patron_payments_rest.py
  tests/api/patron_transactions/test_patron_transactions_rest.py
  tests/ui/loans/test_loans_api.py
  tests/ui/patron_transaction_events/test_patron_transaction_events_api.py
Labels: user management, notifications, data-migration, DB, circulation

#2678 circulation: compute fees on checkout location
  rero_ils/alembic/54134957af7d_loan_checkout_location_pid.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/extensions.py
  rero_ils/modules/loans/jsonschemas/loans/loan-ils-v0.0.1.json
  rero_ils/modules/loans/listener.py
  rero_ils/modules/loans/mappings/v7/loans/loan-ils-v0.0.1.json
  rero_ils/modules/loans/utils.py
  tests/ui/circulation/test_actions_extend.py
Labels: data-migration, search, circulation

#2690 notification: disable notifications creation by config
  rero_ils/config.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/notifications/api.py
  tests/api/notifications/test_notifications_rest.py
Labels: notifications, circulation

#2709 modules: add logging to create
  rero_ils/modules/api.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/patrons/api.py
Labels: user management

#2702 menu: fix bad caret alignment in mobile menu
  rero_ils/theme/templates/rero_ils/header.html
Labels: f: public ui, UX

#2721 issues: fix 'received_date' required conditions.
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
Labels: data, data-migration

#2699 contribution: online update
  rero_ils/modules/cli/reroils.py
  rero_ils/modules/contributions/api.py
  rero_ils/modules/contributions/cli.py
  rero_ils/modules/contributions/models.py
  rero_ils/modules/contributions/tasks.py
  rero_ils/modules/contributions/views.py
  rero_ils/modules/documents/utils.py
  setup.py
  tests/api/contributions/test_contributions_rest.py
Labels: data, data-migration, DB

#2726 release: v1.9.0
  CHANGES.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers, documentation

#2719 documentation: update PR labeler to new Github label list
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/correction.md
  .github/ISSUE_TEMPLATE/developers.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/labeler.yml
  .github/workflows/stale.yml
Labels: dev: documentation, documentation
