Repository rero/rero-ils, pull requests merged in 2023-12, with the labels that each got.

#3548 dependencies: fix security issues
  scripts/test
  tests/ui/stats/test_stats_report_n_patrons.py
Labels: developers

#3535 release: v1.20.0
  CHANGELOG.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers

#3546 patron: add blocked and expired filters
  rero_ils/config.py
  rero_ils/modules/patrons/query.py
  tests/api/patrons/test_patrons_rest.py
Labels: f: user management

#3533 ill_request: add month filter
  rero_ils/config.py
  rero_ils/modules/ill_requests/api.py
  rero_ils/query.py
  tests/api/ill_requests/test_ill_requests_rest.py
Labels: f: circulation

#3490 acquisition: improve sorting for vendors and orders
  rero_ils/config.py
  rero_ils/modules/acquisition/acq_orders/mappings/v7/acq_orders/acq_order-v0.0.1.json
  rero_ils/modules/acquisition/acq_receipt_lines/dumpers.py
  rero_ils/modules/acquisition/acq_receipt_lines/serializers.py
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
  rero_ils/modules/vendors/mappings/v7/vendors/vendor-v0.0.1.json
Labels: f: search, f: data migration

#3537 entities: improve search link generation
  rero_ils/config.py
  rero_ils/modules/entities/models.py
  rero_ils/modules/entities/views.py
  tests/ui/entities/test_entities_ui.py
Labels: f: data migration, dev: DB

#3496 document: advanced search config and endpoint
  rero_ils/config.py
  rero_ils/modules/documents/api_views.py
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/patrons/views.py
  tests/api/documents/test_documents_rest.py
Labels: f: search, f: user management, f: data migration

#3558 stats: fix number of requests report
  rero_ils/modules/stats/api/indicators/requests.py
Labels: f: statistics

#3561 librarian stats: fix incorrect new active patrons
  rero_ils/modules/stats/api/librarian.py
Labels: f: statistics

#3559 import: fix SUDOC authors facette
  rero_ils/dojson/utils.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  rero_ils/modules/documents/utils.py
  rero_ils/modules/imports/api.py
  rero_ils/modules/imports/views.py
  tests/api/documents/test_documents_rest.py
  tests/api/test_external_services.py
  tests/utils.py
Labels: f: data
