Repository rero/rero-ils, pull requests merged in 2023-09, with the labels that each got.

#3445 fix: ill sorting on the pickup location menu
  rero_ils/modules/ill_requests/forms.py
  rero_ils/modules/ill_requests/views.py
Labels: f: circulation

#3452 dependencies: fix security issues
  poetry.lock
  scripts/test
Labels: developers

#3401 entities: public view for local and remote
  pyproject.toml
  rero_ils/config.py
  rero_ils/filter.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/dojson/contrib/jsontomarc21/model.py
  rero_ils/modules/documents/dumpers/replace_refs.py
  rero_ils/modules/documents/extensions/provision_activities.py
  rero_ils/modules/documents/serializers/base.py
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/modules/documents/views.py
  rero_ils/modules/entities/api.py
  rero_ils/modules/entities/local_entities/api.py
  rero_ils/modules/entities/local_entities/indexer.py
  rero_ils/modules/entities/local_entities/jsonschemas/local_entities/local_entity_organisation-v0.0.1.json
  rero_ils/modules/entities/local_entities/mappings/v7/local_entities/local_entity-v0.0.1.json
  rero_ils/modules/entities/local_entities/permissions.py
  rero_ils/modules/entities/local_entities/proxy.py
  rero_ils/modules/entities/remote_entities/__init__.py
  rero_ils/modules/entities/remote_entities/api.py
  rero_ils/modules/entities/remote_entities/sync.py
  rero_ils/modules/entities/remote_entities/templates/rero_ils/_entity_by_source.html
  rero_ils/modules/entities/remote_entities/templates/rero_ils/_entity_unified.html
  rero_ils/modules/entities/remote_entities/templates/rero_ils/detailed_view_entity.html
  rero_ils/modules/entities/remote_entities/views.py
  rero_ils/modules/entities/serializers/__init__.py
  rero_ils/modules/entities/templates/rero_ils/_local_organisation.html
  rero_ils/modules/entities/templates/rero_ils/_local_person.html
  rero_ils/modules/entities/templates/rero_ils/_local_place.html
  rero_ils/modules/entities/templates/rero_ils/_local_temporal.html
  rero_ils/modules/entities/templates/rero_ils/_local_topic.html
  rero_ils/modules/entities/templates/rero_ils/_local_work.html
  rero_ils/modules/entities/templates/rero_ils/_remote_organisation.html
  rero_ils/modules/entities/templates/rero_ils/_remote_person.html
  rero_ils/modules/entities/templates/rero_ils/_remote_topic.html
  rero_ils/modules/entities/templates/rero_ils/_search_link.html
  rero_ils/modules/entities/templates/rero_ils/entity_local.html
  rero_ils/modules/entities/templates/rero_ils/entity_remote.html
  rero_ils/modules/entities/templates/rero_ils/macros/entity.html
  rero_ils/modules/entities/views.py
  rero_ils/modules/ext.py
  rero_ils/modules/monitoring/api.py
  rero_ils/theme/templates/rero_ils/address_block/eng.tpl.txt
  rero_ils/theme/templates/rero_ils/address_block/fre.tpl.txt
  rero_ils/theme/templates/rero_ils/address_block/ger.tpl.txt
  rero_ils/theme/templates/rero_ils/address_block/ita.tpl.txt
  tests/api/entities/local_entities/test_local_entities_rest.py
  tests/api/entities/remote_entities/test_remote_entities_rest.py
  tests/fixtures/mef.py
  tests/fixtures/metadata.py
  tests/ui/documents/test_documents_api.py
  tests/ui/documents/test_documents_filter.py
  tests/ui/entities/local_entities/test_local_entities_api.py
  tests/ui/entities/remote_entities/test_remote_entities_api.py
  tests/ui/entities/remote_entities/test_remote_entities_filter.py
  tests/ui/entities/remote_entities/test_remote_entities_ui.py
  tests/ui/entities/test_entities_ui.py
  tests/ui/test_filters.py
  tests/unit/conftest.py
Labels: f: data, f: search, f: permissions, f: data migration
