Repository rero/rero-ils, pull requests merged in 2023-01, with the labels that each got.

#3195 release: v1.14.0
  CHANGELOG.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers

#3208 documents: inject MEF pid in for subjects
  rero_ils/modules/cli/fixtures.py
  rero_ils/modules/contributions/tasks.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/dojson/contrib/jsontomarc21/model.py
  rero_ils/modules/documents/extensions.py
  rero_ils/modules/selfcheck/cli.py
  rero_ils/modules/selfcheck/utils.py
  scripts/setup
  tests/unit/test_cli_fixtures.py
Labels: f: circulation, f: data, developers

#3211 release: v1.14.1
  CHANGELOG.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers

#3199 users: add an option "no_information" for gender
  rero_ils/modules/loans/logs/api.py
  rero_ils/modules/operation_logs/jsonschemas/operation_logs/operation_log-v0.0.1.json
  rero_ils/modules/users/jsonschemas/users/user-v0.0.1.json
  tests/ui/loans/test_loans_operation_logs.py
Labels: f: circulation, f: user management, f: data migration, f: activity-logs

#3184 patron transaction: add manuel fee
  rero_ils/config.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/patron_transaction_events/api.py
  rero_ils/modules/patron_transactions/api.py
  rero_ils/modules/patron_transactions/extensions.py
  rero_ils/modules/patron_transactions/jsonschemas/patron_transactions/patron_transaction-v0.0.1.json
  rero_ils/modules/patron_transactions/utils.py
  tests/api/patron_transactions/test_patron_transactions_rest.py
Labels: f: notifications, f: data migration

#3193 user: add entrypoints api for the password
  data/users.json
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/users/api.py
  rero_ils/modules/users/api_views.py
  rero_ils/modules/users/jsonschemas/users/user-v0.0.1.json
  rero_ils/modules/utils.py
  tests/api/conftest.py
  tests/api/users/test_user_api.py
  tests/api/users/test_users_rest.py
  tests/e2e/cypress/cypress/fixtures/common.json
  tests/fixtures/circulation.py
  tests/ui/conftest.py
  tests/unit/test_utils.py
Labels: f: user management, f: data migration, dev: fixtures

#3201 serials: allows to edit an expected date
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
Labels: f: data, f: data migration

#3218 actions: fix stale workflow to not close issues
  .github/workflows/stale.yml
Labels: dev: documentation
