Repository rero/rero-ils, pull requests merged in 2023-03, with the labels that each got.

#3260 statistics: update schema and config
  data/stats_cfg.json
  rero_ils/config.py
  rero_ils/modules/stats_cfg/api.py
  rero_ils/modules/stats_cfg/extensions.py
  rero_ils/modules/stats_cfg/jsonschemas/stats_cfg/stat_cfg-v0.0.1.json
  rero_ils/modules/stats_cfg/jsonschemas/stats_cfg/stats_cfg-v0.0.1.json
  rero_ils/modules/stats_cfg/mappings/v7/stats_cfg/stat_cfg-v0.0.1.json
  rero_ils/modules/stats_cfg/mappings/v7/stats_cfg/stats_cfg-v0.0.1.json
  rero_ils/modules/stats_cfg/models.py
  tests/data/data.json
  tests/unit/conftest.py
  tests/unit/test_stats_cfg_jsonschema.py
Labels: f: search, f: data migration, dev: fixtures, dev: DB

#3274 translations: add translations for v1.15.0
  rero_ils/config.py
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
  rero_ils/translations/ru/LC_MESSAGES/messages.po
  rero_ils/translations/zh_Hant/LC_MESSAGES/messages.po
  tests/api/test_user_authentication.py
Labels: translations

#3281 permissions: fix patron read permission
  rero_ils/modules/permissions.py
  tests/api/patrons/test_patrons_permissions.py
Labels: f: permissions

#3233 statistics: add processing class for statistics report
  rero_ils/modules/libraries/api.py
  rero_ils/modules/locations/api.py
  rero_ils/modules/stats/api.py
  rero_ils/modules/stats/exceptions.py
  rero_ils/modules/stats/jsonschemas/stats/stat-v0.0.1.json
  rero_ils/modules/stats/mappings/v7/stats/stat-v0.0.1.json
  rero_ils/modules/stats/models.py
  rero_ils/modules/stats_cfg/api.py
  tests/data/data.json
  tests/fixtures/circulation.py
  tests/ui/stats/conftest.py
  tests/ui/stats/test_stats_reports.py
Labels: f: search, f: data migration, f: statistics, dev: DB

#3279 translations: fix unicode characters in jsonschema
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_organisation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_person-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_copyright_date-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_dimensions-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_table_of_contents-v0.0.1.json
Labels: f: data, f: data migration

#3285 circulation: fix `can_be_requested` circulation method
  rero_ils/modules/items/api/record.py
  rero_ils/modules/loans/utils.py
  tests/api/circulation/test_locations_restrictions.py
Labels: f: circulation

#3270 release: v1.15.0
  CHANGELOG.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers

#3277 translations: add phone types
  rero_ils/manual_translations.txt
Labels: translations

#3266 login: add a way to display the password
  rero_ils/manual_translations.txt
  rero_ils/theme/assets/js/reroils/login.js
  rero_ils/theme/assets/scss/rero_ils/styles.scss
  rero_ils/theme/templates/rero_ils/macros/macro.html
Labels: translations
