Repository rero/rero-ils, pull requests merged in 2023-05, with the labels that each got.

#3314 item operation history: add statistics
  rero_ils/config.py
  rero_ils/modules/items/views/api_views.py
  rero_ils/modules/operation_logs/es_templates/v7/operation_logs.json
  tests/api/items/test_items_rest_views.py
Labels: f: activity-logs

#3320 jsonschema: upgrade obsolete country codes
  rero_ils/alembic/add75cbcad66_migrate_obsolete_country_codes.py
  rero_ils/dojson/utils.py
  rero_ils/jsonschemas/common/countries-v0.0.1.json
  tests/data/data.json
  tests/unit/documents/test_documents_dojson.py
Labels: f: data, f: data migration

#3313 import: fix contribution $ref creation
  rero_ils/dojson/utils.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/loc/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/rero/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/slsp/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
  tests/data/xml/slsp/slsp_anywhere_123.xml
  tests/data/xml/slsp/slsp_samuelson.xml
  tests/unit/documents/test_documents_dojson.py
Labels: f: data

#3324 ill requests: fix forms
  rero_ils/modules/ill_requests/forms.py
  rero_ils/modules/ill_requests/jsonschemas/ill_requests/ill_request-v0.0.1.json
  rero_ils/modules/ill_requests/templates/rero_ils/ill_request_form.html
  rero_ils/theme/assets/js/reroils/toggle.js
  tests/ui/ill_requests/test_ill_requests_ui.py
Labels: f: circulation, f: data migration

#3328 Translations update from Hosted Weblate
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
Labels: translations

#3332 release: v1.16.0
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers

#3327 vendors: allow new 'serial' contact block
  data/vendors.json
  rero_ils/alembic/e63e5dfa2416_new_vendor_serial_contact.py
  rero_ils/modules/vendors/api.py
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
  rero_ils/modules/vendors/mappings/v7/vendors/vendor-v0.0.1.json
  rero_ils/modules/vendors/models.py
  tests/api/acq_orders/test_acq_orders_views.py
  tests/api/acquisition/test_acquisition_reception_workflow.py
  tests/data/acquisition.json
  tests/ui/vendors/test_vendors_api.py
  tests/unit/conftest.py
  tests/unit/test_vendors_jsonschema.py
Labels: f: search, f: data migration, dev: fixtures, dev: DB

#3339 fix: test scripts for poetry 1.5.0
  INSTALL.rst
  pyproject.toml
  scripts/test
Labels: developers, dev: documentation

#3338 entites schemas: adapt field titles and defaults
  rero_ils/modules/documents/jsonschemas/documents/document_contribution-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_entity_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_local-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_entity_local-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form_local-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_subjects-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_subjects_entity_link-v0.0.1.json
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
  rero_ils/translations/ru/LC_MESSAGES/messages.po
  rero_ils/translations/zh_Hant/LC_MESSAGES/messages.po
Labels: translations, f: data, f: data migration

#3344 ui: fix subjects in public document detailed views
  rero_ils/es_templates/v7/record.json
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/modules/documents/views.py
  tests/api/test_search.py
  tests/ui/documents/test_documents_filter.py
Labels: f: search, f: data migration

#3331 items: update issue related resources
  rero_ils/alembic/64a5cc96f96e_update_claimed_issue_status.py
  rero_ils/alembic/8d97be2c8ad6_items_remove_claims_count.py
  rero_ils/config.py
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/holdings/mappings/v7/holdings/holding-v0.0.1.json
  rero_ils/modules/items/api/issue.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/extensions.py
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  rero_ils/modules/items/models.py
  rero_ils/modules/items/serializers/__init__.py
  rero_ils/modules/items/serializers/collector.py
  tests/api/items/test_items_rest.py
  tests/api/libraries/test_libraries_dumpers.py
  tests/api/selfcheck/test_selfcheck_utils.py
  tests/api/test_serializers.py
  tests/ui/holdings/test_holdings_patterns.py
  tests/ui/libraries/test_libraries_dumpers.py
Labels: f: data, f: search, f: serials, f: data migration, dev: DB

#3342 entities: sync for contributions and concepts
  rero_ils/config.py
  rero_ils/modules/entities/api.py
  rero_ils/modules/entities/cli.py
  rero_ils/modules/entities/jsonschemas/entities/entity-v0.0.1.json
  rero_ils/modules/entities/sync.py
  rero_ils/modules/entities/tasks.py
  rero_ils/modules/entities/utils.py
  tests/api/documents/test_documents_rest.py
  tests/api/documents/test_documents_tasks.py
  tests/conftest.py
  tests/data/data.json
  tests/fixtures/metadata.py
  tests/ui/documents/test_documents_api.py
  tests/ui/documents/test_documents_mapping.py
  tests/ui/entities/test_entities_api.py
  tests/ui/entities/test_entities_utils.py
  tests/unit/documents/test_documents_dojson.py
  tests/unit/test_cli_fixtures.py
Labels: f: data migration
