Repository rero/rero-ils, pull requests merged in 2023-10, with the labels that each got.

#3474 dependencies: fix security issues
  scripts/test
Labels: developers

#3455 entities: add temporal
  rero_ils/config.py
  rero_ils/modules/entities/remote_entities/jsonschemas/remote_entities/remote_entity-v0.0.1.json
  rero_ils/modules/entities/remote_entities/proxy.py
  rero_ils/modules/entities/remote_entities/replace.py
  rero_ils/modules/entities/remote_entities/sync.py
  tests/api/entities/remote_entities/test_remote_entities_rest.py
  tests/data/data.json
  tests/data/mef.json
  tests/fixtures/metadata.py
  tests/ui/entities/remote_entities/test_remote_entities_api.py
Labels: f: data migration

#3450 loan: add location pickup_name on dump
  rero_ils/modules/loans/dumpers.py
  rero_ils/modules/locations/api.py
Labels: f: circulation

#3461 items: sorting for standard holdings
  rero_ils/config.py
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
Labels: f: search, f: data migration

#3472 stats: add missing import for StatsSearch
  rero_ils/modules/stats/views.py
  tests/ui/stats/test_stats_views.py
Labels: f: statistics

#3456 entities: add place
  rero_ils/config.py
  rero_ils/modules/documents/jsonschemas/documents/document_subjects_entity_link-v0.0.1.json
  rero_ils/modules/entities/remote_entities/jsonschemas/remote_entities/remote_entity-v0.0.1.json
  rero_ils/modules/entities/remote_entities/proxy.py
  tests/api/entities/remote_entities/test_remote_entities_rest.py
  tests/conftest.py
  tests/data/data.json
  tests/data/mef.json
  tests/fixtures/mef.py
  tests/fixtures/metadata.py
  tests/ui/entities/remote_entities/test_remote_entities_api.py
Labels: f: data, f: data migration

#3465 acquisition: fix default vendor language
  rero_ils/config.py
  rero_ils/modules/acquisition/acq_orders/views.py
  rero_ils/modules/notifications/subclasses/acq_order.py
Labels: f: notifications

#3475 import: SUDOC
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
Labels: f: data

#3460 import: fix import SLSP
  rero_ils/dojson/utils.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/loc/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/rero/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/slsp/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  rero_ils/modules/imports/serializers/serializers.py
  tests/unit/documents/test_documents_dojson.py
Labels: f: data

#3488 translations: fix unicode chars in jsonschemas
  rero_ils/modules/acquisition/acq_accounts/jsonschemas/acq_accounts/acq_account-v0.0.1.json
  rero_ils/modules/entities/local_entities/jsonschemas/local_entities/local_entity_organisation-v0.0.1.json
  rero_ils/modules/entities/local_entities/jsonschemas/local_entities/local_entity_work-v0.0.1.json
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
  rero_ils/translations/ru/LC_MESSAGES/messages.po
  rero_ils/translations/zh_Hant/LC_MESSAGES/messages.po
Labels: translations, f: data migration

#3487 statistics: add permissions on stats_cfg
  data/role_policies.json
  rero_ils/config.py
  tests/api/stats_cfg/test_stats_cfg_permissions.py
  tests/data/policies/role_policies.json
Labels: dev: fixtures

#3492 chore: update github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/correction.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github_changelog_generator
  .tx/config
Labels: dev: documentation

#3495 import: better contribution for SUDOC
  rero_ils/dojson/utils.py
Labels: f: data

#3491 notifications: fix availability delay
  rero_ils/modules/notifications/subclasses/availability.py
Labels: f: notifications

#3499 pricing stats: fix number of ill requests
  rero_ils/modules/stats/api/pricing.py
  tests/api/stats/test_stats_rest.py
  tests/ui/stats/test_stats_pricing.py
Labels: f: statistics

#3485 release: v1.19.0
  CHANGELOG.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers

#3502 translations: fix untranslated strings
  rero_ils/modules/documents/jsonschemas/documents/document_provision_activity-v0.0.1.json
Labels: f: data, f: data migration

#3484 user: fix size of country field on form
  rero_ils/modules/users/jsonschemas/users/user-v0.0.1.json
Labels: f: user management, f: data migration
