Repository rero/rero-ils, pull requests merged in 2023-06, with the labels that each got.

#3349 dependencies: fix security issues
  poetry.lock
  scripts/test
Labels: developers

#3326 sru: xml save query string handling
  rero_ils/modules/sru/cql_parser.py
  rero_ils/modules/sru/views.py
  tests/unit/test_cql_parser.py
Labels: f: data

#3337 release: v1.17.0
  CHANGELOG.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers

#3348 items: claims issue API
  rero_ils/modules/acquisition/acq_orders/api.py
  rero_ils/modules/acquisition/acq_orders/utils.py
  rero_ils/modules/acquisition/acq_orders/views.py
  rero_ils/modules/ext.py
  rero_ils/modules/items/api/issue.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/dumpers.py
  rero_ils/modules/items/utils.py
  rero_ils/modules/items/views/api_views.py
  rero_ils/modules/items/views/filters.py
  rero_ils/modules/notifications/templates/email/claim_issue/eng.tpl.txt
  rero_ils/modules/notifications/templates/email/claim_issue/fre.tpl.txt
  rero_ils/modules/notifications/templates/email/claim_issue/ger.tpl.txt
  rero_ils/modules/notifications/templates/email/claim_issue/ita.tpl.txt
  rero_ils/modules/vendors/api.py
  rero_ils/modules/vendors/dumpers.py
  tests/api/acq_orders/test_acq_orders_views.py
  tests/api/items/test_items_issue.py
  tests/data/data.json
Labels: f: circulation, f: notifications, f: serials

#3354 fix bf:Organisation labels
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_entity_link-v0.0.1.json
Labels: f: data, f: data migration

#3358 release: v1.17.1
  CHANGELOG.md
  pyproject.toml
  rero_ils/modules/documents/jsonschemas/documents/document_subjects_entity_link-v0.0.1.json
  rero_ils/version.py
Labels: f: data, f: data migration

#3321 item: add the default value expression function
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
Labels: f: data, f: data migration, READY TO MERGE

#3350 items: claim notification serialization
  data/vendors.json
  rero_ils/config.py
  rero_ils/modules/acquisition/acq_orders/api.py
  rero_ils/modules/items/api/issue.py
  rero_ils/modules/items/dumpers.py
  rero_ils/modules/items/listener.py
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  rero_ils/modules/items/serializers/collector.py
  rero_ils/modules/items/serializers/json.py
  rero_ils/modules/items/views/api_views.py
  rero_ils/modules/items/views/filters.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/subclasses/circulation.py
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
  tests/api/items/test_items_issue.py
  tests/api/items/test_items_rest.py
  tests/data/acquisition.json
  tests/ui/notifications/test_notifications_api.py
Labels: f: notifications, f: search, f: serials, f: data migration, dev: fixtures

#3369 user: fix for invalid date of birth
  rero_ils/modules/users/jsonschemas/users/user-v0.0.1.json
  tests/api/users/test_users_profile_updates.py
Labels: f: user management, f: data migration

#3373 fees: add invoice payment method
  rero_ils/modules/patron_transaction_events/jsonschemas/patron_transaction_events/patron_transaction_event-v0.0.1.json
Labels: f: data migration

#3372 operation logs: assign current library request
  rero_ils/modules/operation_logs/extensions.py
  tests/api/documents/test_documents_rest.py
Labels: f: activity-logs, READY TO MERGE

#3361 item: add circulation information
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/items/serializers/json.py
  tests/api/items/test_items_serializer.py
  tests/api/test_serializers.py
Labels: f: circulation

#3378 Notification: send recall on checkout
  rero_ils/modules/loans/api.py
  rero_ils/modules/notifications/templates/email/recall/fre.txt
  tests/api/notifications/test_notifications_rest.py
Labels: f: circulation, f: notifications

#3357 import: SUDOC
  rero_ils/config.py
  rero_ils/dojson/utils.py
  rero_ils/modules/apiharvester/cli.py
  rero_ils/modules/apiharvester/tasks.py
  rero_ils/modules/apiharvester/utils.py
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
  rero_ils/modules/ebooks/receivers.py
  rero_ils/modules/imports/api.py
  rero_ils/modules/imports/views.py
  tests/api/test_external_services.py
  tests/ui/apiharvester/test_apiharvester_utils.py
Labels: f: data

#3367 library: detect changes on library open hours
  rero_ils/modules/libraries/api.py
  rero_ils/modules/libraries/extensions.py
  rero_ils/modules/libraries/tasks.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/extensions.py
  rero_ils/modules/utils.py
  tests/api/circulation/test_library_calendar_changes.py
Labels: f: circulation

#3381 billing stats: process only validated ill_requests
  rero_ils/modules/stats/api.py
  tests/api/stats/test_stats_rest.py
Labels: f: statistics
