Repository rero/rero-ils, pull requests merged in 2023-07, with the labels that each got.

#3402 stats: fix validated requests count
  rero_ils/modules/stats/api.py
Labels: bug (critical), f: statistics

#3389 items+patrons: fix unique barcodes
  rero_ils/modules/items/api/record.py
  rero_ils/modules/patrons/api.py
  tests/api/circulation/test_borrow_limits.py
  tests/api/conftest.py
  tests/api/documents/test_documents_rest.py
  tests/api/items/test_items_rest.py
  tests/api/patrons/test_patrons_rest.py
  tests/data/data.json
  tests/fixtures/circulation.py
  tests/ui/items/test_items_api.py
  tests/ui/local_fields/test_local_fields_api.py
  tests/ui/patrons/test_patrons_api.py
  tests/unit/documents/test_documents_dojson_marc21.py
Labels: f: user management

#3383 ill requests: fix professionnal editor
  data/ill_requests.json
  rero_ils/modules/ill_requests/forms.py
  rero_ils/modules/ill_requests/jsonschemas/ill_requests/ill_request-v0.0.1.json
  tests/data/data.json
Labels: f: circulation, f: data migration, dev: fixtures

#3393 document: update type of agent entity field into document JSON schema
  rero_ils/config.py
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_entity_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_subjects_entity_link-v0.0.1.json
  tests/data/data.json
  tests/fixtures/metadata.py
  tests/ui/remote_entities/test_entities_api.py
  tests/ui/test_invenio_celery_tasks_endpoints.py
Labels: f: data, f: data migration

#3385 entities: configure operation logs for local entities
  rero_ils/config.py
  rero_ils/modules/entities/local_entities/api.py
  rero_ils/modules/entities/local_entities/jsonresolver.py
  rero_ils/modules/operation_logs/jsonschemas/operation_logs/operation_log-v0.0.1.json
Labels: f: data migration, f: activity-logs

#3410 alembic: fix errors for the next release
  rero_ils/alembic/64a5cc96f96e_update_claimed_issue_status.py
  rero_ils/alembic/8d97be2c8ad6_items_remove_claims_count.py
  rero_ils/alembic/e63e5dfa2416_new_vendor_serial_contact.py
  rero_ils/modules/ill_requests/extensions.py
Labels: f: circulation

#3397 entities: link to document
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/api.py
  rero_ils/modules/documents/dumpers/replace_refs.py
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/documents/views.py
  rero_ils/modules/entities/api.py
  rero_ils/modules/entities/dumpers/__init__.py
  rero_ils/modules/entities/dumpers/document.py
  rero_ils/modules/entities/dumpers/indexer.py
  rero_ils/modules/entities/helpers.py
  rero_ils/modules/entities/local_entities/api.py
  rero_ils/modules/entities/local_entities/dumpers/__init__.py
  rero_ils/modules/entities/local_entities/dumpers/indexer.py
  rero_ils/modules/entities/local_entities/indexer.py
  rero_ils/modules/entities/remote_entities/api.py
  rero_ils/modules/entities/remote_entities/dumpers/document.py
  rero_ils/modules/entities/remote_entities/dumpers/indexer.py
  rero_ils/modules/entities/remote_entities/listener.py
  rero_ils/modules/entities/remote_entities/sync.py
  rero_ils/modules/utils.py
  tests/api/documents/test_documents_dumpers.py
  tests/api/entities/local_entities/test_local_entities_rest.py
  tests/api/entities/remote_entities/test_remote_entities_rest.py
  tests/ui/documents/test_documents_filter.py
  tests/ui/entities/local_entities/test_local_entities_dumpers.py
Labels: f: search, f: data migration

#3407 release: v1.18.0
  CHANGELOG.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers
