Repository rero/rero-ils, pull requests merged in 2023-11, with the labels that each got.

#3506 dependencies: fix security issues
  poetry.lock
  scripts/test
Labels: developers

#3510 notifications: set a maximum delay
  rero_ils/modules/libraries/jsonschemas/libraries/library-v0.0.1.json
Labels: f: data migration

#3514 import: fix BNF qualifier
  rero_ils/modules/documents/dojson/contrib/unimarctojson/model.py
Labels: f: data

#3503 ill requests: improve status display
  rero_ils/modules/ill_requests/jsonschemas/ill_requests/ill_request-v0.0.1.json
Labels: f: circulation, f: data migration

#3516 operation logs: add library informations
  rero_ils/config.py
  rero_ils/modules/operation_logs/es_templates/v7/operation_logs.json
  rero_ils/modules/operation_logs/extensions.py
  rero_ils/modules/operation_logs/jsonschemas/operation_logs/operation_log-v0.0.1.json
  tests/ui/operation_logs/test_operation_logs_api.py
Labels: f: data migration, f: activity-logs

#3520 notifications: fix timezone for process_date
  rero_ils/modules/notifications/api.py
Labels: f: notifications, bug

#3515 dependencies: fix vulnerabilites
  poetry.lock
  scripts/test
Labels: developers

#3521 stats: add library filter
  rero_ils/modules/stats/api/indicators/__init__.py
  rero_ils/modules/stats/api/indicators/base.py
  rero_ils/modules/stats/api/indicators/circulation.py
  rero_ils/modules/stats/api/indicators/others.py
  rero_ils/modules/stats/api/indicators/patron.py
  rero_ils/modules/stats/api/report.py
  rero_ils/modules/stats_cfg/jsonschemas/stats_cfg/stat_cfg-v0.0.1.json
  rero_ils/modules/stats_cfg/mappings/v7/stats_cfg/stat_cfg-v0.0.1.json
  rero_ils/modules/stats_cfg/views.py
  tests/ui/stats/test_stats_report_n_deleted_items.py
  tests/ui/stats/test_stats_report_n_docs.py
  tests/ui/stats/test_stats_report_n_ill_requests.py
  tests/ui/stats/test_stats_report_n_items.py
  tests/ui/stats/test_stats_report_n_patrons.py
  tests/ui/stats/test_stats_report_n_serial_holdings.py
  tests/ui/stats/test_stats_report_number_of_ciculation.py
Labels: f: search, f: data migration, f: statistics

#3524 stats: add periodic task to generate reports
  rero_ils/config.py
  rero_ils/modules/stats/api/indicators/circulation.py
  rero_ils/modules/stats/api/indicators/others.py
  rero_ils/modules/stats/api/indicators/patron.py
  rero_ils/modules/stats/api/report.py
  rero_ils/modules/stats/cli.py
  rero_ils/modules/stats/tasks.py
  rero_ils/modules/stats_cfg/api.py
  scripts/setup
  tests/ui/stats/test_stats_report.py
Labels: developers, f: statistics

#3539 statistics: optimize active patron reports
  data/stats_cfg.json
  rero_ils/manual_translations.txt
  rero_ils/modules/stats/api/indicators/base.py
  rero_ils/modules/stats/api/indicators/circulation.py
  rero_ils/modules/stats/api/indicators/others.py
  rero_ils/modules/stats/api/indicators/patron.py
  rero_ils/modules/stats/api/report.py
  rero_ils/modules/stats_cfg/jsonschemas/stats_cfg/stat_cfg-v0.0.1.json
  tests/data/data.json
  tests/ui/loans/test_loans_operation_logs.py
  tests/ui/stats/test_stats_report.py
  tests/ui/stats/test_stats_report_n_deleted_items.py
  tests/ui/stats/test_stats_report_n_patrons.py
  tests/unit/test_stats_cfg_jsonschema.py
Labels: translations, f: data migration, dev: fixtures, f: statistics
