Repository rero/rero-ils, pull requests merged in 2023-04, with the labels that each got.

#3286 operation logs: add the notifications sent
  rero_ils/modules/loans/logs/api.py
  rero_ils/modules/notifications/api.py
  rero_ils/modules/notifications/listener.py
  rero_ils/modules/notifications/logs/__init__.py
  rero_ils/modules/notifications/logs/api.py
  rero_ils/modules/operation_logs/api.py
  rero_ils/modules/operation_logs/es_templates/v7/operation_logs.json
  rero_ils/modules/operation_logs/jsonschemas/operation_logs/operation_log-v0.0.1.json
  rero_ils/modules/operation_logs/logs/__init__.py
  rero_ils/modules/operation_logs/logs/api.py
  tests/api/loans/test_loans_rest.py
  tests/ui/loans/test_loans_operation_logs.py
Labels: f: circulation, f: notifications, f: data migration, f: activity-logs

#3306 stats: fix for filtering libraries
  rero_ils/config.py
  rero_ils/modules/stats/views.py
Labels: f: statistics

#3298 ILL request: check if item exists in organisation
  rero_ils/modules/ill_requests/forms.py
  rero_ils/modules/ill_requests/templates/rero_ils/ill_request_form.html
  rero_ils/modules/ill_requests/views.py
  rero_ils/theme/assets/js/reroils/ills_request.js
Labels: f: circulation

#3302 ill request: add ill pickup name on location
  data/locations.json
  rero_ils/alembic/e3eb396b39bb_migration_ill_pickup.py
  rero_ils/modules/ill_requests/cli.py
  rero_ils/modules/ill_requests/serializers.py
  rero_ils/modules/ill_requests/utils.py
  rero_ils/modules/locations/api.py
  rero_ils/modules/locations/jsonschemas/locations/location-v0.0.1.json
  rero_ils/modules/locations/mappings/v7/locations/location-v0.0.1.json
  tests/api/locations/test_locations_rest.py
  tests/data/data.json
Labels: f: circulation, f: search, f: data migration, dev: fixtures

#3293 notifications: add `effective_recipients` field.
  rero_ils/modules/notifications/api.py
  rero_ils/modules/notifications/dispatcher.py
  rero_ils/modules/notifications/jsonschemas/notifications/notification-v0.0.1.json
  rero_ils/modules/notifications/mappings/v7/notifications/notification-v0.0.1.json
  tests/api/notifications/test_notifications_rest.py
Labels: f: notifications, f: search, f: data migration

#3303 document: allow MEF linked subject.
  rero_ils/config.py
  rero_ils/dojson/utils.py
  rero_ils/modules/documents/dumpers/__init__.py
  rero_ils/modules/documents/dumpers/replace_refs.py
  rero_ils/modules/documents/extensions/add_mef_pid.py
  rero_ils/modules/documents/jsonschemas/documents/document_entity_link-v0.0.1.json
  rero_ils/modules/documents/tasks.py
  rero_ils/modules/documents/utils_mef.py
  rero_ils/modules/entities/api.py
  rero_ils/modules/entities/jsonschemas/entities/entity-v0.0.1.json
  rero_ils/modules/entities/mappings/v7/entities/entity-v0.0.1.json
  rero_ils/modules/entities/sync.py
  rero_ils/modules/entities/utils.py
  rero_ils/modules/entities/views.py
  rero_ils/modules/utils.py
  tests/conftest.py
  tests/data/mef.json
  tests/fixtures/mef.py
  tests/ui/documents/test_documents_api.py
  tests/ui/entities/test_entities_api.py
  tests/ui/entities/test_entities_mapping.py
  tests/ui/entities/test_entities_utils.py
Labels: f: data, f: search, f: data migration, dev: fixtures

#3312 contribution: fix get online
  rero_ils/modules/contributions/sync.py
  rero_ils/modules/documents/mappings/v7/documents/document-v0.0.1.json
  rero_ils/modules/documents/utils_mef.py
  rero_ils/modules/utils.py
  tests/api/test_monitoring_rest.py
Labels: f: search, f: data migration

#3317 notifications: correct process counts
  rero_ils/modules/notifications/tasks.py
Labels: f: notifications

#3316 setup: fix errors
  rero_ils/modules/api.py
  rero_ils/modules/contributions/api.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/cli.py
  rero_ils/modules/loans/utils.py
  scripts/setup
Labels: f: circulation, developers

#3254 loans: clean `can_anonymize` method
  rero_ils/modules/items/decorators.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/listener.py
  tests/api/patron_transactions/test_patron_transactions_rest.py
  tests/ui/loans/test_loans_api.py
Labels: f: circulation
