Repository rero/rero-ils, pull requests merged in 2023-02, with the labels that each got.

#3237 agents: add MEF synchronization
  .github/workflows/continuous-integration-test.yml
  poetry.lock
  pyproject.toml
  rero_ils/config.py
  rero_ils/dojson/utils.py
  rero_ils/modules/cli/fixtures.py
  rero_ils/modules/contributions/api.py
  rero_ils/modules/contributions/cli.py
  rero_ils/modules/contributions/sync.py
  rero_ils/modules/contributions/tasks.py
  rero_ils/modules/documents/api.py
  scripts/setup
  tests/ui/contributions/test_contributions_api.py
  tests/ui/documents/test_documents_api.py
  tests/unit/documents/test_documents_dojson.py
  tests/unit/test_cli_fixtures.py
Labels: f: data, developers, dev: documentation

#3223 security: enhance login
  data/users.json
  poetry.lock
  pyproject.toml
  rero_ils/accounts_views.py
  rero_ils/config.py
  rero_ils/filter.py
  rero_ils/modules/ext.py
  rero_ils/modules/message.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/users/api.py
  rero_ils/modules/users/api_views.py
  rero_ils/modules/users/forms.py
  rero_ils/modules/users/jsonschemas/users/user-v0.0.1.json
  rero_ils/modules/users/listener.py
  rero_ils/modules/users/validators.py
  rero_ils/modules/utils.py
  rero_ils/theme/templates/rero_ils/_info_test.html
  rero_ils/theme/templates/rero_ils/login_user.html
  rero_ils/theme/templates/rero_ils/page_cover.html
  rero_ils/theme/templates/rero_ils/register_user.html
  rero_ils/utils.py
  tests/api/conftest.py
  tests/api/patrons/test_patrons_views.py
  tests/api/selfcheck/test_selfcheck.py
  tests/api/test_accounts_rest_auth.py
  tests/api/test_user_authentication.py
  tests/api/users/test_user_api.py
  tests/api/users/test_users_rest.py
  tests/data/data.json
  tests/e2e/cypress/cypress/fixtures/common.json
  tests/fixtures/circulation.py
  tests/ui/conftest.py
  tests/ui/ill_requests/test_ill_requests_ui.py
  tests/ui/loans/test_loans_operation_logs.py
  tests/ui/test_message.py
  tests/ui/test_permissions.py
  tests/ui/users/test_forms.py
  tests/unit/test_utils.py
  tests/utils.py
Labels: f: user management, f: data migration, dev: fixtures

#3219 imports: LOC
  rero_ils/modules/imports/api.py
  rero_ils/modules/sru/cql_parser.py
  tests/api/test_external_services.py
  tests/conftest.py
  tests/data/xml/loc/loc_without_010.xml
Labels: f: data

#3222 inventory: add current pending requests
  rero_ils/config.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/items/listener.py
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  rero_ils/modules/items/serializers/__init__.py
  rero_ils/modules/items/serializers/collector.py
  rero_ils/modules/items/serializers/csv.py
  rero_ils/modules/items/serializers/json.py
  tests/ui/circulation/test_actions_checkin.py
Labels: f: circulation, f: search, f: data migration

#3226 items: issue sorting & late issue schedule task
  rero_ils/config.py
  rero_ils/modules/api.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/holdings/cli.py
  rero_ils/modules/holdings/utils.py
  rero_ils/modules/items/api/issue.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/extensions.py
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/items/listener.py
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  rero_ils/modules/items/models.py
  rero_ils/modules/items/tasks.py
  rero_ils/modules/items/utils.py
  tests/api/holdings/test_provisional_items.py
  tests/ui/holdings/test_holdings_patterns.py
  tests/ui/holdings/test_serial_claims.py
Labels: f: circulation, f: data, f: search, f: serials, f: data migration, dev: DB

#3230 circulation: better logs for no circulation action
  rero_ils/modules/holdings/api_views.py
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/items/views/api_views.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/selfcheck/api.py
  tests/api/circulation/test_actions_views_checkin.py
Labels: f: circulation

#3249 items: fix item inventory sorting problems.
  rero_ils/config.py
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  tests/api/items/test_items_rest.py
Labels: f: search, f: data migration

#3248 utils: timestamps
  rero_ils/modules/notifications/tasks.py
  rero_ils/modules/utils.py
  tests/api/test_monitoring_rest.py
Labels: f: notifications

#3259 item: use item temporary location to validate request
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/views/api_views.py
  rero_ils/modules/loans/utils.py
  rero_ils/modules/locations/api.py
  tests/api/test_availability.py
Labels: f: circulation

#3253 documents: use dumpers
  rero_ils/modules/acquisition/acq_order_lines/dumpers.py
  rero_ils/modules/acquisition/acq_receipt_lines/serializers.py
  rero_ils/modules/acquisition/dumpers.py
  rero_ils/modules/api.py
  rero_ils/modules/commons/dumpers.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/dumpers/__init__.py
  rero_ils/modules/documents/dumpers/indexer.py
  rero_ils/modules/documents/dumpers/replace_refs.py
  rero_ils/modules/documents/dumpers/title.py
  rero_ils/modules/documents/extensions/contributions.py
  rero_ils/modules/documents/listener.py
  rero_ils/modules/documents/serializers/dc.py
  rero_ils/modules/documents/serializers/json.py
  rero_ils/modules/documents/serializers/ris.py
  rero_ils/modules/documents/views.py
  rero_ils/modules/items/serializers/collector.py
  rero_ils/modules/monitoring/api.py
  rero_ils/modules/notifications/subclasses/at_desk.py
  rero_ils/modules/notifications/subclasses/availability.py
  rero_ils/modules/notifications/subclasses/booking.py
  rero_ils/modules/notifications/subclasses/recall.py
  rero_ils/modules/notifications/subclasses/reminder.py
  rero_ils/modules/notifications/subclasses/request.py
  rero_ils/modules/notifications/subclasses/transit.py
  rero_ils/modules/serializers/base.py
  tests/api/test_dumpers.py
  tests/ui/test_monitoring.py
Labels: f: notifications

#3256 test: better MEF tests
  rero_ils/dojson/utils.py
  tests/api/documents/test_documents_rest.py
  tests/conftest.py
  tests/ui/contributions/test_contributions_api.py
  tests/ui/documents/test_documents_api.py
  tests/unit/documents/test_documents_dojson.py
  tests/unit/documents/test_documents_dojson_marc21.py
  tests/unit/documents/test_documents_jsonschema.py
  tests/unit/documents/test_subjects.py
Labels: f: data

#3257 import: fix get_contribution_link
  rero_ils/dojson/utils.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/loc/model.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/slsp/model.py
  tests/unit/documents/test_documents_dojson.py
Labels: f: data

#3258 monitoring: ES indices
  rero_ils/modules/monitoring/api.py
  rero_ils/modules/monitoring/cli.py
  rero_ils/modules/monitoring/views.py
  rero_ils/modules/notifications/subclasses/reminder.py
  rero_ils/modules/tasks.py
  tests/api/items/test_items_rest_views.py
  tests/api/test_monitoring_rest.py
Labels: f: notifications
