Repository rero/rero-ils, pull requests merged in 2023-08, with the labels that each got.

#3425 SRU: correct unnecessary log for bf:Temporal transformation
  rero_ils/dojson/utils.py
  rero_ils/modules/documents/dojson/contrib/jsontomarc21/model.py
  scripts/test
  tests/unit/documents/test_documents_dojson_marc21.py
Labels: f: data, developers

#3416 operation logs: anonymization respects jsonschema
  rero_ils/modules/loans/logs/api.py
  tests/ui/loans/test_loans_operation_logs.py
Labels: f: circulation, f: activity-logs

#3431 local entities: reorder the conference fields
  rero_ils/modules/entities/local_entities/jsonschemas/local_entities/local_entity_organisation-v0.0.1.json
Labels: f: data migration

#3421 ILL request: update patron circulation statistics
  rero_ils/modules/ill_requests/api.py
Labels: f: circulation

#3437 tests: fix imports
  rero_ils/modules/documents/dojson/contrib/jsontomarc21/model.py
  rero_ils/modules/entities/logger.py
  rero_ils/modules/entities/replace.py
  rero_ils/modules/entities/sync.py
  rero_ils/modules/ill_requests/api.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/libraries/api.py
  rero_ils/modules/libraries/tasks.py
  rero_ils/modules/locations/api.py
  rero_ils/modules/locations/tasks.py
  rero_ils/modules/patrons/api.py
  scripts/test
  tests/api/libraries/test_libraries_rest.py
  tests/fixtures/mef.py
  tests/ui/items/test_items_api.py
  tests/ui/libraries/test_libraries_dumpers.py
  tests/unit/conftest.py
  tests/utils.py
Labels: f: circulation, f: data, developers, f: user management

#3436 circulation: optimize the response time
  rero_ils/modules/items/api/circulation.py
  rero_ils/modules/items/dumpers.py
  rero_ils/modules/items/views/api_views.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/dumpers.py
  tests/ui/items/test_items_dumpers.py
  tests/ui/loans/test_loans_dumpers.py
Labels: f: circulation

#3429 editor: correct label for Media Type
  rero_ils/modules/documents/jsonschemas/documents/document_content_media_carrier-v0.0.1.json
Labels: f: data, f: data migration

#3446 import: fix SLSP scale and cartographic
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
Labels: f: data
