Repository rero/rero-ils, pull requests merged in 2024-01, with the labels that each got.

#3583 chore(translations): fix jinja2 extraction
  babel.ini
Labels: translations

#3584 import: fix DNB subject
  rero_ils/modules/documents/dojson/contrib/marc21tojson/loc/model.py
Labels: f: data

#3579 fix(circ): item can wrongfully become at desk
  rero_ils/modules/items/api/circulation.py
  tests/api/notifications/test_notifications_rest.py
  tests/ui/circulation/test_actions_cancel_request.py
Labels: f: circulation

#3575 user: create token cli
  rero_ils/config.py
  rero_ils/dojson/utils.py
  rero_ils/filter.py
  rero_ils/modules/acquisition/acq_accounts/jsonresolver.py
  rero_ils/modules/acquisition/acq_invoices/api.py
  rero_ils/modules/api.py
  rero_ils/modules/cli/reroils.py
  rero_ils/modules/cli/users.py
  rero_ils/modules/cli/utils.py
  rero_ils/modules/collections/views.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/rero/model.py
  rero_ils/modules/documents/extensions/edition_statement.py
  rero_ils/modules/documents/query.py
  rero_ils/modules/documents/utils.py
  rero_ils/modules/ebooks/receivers.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/holdings/api_views.py
  rero_ils/modules/holdings/cli.py
  rero_ils/modules/ill_requests/cli.py
  rero_ils/modules/imports/serializers/serializers.py
  rero_ils/modules/items/api/record.py
  rero_ils/modules/items/serializers/collector.py
  rero_ils/modules/loans/cli.py
  rero_ils/modules/patron_transactions/utils.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/cli.py
  rero_ils/modules/record_extensions.py
  rero_ils/modules/selfcheck/admin.py
  rero_ils/modules/selfcheck/cli.py
  rero_ils/modules/selfcheck/utils.py
  rero_ils/modules/utils.py
  rero_ils/query.py
  rero_ils/theme/menus.py
  rero_ils/theme/views.py
  scripts/setup
  scripts/setup_csv
  tests/api/acq_accounts/test_acq_accounts_rest.py
  tests/api/acq_receipt_lines/test_acq_receipt_lines_rest.py
  tests/api/budgets/test_budgets_rest.py
  tests/api/circ_policies/test_circ_policies_rest.py
  tests/api/documents/test_documents_rest.py
  tests/api/documents/test_marcxml_rest_api.py
  tests/api/ill_requests/test_ill_requests_rest.py
  tests/api/item_types/test_item_types_rest.py
  tests/api/items/test_items_rest.py
  tests/api/libraries/test_libraries_rest.py
  tests/api/notifications/test_notifications_rest.py
  tests/api/patron_types/test_patron_types_rest.py
  tests/api/patrons/test_patrons_rest.py
  tests/api/test_external_services.py
  tests/api/vendors/test_vendors.py
  tests/ui/collections/test_collections_utils.py
  tests/unit/documents/test_documents_dojson.py
  tests/unit/test_cli_utils.py
  tests/utils.py
Labels: f: circulation, f: data, developers, f: user management

#3587 setup: fix token_create
  scripts/setup
Labels: developers

#3591 item_types: better schema
  rero_ils/modules/item_types/jsonschemas/item_types/item_type-v0.0.1.json
Labels: f: circulation, f: data migration
