Repository rero/rero-ils, pull requests merged in 2024-06, with the labels that each got.

#3695 dependencies: fix safety check
  scripts/test
Labels: developers

#3696 fix(editor): resolve contribution and subject required subfields
  rero_ils/modules/documents/jsonschemas/documents/document_contribution-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_subjects-v0.0.1.json
Labels: f: data, f: data migration

#3698 release: v1.22.1
  CHANGELOG.md
  pyproject.toml
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
  rero_ils/translations/ru/LC_MESSAGES/messages.po
  rero_ils/translations/zh_Hant/LC_MESSAGES/messages.po
  rero_ils/version.py
  scripts/bootstrap
  scripts/setup
Labels: translations, developers

#3700 SRU: fix fiction in 008
  rero_ils/modules/documents/dojson/contrib/jsontomarc21/model.py
  tests/unit/documents/test_documents_dojson_marc21.py
Labels: f: data

#3707 sip2: fix patron language
  rero_ils/modules/selfcheck/api.py
  tests/api/selfcheck/test_selfcheck.py
Labels: f: circulation

#3693 ebooks: document type
  rero_ils/modules/ebooks/dojson/contrib/marc21/model.py
  rero_ils/modules/ebooks/tasks.py
  tests/data/data.json
  tests/data/xml/ebook2.xml
  tests/ui/ebooks/test_ebooks_receivers.py
Labels: f: data
