Repository rero/rero-ils, pull requests merged in 2024-05, with the labels that each got.

#3647 files: add file preview
  docker/nginx/conf.d/default.conf
  docker/uwsgi/uwsgi_rest.ini
  docker/uwsgi/uwsgi_ui.ini
  poetry.lock
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/documents/dumpers/indexer.py
  rero_ils/modules/documents/jsonschemas/documents/document_admin_metadata-v0.0.1.json
  rero_ils/modules/files/components.py
  rero_ils/modules/files/dumpers.py
  rero_ils/modules/files/results.py
  rero_ils/modules/files/schemas.py
  rero_ils/modules/files/services.py
  tests/api/documents/test_documents_files_rest.py
  tests/api/documents/test_documents_rest.py
  tests/ui/conftest.py
  tests/ui/files/test_files_preview.py
  tests/ui/test_api.py
Labels: f: data, f: data migration

#3666 dependencies: fix vulnerabilites
  poetry.lock
  pyproject.toml
  scripts/test
Labels: developers

#3670 dependencies: fix babel
  .github/workflows/continuous-integration-test.yml
  poetry.lock
  pyproject.toml
  scripts/test
  tests/ui/test_filters.py
Labels: developers, dev: documentation

#3671 fix(items): remove legacy fields
  data/items_big.json
  data/items_small.json
  rero_ils/modules/items/cli.py
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  rero_ils/modules/items/serializers/__init__.py
  rero_ils/modules/items/serializers/collector.py
  rero_ils/modules/items/views/api_views.py
  tests/api/items/test_items_rest_views.py
  tests/api/items/test_items_serializer.py
  tests/data/data.json
  tests/unit/test_items_jsonschema.py
Labels: f: data, f: search, f: data migration, dev: fixtures

#3675 loan: better anonymize function
  rero_ils/modules/loans/api.py
  rero_ils/modules/loans/tasks.py
  tests/ui/loans/test_loans_operation_logs.py
Labels: f: circulation

#3665 fix(document): improve jsonschema oneOf
  rero_ils/modules/documents/jsonschemas/documents/document_contribution-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_entity_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_local-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_entity_local-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_subjects-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_subjects_entity_link-v0.0.1.json
Labels: f: data, f: data migration

#3653 schema: fix schema in production
  rero_ils/config.py
  rero_ils/modules/collections/jsonschemas/collections/collection-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_admin_metadata-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_entity_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_local-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_organisation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_person-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_entity_local-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form_local-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_subjects_entity_link-v0.0.1.json
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/modules/entities/local_entities/jsonschemas/local_entities/local_entity_organisation-v0.0.1.json
  rero_ils/modules/entities/local_entities/jsonschemas/local_entities/local_entity_person-v0.0.1.json
  rero_ils/modules/entities/local_entities/jsonschemas/local_entities/local_entity_place-v0.0.1.json
  rero_ils/modules/entities/local_entities/jsonschemas/local_entities/local_entity_temporal-v0.0.1.json
  rero_ils/modules/entities/local_entities/jsonschemas/local_entities/local_entity_topic-v0.0.1.json
  rero_ils/modules/entities/local_entities/jsonschemas/local_entities/local_entity_work-v0.0.1.json
  rero_ils/modules/ext.py
  rero_ils/modules/local_fields/jsonschemas/local_fields/local_field-v0.0.1.json
  rero_ils/modules/operation_logs/jsonschemas/operation_logs/operation_log-v0.0.1.json
  rero_ils/theme/views.py
  rero_ils/translations/ar/LC_MESSAGES/messages.po
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/eo/LC_MESSAGES/messages.po
  rero_ils/translations/es/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/messages.pot
  rero_ils/translations/nl/LC_MESSAGES/messages.po
  rero_ils/translations/ru/LC_MESSAGES/messages.po
  rero_ils/translations/zh_Hant/LC_MESSAGES/messages.po
  tests/ui/test_api_schema.py
  tests/ui/test_ui_schema.py
Labels: translations, f: data, f: data migration, f: activity-logs

#3689 fix(items): restore legacy checkout count
  data/items_big.json
  data/items_small.json
  rero_ils/modules/items/cli.py
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  rero_ils/modules/items/serializers/__init__.py
  rero_ils/modules/items/serializers/collector.py
  rero_ils/modules/items/views/api_views.py
  tests/api/items/test_items_rest_views.py
  tests/api/items/test_items_serializer.py
  tests/data/data.json
  tests/unit/test_items_jsonschema.py
Labels: f: data, f: search, f: data migration, dev: fixtures
