Repository rero/rero-ils, pull requests merged in 2024-03, with the labels that each got.

#3613 import: fix alma import
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
  rero_ils/modules/imports/api.py
Labels: f: data

#3615 patron: fix API /info
  rero_ils/modules/patrons/views.py
  tests/api/patrons/test_patrons_rest.py
Labels: f: user management

#3621 feat(loan): add temporary location on item
  rero_ils/modules/loans/api.py
  tests/api/items/test_items_rest.py
Labels: f: circulation

#3627 fix(item): required and hide on expression
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
Labels: f: data, f: data migration

#3622 users: fix get REST API for a user without profile
  rero_ils/modules/users/api.py
  rero_ils/modules/users/views.py
  tests/api/conftest.py
  tests/api/users/test_users_rest.py
Labels: f: user management

#3626 files: add file permissions configurations
  data/role_policies.json
  data/system_role_policies.json
  rero_ils/config.py
  rero_ils/modules/documents/api.py
  rero_ils/modules/documents/dumpers/indexer.py
  rero_ils/modules/files/cli.py
  rero_ils/modules/files/permissions.py
  rero_ils/modules/files/services.py
  rero_ils/modules/permissions.py
  rero_ils/modules/utils.py
  rero_ils/query.py
  scripts/setup
  tests/api/conftest.py
  tests/api/files/test_files_permissions.py
  tests/data/policies/role_policies.json
  tests/data/policies/system_role_policies.json
  tests/fixtures/metadata.py
  tests/ui/documents/test_documents_api.py
Labels: developers, f: permissions, dev: fixtures

#3638 files: add operation logs for files CRUD operations
  rero_ils/modules/files/cli.py
  rero_ils/modules/files/components.py
  rero_ils/modules/files/services.py
  rero_ils/modules/operation_logs/es_templates/v7/operation_logs.json
  rero_ils/modules/operation_logs/extensions.py
  rero_ils/modules/operation_logs/jsonschemas/operation_logs/operation_log-v0.0.1.json
  tests/api/operation_logs/test_operation_logs_rest.py
Labels: f: data migration, f: activity-logs
