Repository rero/rero-ils, pull requests merged in 2024-09, with the labels that each got.

#3751 import: fix SLSP
  rero_ils/modules/documents/dojson/contrib/marc21tojson/slsp/model.py
Labels: f: data

#3739 sip2: fix format_patron_address
  poetry.lock
  rero_ils/modules/selfcheck/utils.py
Labels: f: circulation

#3746 fix(patron barcodes): extend the number of barcodes
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
Labels: f: user management, f: data migration

#3736 config: add GND to concepts and places
  rero_ils/config.py
  rero_ils/dojson/utils.py
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form_link-v0.0.1.json
  rero_ils/modules/entities/local_entities/proxy.py
  rero_ils/modules/entities/remote_entities/proxy.py
  rero_ils/modules/ext.py
  rero_ils/modules/views.py
  scripts/setup
  tests/api/entities/local_entities/test_local_entities_rest.py
  tests/api/entities/remote_entities/test_remote_entities_rest.py
  tests/conftest.py
  tests/unit/test_cql_parser.py
Labels: f: data, developers, f: data migration
