Repository rero/rero-ils, pull requests merged in 2024-12, with the labels that each got.

#3787 loan: fix organisation_pid function
  rero_ils/modules/acquisition/acq_invoices/api.py
  rero_ils/modules/acquisition/acq_orders/api.py
  rero_ils/modules/acquisition/acq_receipts/api.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/loans/api.py
  rero_ils/modules/locations/api.py
  scripts/test
  tests/api/circulation/test_locations_restrictions.py
  tests/ui/circulation/test_loan_utils.py
Labels: f: circulation, developers

#3794 chore(schema): update schemas
  rero_ils/modules/acquisition/acq_invoices/jsonschemas/acq_invoices/acq_invoice-v0.0.1.json
  rero_ils/modules/acquisition/acq_order_lines/jsonschemas/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/acquisition/acq_receipt_lines/jsonschemas/acq_receipt_lines/acq_receipt_line-v0.0.1.json
  rero_ils/modules/acquisition/budgets/jsonschemas/budgets/budget-v0.0.1.json
  rero_ils/modules/collections/jsonschemas/collections/collection-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_entity_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_document_relation-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_part_of-v0.0.1.json
  rero_ils/modules/holdings/jsonschemas/holdings/holding-v0.0.1.json
  rero_ils/modules/ill_requests/jsonschemas/ill_requests/ill_request-v0.0.1.json
  rero_ils/modules/items/jsonschemas/items/item-v0.0.1.json
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
Labels: f: circulation, f: data, f: user management, f: data migration

#3784 ui: get rid of bootstrap
  rero_ils/config.py
  rero_ils/jsonschemas/common/countries-v0.0.1.json
  rero_ils/modules/documents/templates/rero_ils/_anonymous_button.html
  rero_ils/modules/documents/templates/rero_ils/_document_online.html
  rero_ils/modules/documents/templates/rero_ils/_documents_description.html
  rero_ils/modules/documents/templates/rero_ils/_ill_request_button.html
  rero_ils/modules/documents/templates/rero_ils/detailed_view_documents.html
  rero_ils/modules/documents/views.py
  rero_ils/modules/ill_requests/templates/rero_ils/ill_request_form.html
  rero_ils/modules/patrons/templates/rero_ils/patron_profile.html
  rero_ils/modules/patrons/views.py
  rero_ils/modules/users/jsonschemas/users/user-v0.0.1.json
  rero_ils/modules/users/templates/rero_ils/user_password.html
  rero_ils/modules/users/templates/rero_ils/user_profile.html
  rero_ils/modules/users/views.py
  rero_ils/theme/assets/scss/rero_ils/babeltheque.scss
  rero_ils/theme/assets/scss/rero_ils/styles.scss
  rero_ils/theme/menus.py
  rero_ils/theme/templates/rero_ils/frontpage.html
  rero_ils/theme/templates/rero_ils/header.html
  rero_ils/theme/templates/rero_ils/oauth/base.html
  rero_ils/theme/templates/rero_ils/page.html
  rero_ils/theme/templates/rero_ils/professional.html
  rero_ils/theme/templates/rero_ils/search.html
  rero_ils/theme/webpack_assets/build/webpack.config.js
  scripts/setup
  tests/api/documents/test_documents_rest.py
  tests/api/patrons/test_patrons_rest.py
  tests/api/patrons/test_patrons_views.py
  tests/api/test_availability.py
  tests/ui/documents/test_documents_filter.py
  tests/ui/patrons/test_patrons_ui.py
  tests/ui/users/test_users_ui.py
Labels: f: circulation, f: data, developers, f: user management, f: data migration

#3786 oauth: adds user_id and patron_info
  pyproject.toml
  rero_ils/modules/patrons/views.py
  rero_ils/oauth/scopes.py
  setup.py
  tests/api/patrons/test_patrons_rest.py
Labels: f: user management

#3803 chore(fixtures): add missing serial acq settings
  data/libraries.json
Labels: dev: fixtures

#3804 primeng: fix patron editor
  rero_ils/jsonschemas/common/cantons-v0.0.1.json
  rero_ils/jsonschemas/common/countries-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_genre_form_link-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_subjects_entity_link-v0.0.1.json
  rero_ils/modules/patrons/jsonschemas/patrons/patron-v0.0.1.json
  rero_ils/theme/templates/rero_ils/frontpage.html
  rero_ils/theme/templates/rero_ils/header.html
  rero_ils/theme/templates/rero_ils/professional.html
Labels: f: data, f: user management, f: data migration
