Repository rero/rero-ils, pull requests merged in 2024-11, with the labels that each got.

#3768 release: v1.24.0
  CHANGELOG.md
  pyproject.toml
  rero_ils/version.py
  scripts/bootstrap
Labels: developers

#3779 fix ebooks dojson language
  rero_ils/dojson/utils.py
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
  rero_ils/modules/ebooks/dojson/contrib/marc21/model.py
  tests/unit/documents/test_documents_dojson.py
Labels: f: data

#3765 logging: add user information to sentry
  docs/conf.py
  rero_ils/config.py
  rero_ils/modules/patrons/api.py
  rero_ils/modules/patrons/utils.py
  rero_ils/modules/users/api.py
  rero_ils/modules/utils.py
  tests/ui/conftest.py
  tests/ui/test_views.py
Labels: dev: documentation, f: user management

#3775 general: fix cached timeout
  rero_ils/modules/cli/utils.py
  rero_ils/modules/documents/api_views.py
  rero_ils/modules/documents/utils.py
  rero_ils/modules/utils.py
  rero_ils/modules/views.py
  rero_ils/theme/views.py
  tests/unit/test_cli_utils.py
Labels: f: data

#3790 fix: clarify user login for patrons
  rero_ils/theme/templates/rero_ils/login_user.html
  scripts/test
Labels: developers
