Repository rero/rero-ils, pull requests merged in 2024-07, with the labels that each got.

#3673 dependencies: fix vulnerabilites
  poetry.lock
  pyproject.toml
  rero_ils/config.py
  rero_ils/modules/patrons/cli.py
  rero_ils/modules/patrons/utils.py
  rero_ils/modules/patrons/views.py
  rero_ils/modules/users/api.py
  rero_ils/theme/static/android-chrome-192x192.png
  rero_ils/theme/static/android-chrome-512x512.png
  rero_ils/theme/static/apple-touch-icon.png
  rero_ils/theme/static/favicon-16x16.png
  rero_ils/theme/static/favicon-32x32.png
  rero_ils/theme/static/favicon.ico
  rero_ils/theme/static/site.webmanifest
  rero_ils/theme/templates/rero_ils/breadcrumbs.html
  rero_ils/theme/templates/rero_ils/header.html
  rero_ils/theme/webpack.py
  rero_ils/theme/webpack_assets/.babelrc
  rero_ils/theme/webpack_assets/.eslintignore
  rero_ils/theme/webpack_assets/.eslintrc.js
  rero_ils/theme/webpack_assets/build/webpack.config.js
  rero_ils/theme/webpack_assets/package.json
  scripts/test
Labels: developers, f: user management

#3717 fix(jsonschemas): fix minItems
  rero_ils/modules/acquisition/acq_order_lines/jsonschemas/acq_order_lines/acq_order_line-v0.0.1.json
  rero_ils/modules/acquisition/acq_receipt_lines/jsonschemas/acq_receipt_lines/acq_receipt_line-v0.0.1.json
  rero_ils/modules/acquisition/acq_receipts/jsonschemas/acq_receipts/acq_receipt-v0.0.1.json
  rero_ils/modules/circ_policies/jsonschemas/circ_policies/circ_policy-v0.0.1.json
Labels: f: circulation, f: data migration

#3720 fix(tests): pin setuptools version
  poetry.lock
  pyproject.toml
  scripts/setup
Labels: developers

#3719 ebooks: fix harvest max results
  scripts/setup
Labels: developers

#3723 fix: font-src console error
  rero_ils/config.py
  scripts/test
Labels: developers

#3726 chore: fix safety tests
  scripts/test
Labels: developers

#3729 fix(circulation policies): improve data consistency
  rero_ils/modules/circ_policies/api.py
  rero_ils/modules/circ_policies/jsonschemas/circ_policies/circ_policy-v0.0.1.json
  tests/ui/circ_policies/test_circ_policies_api.py
Labels: f: circulation, f: data migration

#3728 loan tasks: ignore auto extend non extendable item
  rero_ils/modules/loans/tasks.py
  rero_ils/modules/operation_logs/es_templates/v7/operation_logs.json
  tests/ui/circulation/test_actions_auto_extend.py
Labels: f: circulation, f: activity-logs
