Repository rero/rero-ils, pull requests merged in 2024-04, with the labels that each got.

#3604 remote_entities: remove bf:Agent
  data/remote_entities_big.json
  data/remote_entities_small.json
  rero_ils/modules/documents/dojson/contrib/jsontomarc21/model.py
  rero_ils/modules/entities/dumpers/document.py
  rero_ils/modules/entities/remote_entities/mappings/v7/remote_entities/remote_entity-v0.0.1.json
  rero_ils/modules/imports/serializers/serializers.py
  tests/data/mef.json
  tests/unit/conftest.py
Labels: f: data, f: search, f: data migration, dev: fixtures

#3623 items: better call_number search
  rero_ils/modules/collections/api.py
  rero_ils/modules/holdings/api.py
  rero_ils/modules/items/api/issue.py
  rero_ils/modules/items/listener.py
  rero_ils/modules/items/mappings/v7/items/item-v0.0.1.json
  tests/api/collections/test_collections_api.py
  tests/data/holdings.json
  tests/ui/holdings/test_holdings_item.py
  tests/ui/holdings/test_holdings_patterns.py
Labels: f: search, f: serials, f: data migration

#3636 notifications: add circulation category
  rero_ils/modules/items/dumpers.py
  rero_ils/modules/notifications/subclasses/booking.py
  rero_ils/modules/notifications/subclasses/request.py
  rero_ils/modules/notifications/templates/email/booking/eng.txt
  rero_ils/modules/notifications/templates/email/booking/fre.txt
  rero_ils/modules/notifications/templates/email/booking/ger.txt
  rero_ils/modules/notifications/templates/email/booking/ita.txt
  rero_ils/modules/notifications/templates/email/request/eng.txt
  rero_ils/modules/notifications/templates/email/request/fre.txt
  rero_ils/modules/notifications/templates/email/request/ger.txt
  rero_ils/modules/notifications/templates/email/request/ita.txt
Labels: f: notifications

#3605 facet: fix year
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
  rero_ils/modules/documents/serializers/json.py
  rero_ils/modules/imports/api.py
  rero_ils/modules/imports/views.py
Labels: f: data

#3630 fix(templates): allow private delete for syslib
  rero_ils/modules/templates/permissions.py
  tests/api/templates/test_templates_permissions.py
  tests/api/templates/test_templates_rest.py
Labels: f: data, f: permissions

#3642 files: inject files information in the record index.
  pyproject.toml
  rero_ils/modules/files/api.py
  rero_ils/modules/files/components.py
  rero_ils/modules/files/dumpers.py
  rero_ils/modules/files/jsonschemas/__init__.py
  rero_ils/modules/files/jsonschemas/files/record-v1.0.0.json
  rero_ils/modules/files/mappings/__init__.py
  rero_ils/modules/files/mappings/v7/__init__.py
  rero_ils/modules/files/mappings/v7/files/record-v1.0.0.json
  rero_ils/modules/files/operations.py
  rero_ils/modules/files/schemas.py
  rero_ils/modules/files/services.py
  tests/api/files/test_files_rest.py
Labels: f: search, f: data migration

#3645 patron_transaction_events: add item informations
  rero_ils/config.py
  rero_ils/modules/patron_transaction_events/listener.py
  rero_ils/modules/patron_transaction_events/mappings/v7/patron_transaction_events/patron_transaction_event-v0.0.1.json
  rero_ils/modules/patron_transactions/api.py
  rero_ils/modules/patron_transactions/listener.py
  rero_ils/modules/patron_transactions/mappings/v7/patron_transactions/patron_transaction-v0.0.1.json
  tests/api/patron_transaction_events/test_patron_transaction_events_rest.py
  tests/api/patron_transactions/test_patron_transactions_rest.py
Labels: f: search, f: data migration

#3633 selfcheck: fix messages translations
  rero_ils/modules/selfcheck/api.py
Labels: f: circulation

#3654 documents: add 005 to marc21 dojson
  rero_ils/modules/documents/dojson/contrib/jsontomarc21/model.py
  tests/unit/conftest.py
  tests/unit/documents/test_documents_dojson_marc21.py
Labels: f: data

#3650 import: fix work access point
  rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
Labels: f: data
