Repository rero/rero-ils, pull requests merged in 2025-06, with the labels that each got.

#3869 fix(intended_audience): correct content of the dropdown
  rero_ils/jsonschemas/common/cantons-v0.0.1.json
  rero_ils/jsonschemas/common/countries-v0.0.1.json
  rero_ils/jsonschemas/common/currency-v0.0.1.json
  rero_ils/jsonschemas/common/languages-v0.0.1.json
  rero_ils/modules/acquisition/acq_accounts/jsonschemas/acq_accounts/acq_account-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_contribution_role-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_electronic_locator-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_identified_by-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_intended_audience-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_issuance-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_production_method-v0.0.1.json
  rero_ils/modules/documents/jsonschemas/documents/document_types-v0.0.1.json
  rero_ils/modules/vendors/jsonschemas/vendors/vendor-v0.0.1.json
Labels: f: data, f: data migration

#3872 chore(permissions): add details for acquisition permissions
  rero_ils/modules/acquisition/acq_order_lines/api.py
  rero_ils/modules/acquisition/acq_order_lines/permissions.py
  rero_ils/modules/acquisition/acq_receipt_lines/api.py
  rero_ils/modules/acquisition/acq_receipt_lines/permissions.py
  rero_ils/modules/acquisition/acq_receipts/api.py
  rero_ils/modules/acquisition/acq_receipts/permissions.py
  scripts/test
  tests/api/acq_receipts/test_acq_receipts_permissions.py
  tests/api/acq_receipts/test_acq_receipts_rest.py
  tests/ui/acq_receipts/test_acq_receipts_jsonresolver.py
Labels: developers, f: permissions

#3874 chore(user): update config for the datepicker
  rero_ils/modules/users/jsonschemas/users/user-v0.0.1.json
Labels: f: user management, f: data migration
