Repository rero/rero-ils, pull requests merged in 2025-02, with the labels that each got.

#3820 fix(tests): fix test problems
  .github/workflows/continuous-integration-test.yml
  poetry.lock
  pyproject.toml
  pytest.ini
  rero_ils/dojson/utils.py
  rero_ils/modules/serializers/__init__.py
  rero_ils/modules/utils.py
  rero_ils/modules/views.py
  tests/ui/locations/test_locations_other.py
  tests/ui/patron_transactions/test_patron_transactions_api.py
  tests/ui/test_filters.py
  tests/ui/test_permissions.py
Labels: f: data, dev: documentation

#3819 fix(stats): make active patrons period 12 months
  rero_ils/modules/stats/api/pricing.py
  tests/ui/stats/test_stats_pricing.py
Labels: f: statistics

#3817 cached: fix cached functions
  rero_ils/modules/cli/utils.py
  rero_ils/modules/documents/utils.py
Labels: f: data
