Repository rero/rero-ils, pull requests merged in 2025-01, with the labels that each got.

#3812 patron: Add search bar to patron profile page
  rero_ils/modules/patrons/templates/rero_ils/patron_profile.html
Labels: f: user management

#3809 fix(loans): anonymize notification's recipients
  rero_ils/modules/loans/logs/api.py
  tests/ui/loans/test_loans_operation_logs.py
Labels: f: circulation, f: activity-logs

#3810 messages: Add message cli
  rero_ils/filter.py
  rero_ils/modules/cli/messages.py
  rero_ils/modules/cli/reroils.py
  rero_ils/modules/messages.py
  rero_ils/theme/templates/rero_ils/_frontpage_block_global.html
  rero_ils/theme/templates/rero_ils/footer.html
  rero_ils/theme/views.py
  scripts/setup
  setup.py
  tests/ui/test_message.py
Labels: developers

#3808 files: change template and max_files_count
  rero_ils/config.py
  rero_ils/es_templates/v7/record.json
  rero_ils/modules/documents/dumpers/indexer.py
  rero_ils/modules/files/services.py
  rero_ils/modules/patrons/views.py
  tests/api/documents/test_documents_rest.py
  tests/ui/patrons/test_patrons_ui.py
Labels: f: search, f: user management, f: data migration

#3815 chore: update dependencies
  .github/workflows/continuous-integration-test.yml
  docker/uwsgi/uwsgi_rest.ini
  docker/uwsgi/uwsgi_ui.ini
  poetry.lock
  pyproject.toml
  rero_ils/modules/acquisition/acq_order_lines/listener.py
  rero_ils/modules/acquisition/acq_receipt_lines/listener.py
  rero_ils/modules/acquisition/acq_receipts/listener.py
  rero_ils/modules/items/views/rest.py
  rero_ils/modules/notifications/listener.py
  rero_ils/modules/sru/views.py
  rero_ils/modules/templates/listener.py
  rero_ils/modules/users/views.py
  scripts/bootstrap
  scripts/test
  tests/api/documents/test_documents_rest.py
  tests/ui/holdings/test_holdings_api.py
  tests/ui/notifications/test_notifications_api.py
Labels: f: data, developers, f: notifications, dev: documentation, f: user management
