Repository rero/rero-ils, pull requests merged in 2025-07, with the labels that each got.

#3876 fix(circ_policy): fix patron_setting not translated
  rero_ils/modules/circ_policies/jsonschemas/circ_policies/circ_policy-v0.0.1.json
Labels: f: circulation, f: data migration

#3875 Translations update from Hosted Weblate
  rero_ils/translations/de/LC_MESSAGES/messages.po
  rero_ils/translations/en/LC_MESSAGES/messages.po
  rero_ils/translations/fr/LC_MESSAGES/messages.po
  rero_ils/translations/it/LC_MESSAGES/messages.po
  rero_ils/translations/ta/LC_MESSAGES/messages.po
Labels: translations

#3893 ill requests: Fix populate document
  rero_ils/modules/ill_requests/views.py
Labels: f: circulation

#3921 feat(operation_log): add request start and expire date
  rero_ils/modules/loans/logs/api.py
  rero_ils/modules/operation_logs/es_templates/v7/operation_logs.json
  rero_ils/modules/operation_logs/jsonschemas/operation_logs/operation_log-v0.0.1.json
  tests/ui/loans/test_loans_operation_logs.py
Labels: f: circulation, f: data migration, f: activity-logs
